{#
/**
 * @file
 * Default theme implementation to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
    <div class="category-header-content">
        <div class="category-header-inner">
            <div class="category-header">
                <div class="breadcrumbs">
                    <span><a href="{{ path('<front>') }}">home</a> / </span>
                    <span>baby</span>
                </div>
                <h1>{{ name.0 }}</h1>
                {{ content|without('field_image') }}
            </div>
        </div>
    </div>
    {{ content.field_image.0 }}
</div>
