.right-off-canvas-menu{
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
.region-right-off-canvas{
}
  ul.menu{
    li{
      a{
        font-weight: 600;
        font-size: 14px;
        color: white;
        letter-spacing: 0;
        background-color: transparent;
        text-align: center;
      }
    }
  }
}
