// Non-modular or client styles for .l-footer region.

#footer-wrapper{
  max-width: 1440px;
  margin: 0 auto;
  #footer{
    @include breakpoint(large){
      @include flex-grid-row();
      max-width: 1440px;
      flex-wrap: nowrap;
    }
    .region-footer-first{
      max-width: 1140px;
      width: 100%;
      .paragraph--type--branch{
        max-width: 330px;
        margin: 0 auto;
        @include breakpoint(mediumplus){
        @include flex-grid-row();
          max-width: 670px;
          flex-wrap: nowrap;
          position: relative;
          justify-content: space-between;
          .hours-wrapper{
            max-width: 330px;
            width: 100%;
          }
          .base-contact-fields{
            max-width: 340px;
            width: 100%;
            padding-top: 75px;
            padding-left: 105px;
            padding-right: 40px;
          }
          .field-name-field-extra-contact-fields{
            max-width: 340px;
            width: 100%;
            position: absolute;
            right: -105px;
            top: 140px;
          }
        }
        @include breakpoint(large){
          margin-left: 0;
          margin-right: auto;
        }


      }
      .field-name-field-branches{
        &>.field-items{
          &>.field-item{
            @include breakpoint(large) {
              max-width: 760px;
              margin: 0 auto;
            }
          }
        }
      }
      .block-contact{
        @include grid-column-gutter();
        background-image: url("../images/back.jpg");
        padding-top: 45px;
        padding-bottom: 55px;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        .main-contact-data{
          z-index: 6;
          position: relative;
        }
        &::after{
          content: "";
          width: 100%;
          height: 100%;
          background-color: black;opacity: 0.5;
          position: absolute;
          top: 0;
          left: 0;

        }
        @include breakpoint(large){
          background-position-y: -235px;
        }
        .hours-wrapper{
          h2{
            opacity: 0.24;
            font-weight: 800;
            font-size: 57px;
            color: #FFFFFF;
            letter-spacing: 0;
            margin-bottom: 25px;
            text-transform: uppercase;
          }
          .field-item{
            font-weight: 400;
            font-size: 16px;
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 22px;
          }
          .paragraph--type--hours-item{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            width: 100%;
            max-width: 330px;
            justify-content: space-between;
          }
          .field-name-field-hour{
            .field-item{
              text-align: right;
              padding-left: 60px;
            }
          }
        }
        .base-contact-fields{
          p{
            font-weight: 400;
            font-size: 16px;
            color: #FFFFFF;
            letter-spacing: 0;
            margin-bottom: 0px;
            display: inline-block;
          }
          p.name{
            font-weight: 600;
            display: block;
          }
          p.postal-place{
            &::before{
              content: "-";
              padding-left: 4px;
              padding-right: 4px;
            }
            margin-bottom: 30px;
          }
        }
        .field-name-field-extra-contact-fields{
          span,a,p{
            font-weight: 400;
            font-size: 16px;
            color: #FFFFFF;
            letter-spacing: 0;
            margin-bottom: 0px;
          }
        }
      }
    }
    .region-footer-middle{
      max-width: 330px;
      margin: 0 auto;
      margin-top: 25px;
      margin-bottom: 25px;
      @include breakpoint(mediumplus){
        max-width: 260px;
        margin-left: 30px;
      }
      .block-social{
        .social_media{
          @include breakpoint(large){
            padding-right: 30px;
            padding-left: 30px;
          }
          @include breakpoint(xxlarge){
            padding-left: 0px;
          }
          h2{
            font-weight: 800;
            font-size: 41px;
            color: $primary-color;
            letter-spacing: 0;
            line-height: 42px;
            text-transform: lowercase;
            @include breakpoint(large){
              margin-bottom: 50px;
            }
          }
          .item-list{
            background-image: url("data:image/svg+xml,%3Csvg width='191' height='139' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cfilter id='a'%3E%3CfeColorMatrix in='SourceGraphic' values='0 0 0 0 0.000000 0 0 0 0 0.000000 0 0 0 0 0.000000 0 0 0 1.000000 0'/%3E%3C/filter%3E%3Cfilter id='d'%3E%3CfeColorMatrix in='SourceGraphic' values='0 0 0 0 0.000000 0 0 0 0 0.000000 0 0 0 0 0.000000 0 0 0 1.000000 0'/%3E%3C/filter%3E%3Cfilter id='g'%3E%3CfeColorMatrix in='SourceGraphic' values='0 0 0 0 0.000000 0 0 0 0 0.000000 0 0 0 0 0.000000 0 0 0 1.000000 0'/%3E%3C/filter%3E%3Cpath id='b' d='M0 .20441314h38.978089V47.72853H0z'/%3E%3Cpath id='e' d='M0 .20441314h38.978089V47.72853H0z'/%3E%3Cpath id='h' d='M0 .20441314h38.978089V47.72853H0z'/%3E%3C/defs%3E%3Cg transform='translate(0 2)' fill='none' fill-rule='evenodd'%3E%3Ccircle stroke='%23FDAE00' stroke-width='3' cx='167' cy='20' r='20'/%3E%3Ccircle stroke='%23FDAE00' stroke-width='3' cx='125' cy='38' r='17'/%3E%3Ccircle stroke='%23FDAE00' stroke-width='2' cx='159' cy='56' r='5'/%3E%3Ccircle stroke='%23FDAE00' cx='151' cy='47' r='2'/%3E%3Ccircle stroke='%23FDAE00' stroke-width='2' cx='145' cy='79' r='3'/%3E%3Cg filter='url(%23a)'%3E%3Cg transform='translate(0 87.125082)'%3E%3Cmask id='c' fill='%23fff'%3E%3Cuse xlink:href='%23b'/%3E%3C/mask%3E%3Cpath d='M33.3986378 44.8951999c-.9901098 1.1263933-1.7105488.8436429-2.7661829.3775491-1.0536586-.4647771-1.4685366-.7103322-1.1149025-1.4466682.3621952-.7366651 2.0072196-4.1793734 2.7806708-4.1882608 1.8280975-.0210664 1.5001463.9358084 1.0875731 1.8324464-.4092804.8933464-1.9150243 2.6984724-1.508378 2.8702951.3997317.1777476 1.170878-.9216544 1.9479512-1.9018997.7793781-.981891 2.1020488-2.4595005 2.7335854-2.3176315.6239634.146148-2.1715244 3.6490929-3.1603171 4.7741696m-10.1401463-8.973622c-8.1335854-3.770883-8.7177074-10.2385926-9.0552074-12.707968-.3375-2.4683879 3.189622-11.7863136 10.5774147-14.62599653 0 0-3.0987439 1.87359163-2.2946708 1.91309113.81.0460827 2.4510732-.71658626 3.7385122-1.34824866 1.2897439-.63232074 2.1985244-1.21263383 2.1985244-1.21263383s-.0388536-.22613448-2.3832439-.1300191c0 0 2.2186098-1.06483996 4.9334269-1.28570785 0 0 .635817 10.88605484 1.3519756 13.83304464 0 0-.8735488-.8706342-1.1991952-.4460149-.3210365.4256069-.1975609 2.4647672.5972927 2.699789l.7981464.2350219s1.5445975 9.0829038 3.6387439 14.3587168c0 0-4.7730732 2.4861627-12.9017195-1.2830746m.3984146 4.5934596c-.8205366.7172446-.9426951.3535203-1.8633293-.2044098-.9110853-.5605633-.9407195-.7876853-.2034878-1.4973592.7454634-.7109711 2.4760976-.8278431 1.7480854-.6161917-.5172805.1445022-.6358171.922971-.5785244 1.1777426.0602561.2488467.8267927.0816322 1.4158537-.0806448.5841219-.162277.2950243.4976934-.5185976 1.2208629m1.170878-37.87538646c1.1840488-.46477713 2.3196952-1.22975026 3.9821708-.23864265 1.6611585.99176594 1.6117683 2.29162777.3375 2.46575461-1.2673537.17346852-2.492561-.95259563-3.7105244-1.47398867-1.2143415-.51810142.3407927 2.47233785.3407927 2.47233785s-1.3282683.86635511-2.2159756 1.06187751c-.8854025.19947234-2.4550244-1.799201-2.4760976-1.94567822-.0210732-.15042716 2.5643415-1.87523748 3.7421341-2.34166043M5.30579634 38.9814705s-1.77310975-6.3090534 2.70428049-12.559845c0 0-6.00552439-7.7122721-5.2307561-12.6167901 0 0 8.44342687 3.7949119 9.31829267 9.6220717 0 0-.3572561-.4107945-.752378-.5065807 0 0 .6618292 3.18267.4326585 4.2830595 0 0 .7958415.2732047.8300854-.0375245 0 0 1.4649146 5.1322982-7.30218296 11.8156091M33.0400646 6.01389353s-.0977926-1.2843912-.2364146-1.72086038C32.6646988 3.85524733 29.2508451.5886409 28.2116744.27034098c-1.0279756-.3150083-4.3466707.5200764-7.1846342 2.05068098-2.8369756 1.53093374-2.9943658 2.62144836-2.0928292 3.10334194.9054878.4894643 2.5136341 2.78142123 2.5136341 2.78142123-5.5728658 3.27615217-8.8448049 9.96769207-8.8448049 9.96769207C4.64627195 10.7321056-.00003293 10.7535011-.00003293 10.7535011c.06486586 7.152038 5.30582927 15.9620663 5.30582927 15.9620663-4.8672439 8.4351125-1.1817439 15.8547594-1.1817439 15.8547594C8.15462561 41.4110172 14.6711744 31.6816387 14.6711744 31.6816387c.7359146.8940047 4.3302073 3.7524499 5.3670732 4.6797 1.0414756.9219836-.0388537 1.3726067-1.0688049 2.200779-1.0273171.8278431-1.061561 1.1356099-.7135244 1.4697096.3467195.332783 4.0325488 2.7264511 4.6449878 2.7916252.6233049.0720866 2.0622073-1.1181642 3.0414512-2.3176315.9795732-1.1988091 1.4026829-.8755717 2.3233171-.8515429.914378.028308 1.2143415.5220514 1.3365.8867632.1270976.3640535-1.2508903 1.9976859-2.5264756 3.237311-1.2801951 1.2439042-.6654512 1.8442962-.197561 1.9328409.4715122.0859113 5.2449146 2.1026886 5.8889634 2.0148023.6493171-.0895322 2.1619756-1.6681944 3.7753903-3.7899745 1.616378-2.1273758 2.4355975-5.0559325 2.4355975-5.0559325s-3.5890244-8.959468-4.8800853-17.3182149C32.80365 13.2100392 33.0400646 6.01389353 33.0400646 6.01389353' fill='%23EEAC42' mask='url(%23c)'/%3E%3C/g%3E%3Cpath d='M45.7101768 105.5799268l-.0668414-.1556938c.0398414.1000653.0668414.1556938.0668414.1556938' fill='%23EEAC42'/%3E%3Cpath d='M51.3418171 111.0558045c-.2127073 1.2468667-1.0803293 3.2712147-1.7256951 4.6569879l-.9960366 1.6563446s-2.2265122 4.2508016-7.8932195 5.8028018c0 0-5.8129025-11.8534628-4.6726464-29.14863623 0 0 3.6966951-.64351225 6.8122317 1.62671997l.0069147-.00197498 2.1586829 1.23073775c.0079024.00625409.0079024.00625409.0141585.01217901l.0819878.04937434c1.2555.74094424 3.945622 3.68365504 3.945622 3.68365504l-1.173183 1.9884693-2.1906219 2.9673979s-1.8136098 1.8472587-1.5317561 2.4552214c.2762561.612571 2.0799878.9720162 3.721061 1.2857079 1.6473292.3051334 3.6542195.4878185 3.4425 1.7350143m.3621951-2.9236193c-1.3970854-.1714935-4.5748537-.5385095-4.6133781-.8314639-.0411585-.2932836 1.8327074-2.7689131 2.6641098-3.9509348.8297561-1.1793884 1.6763049-2.2106538 1.6835488-2.7412634.0009878-.5348887-1.3746951-2.787017-6.5850366-6.34065296-5.2093537-3.55166096-11.0890976-2.52533298-11.0890976-2.52533298l.6325244 11.87683324c.6325244 11.8765041 5.3071464 22.1282632 5.3071464 22.1282632 12.7782439-4.1072869 13.811817-14.3761624 14.004439-15.7774062.1896585-1.3936731-.6101342-1.6658903-2.0042561-1.8380422' fill='%23EEAC42'/%3E%3Cpath d='M44.2278439 99.7241299c.1445488 1.0572692-.6631463 2.0338937-1.7978049 2.1889291-1.1356463.1550354-2.1738292-.5701091-2.3147561-1.6270491-.1471829-1.0529902.6572195-2.0335646 1.7928659-2.1882708 1.1379512-.156023 2.1738292.5734006 2.3196951 1.6263908' fill='%23EEAC42'/%3E%3C/g%3E%3Cg filter='url(%23d)'%3E%3Cg transform='translate(69 87.125082)'%3E%3Cmask id='f' fill='%23fff'%3E%3Cuse xlink:href='%23e'/%3E%3C/mask%3E%3Cpath d='M33.3986378 44.8951999c-.9901098 1.1263933-1.7105488.8436429-2.7661829.3775491-1.0536586-.4647771-1.4685366-.7103322-1.1149025-1.4466682.3621952-.7366651 2.0072196-4.1793734 2.7806708-4.1882608 1.8280975-.0210664 1.5001463.9358084 1.0875731 1.8324464-.4092804.8933464-1.9150243 2.6984724-1.508378 2.8702951.3997317.1777476 1.170878-.9216544 1.9479512-1.9018997.7793781-.981891 2.1020488-2.4595005 2.7335854-2.3176315.6239634.146148-2.1715244 3.6490929-3.1603171 4.7741696m-10.1401463-8.973622c-8.1335854-3.770883-8.7177074-10.2385926-9.0552074-12.707968-.3375-2.4683879 3.189622-11.7863136 10.5774147-14.62599653 0 0-3.0987439 1.87359163-2.2946708 1.91309113.81.0460827 2.4510732-.71658626 3.7385122-1.34824866 1.2897439-.63232074 2.1985244-1.21263383 2.1985244-1.21263383s-.0388536-.22613448-2.3832439-.1300191c0 0 2.2186098-1.06483996 4.9334269-1.28570785 0 0 .635817 10.88605484 1.3519756 13.83304464 0 0-.8735488-.8706342-1.1991952-.4460149-.3210365.4256069-.1975609 2.4647672.5972927 2.699789l.7981464.2350219s1.5445975 9.0829038 3.6387439 14.3587168c0 0-4.7730732 2.4861627-12.9017195-1.2830746m.3984146 4.5934596c-.8205366.7172446-.9426951.3535203-1.8633293-.2044098-.9110853-.5605633-.9407195-.7876853-.2034878-1.4973592.7454634-.7109711 2.4760976-.8278431 1.7480854-.6161917-.5172805.1445022-.6358171.922971-.5785244 1.1777426.0602561.2488467.8267927.0816322 1.4158537-.0806448.5841219-.162277.2950243.4976934-.5185976 1.2208629m1.170878-37.87538646c1.1840488-.46477713 2.3196952-1.22975026 3.9821708-.23864265 1.6611585.99176594 1.6117683 2.29162777.3375 2.46575461-1.2673537.17346852-2.492561-.95259563-3.7105244-1.47398867-1.2143415-.51810142.3407927 2.47233785.3407927 2.47233785s-1.3282683.86635511-2.2159756 1.06187751c-.8854025.19947234-2.4550244-1.799201-2.4760976-1.94567822-.0210732-.15042716 2.5643415-1.87523748 3.7421341-2.34166043M5.30579634 38.9814705s-1.77310975-6.3090534 2.70428049-12.559845c0 0-6.00552439-7.7122721-5.2307561-12.6167901 0 0 8.44342687 3.7949119 9.31829267 9.6220717 0 0-.3572561-.4107945-.752378-.5065807 0 0 .6618292 3.18267.4326585 4.2830595 0 0 .7958415.2732047.8300854-.0375245 0 0 1.4649146 5.1322982-7.30218296 11.8156091M33.0400646 6.01389353s-.0977926-1.2843912-.2364146-1.72086038C32.6646988 3.85524733 29.2508451.5886409 28.2116744.27034098c-1.0279756-.3150083-4.3466707.5200764-7.1846342 2.05068098-2.8369756 1.53093374-2.9943658 2.62144836-2.0928292 3.10334194.9054878.4894643 2.5136341 2.78142123 2.5136341 2.78142123-5.5728658 3.27615217-8.8448049 9.96769207-8.8448049 9.96769207C4.64627195 10.7321056-.00003293 10.7535011-.00003293 10.7535011c.06486586 7.152038 5.30582927 15.9620663 5.30582927 15.9620663-4.8672439 8.4351125-1.1817439 15.8547594-1.1817439 15.8547594C8.15462561 41.4110172 14.6711744 31.6816387 14.6711744 31.6816387c.7359146.8940047 4.3302073 3.7524499 5.3670732 4.6797 1.0414756.9219836-.0388537 1.3726067-1.0688049 2.200779-1.0273171.8278431-1.061561 1.1356099-.7135244 1.4697096.3467195.332783 4.0325488 2.7264511 4.6449878 2.7916252.6233049.0720866 2.0622073-1.1181642 3.0414512-2.3176315.9795732-1.1988091 1.4026829-.8755717 2.3233171-.8515429.914378.028308 1.2143415.5220514 1.3365.8867632.1270976.3640535-1.2508903 1.9976859-2.5264756 3.237311-1.2801951 1.2439042-.6654512 1.8442962-.197561 1.9328409.4715122.0859113 5.2449146 2.1026886 5.8889634 2.0148023.6493171-.0895322 2.1619756-1.6681944 3.7753903-3.7899745 1.616378-2.1273758 2.4355975-5.0559325 2.4355975-5.0559325s-3.5890244-8.959468-4.8800853-17.3182149C32.80365 13.2100392 33.0400646 6.01389353 33.0400646 6.01389353' fill='%23EEAC42' mask='url(%23f)'/%3E%3C/g%3E%3Cpath d='M114.7101768 105.5799268l-.0668414-.1556938c.0398414.1000653.0668414.1556938.0668414.1556938' fill='%23EEAC42'/%3E%3Cpath d='M120.3418171 111.0558045c-.2127073 1.2468667-1.0803293 3.2712147-1.7256951 4.6569879l-.9960366 1.6563446s-2.2265122 4.2508016-7.8932195 5.8028018c0 0-5.8129025-11.8534628-4.6726464-29.14863623 0 0 3.6966951-.64351225 6.8122317 1.62671997l.0069147-.00197498 2.1586829 1.23073775c.0079024.00625409.0079024.00625409.0141585.01217901l.0819878.04937434c1.2555.74094424 3.945622 3.68365504 3.945622 3.68365504l-1.173183 1.9884693-2.1906219 2.9673979s-1.8136098 1.8472587-1.5317561 2.4552214c.2762561.612571 2.0799878.9720162 3.721061 1.2857079 1.6473292.3051334 3.6542195.4878185 3.4425 1.7350143m.3621951-2.9236193c-1.3970854-.1714935-4.5748537-.5385095-4.6133781-.8314639-.0411585-.2932836 1.8327074-2.7689131 2.6641098-3.9509348.8297561-1.1793884 1.6763049-2.2106538 1.6835488-2.7412634.0009878-.5348887-1.3746951-2.787017-6.5850366-6.34065296-5.2093537-3.55166096-11.0890976-2.52533298-11.0890976-2.52533298l.6325244 11.87683324c.6325244 11.8765041 5.3071464 22.1282632 5.3071464 22.1282632 12.7782439-4.1072869 13.811817-14.3761624 14.004439-15.7774062.1896585-1.3936731-.6101342-1.6658903-2.0042561-1.8380422' fill='%23EEAC42'/%3E%3Cpath d='M113.2278439 99.7241299c.1445488 1.0572692-.6631463 2.0338937-1.7978049 2.1889291-1.1356463.1550354-2.1738292-.5701091-2.3147561-1.6270491-.1471829-1.0529902.6572195-2.0335646 1.7928659-2.1882708 1.1379512-.156023 2.1738292.5734006 2.3196951 1.6263908' fill='%23EEAC42'/%3E%3C/g%3E%3Cg filter='url(%23g)'%3E%3Cg transform='translate(137 87.125082)'%3E%3Cmask id='i' fill='%23fff'%3E%3Cuse xlink:href='%23h'/%3E%3C/mask%3E%3Cpath d='M33.3986378 44.8951999c-.9901098 1.1263933-1.7105488.8436429-2.7661829.3775491-1.0536586-.4647771-1.4685366-.7103322-1.1149025-1.4466682.3621952-.7366651 2.0072196-4.1793734 2.7806708-4.1882608 1.8280975-.0210664 1.5001463.9358084 1.0875731 1.8324464-.4092804.8933464-1.9150243 2.6984724-1.508378 2.8702951.3997317.1777476 1.170878-.9216544 1.9479512-1.9018997.7793781-.981891 2.1020488-2.4595005 2.7335854-2.3176315.6239634.146148-2.1715244 3.6490929-3.1603171 4.7741696m-10.1401463-8.973622c-8.1335854-3.770883-8.7177074-10.2385926-9.0552074-12.707968-.3375-2.4683879 3.189622-11.7863136 10.5774147-14.62599653 0 0-3.0987439 1.87359163-2.2946708 1.91309113.81.0460827 2.4510732-.71658626 3.7385122-1.34824866 1.2897439-.63232074 2.1985244-1.21263383 2.1985244-1.21263383s-.0388536-.22613448-2.3832439-.1300191c0 0 2.2186098-1.06483996 4.9334269-1.28570785 0 0 .635817 10.88605484 1.3519756 13.83304464 0 0-.8735488-.8706342-1.1991952-.4460149-.3210365.4256069-.1975609 2.4647672.5972927 2.699789l.7981464.2350219s1.5445975 9.0829038 3.6387439 14.3587168c0 0-4.7730732 2.4861627-12.9017195-1.2830746m.3984146 4.5934596c-.8205366.7172446-.9426951.3535203-1.8633293-.2044098-.9110853-.5605633-.9407195-.7876853-.2034878-1.4973592.7454634-.7109711 2.4760976-.8278431 1.7480854-.6161917-.5172805.1445022-.6358171.922971-.5785244 1.1777426.0602561.2488467.8267927.0816322 1.4158537-.0806448.5841219-.162277.2950243.4976934-.5185976 1.2208629m1.170878-37.87538646c1.1840488-.46477713 2.3196952-1.22975026 3.9821708-.23864265 1.6611585.99176594 1.6117683 2.29162777.3375 2.46575461-1.2673537.17346852-2.492561-.95259563-3.7105244-1.47398867-1.2143415-.51810142.3407927 2.47233785.3407927 2.47233785s-1.3282683.86635511-2.2159756 1.06187751c-.8854025.19947234-2.4550244-1.799201-2.4760976-1.94567822-.0210732-.15042716 2.5643415-1.87523748 3.7421341-2.34166043M5.30579634 38.9814705s-1.77310975-6.3090534 2.70428049-12.559845c0 0-6.00552439-7.7122721-5.2307561-12.6167901 0 0 8.44342687 3.7949119 9.31829267 9.6220717 0 0-.3572561-.4107945-.752378-.5065807 0 0 .6618292 3.18267.4326585 4.2830595 0 0 .7958415.2732047.8300854-.0375245 0 0 1.4649146 5.1322982-7.30218296 11.8156091M33.0400646 6.01389353s-.0977926-1.2843912-.2364146-1.72086038C32.6646988 3.85524733 29.2508451.5886409 28.2116744.27034098c-1.0279756-.3150083-4.3466707.5200764-7.1846342 2.05068098-2.8369756 1.53093374-2.9943658 2.62144836-2.0928292 3.10334194.9054878.4894643 2.5136341 2.78142123 2.5136341 2.78142123-5.5728658 3.27615217-8.8448049 9.96769207-8.8448049 9.96769207C4.64627195 10.7321056-.00003293 10.7535011-.00003293 10.7535011c.06486586 7.152038 5.30582927 15.9620663 5.30582927 15.9620663-4.8672439 8.4351125-1.1817439 15.8547594-1.1817439 15.8547594C8.15462561 41.4110172 14.6711744 31.6816387 14.6711744 31.6816387c.7359146.8940047 4.3302073 3.7524499 5.3670732 4.6797 1.0414756.9219836-.0388537 1.3726067-1.0688049 2.200779-1.0273171.8278431-1.061561 1.1356099-.7135244 1.4697096.3467195.332783 4.0325488 2.7264511 4.6449878 2.7916252.6233049.0720866 2.0622073-1.1181642 3.0414512-2.3176315.9795732-1.1988091 1.4026829-.8755717 2.3233171-.8515429.914378.028308 1.2143415.5220514 1.3365.8867632.1270976.3640535-1.2508903 1.9976859-2.5264756 3.237311-1.2801951 1.2439042-.6654512 1.8442962-.197561 1.9328409.4715122.0859113 5.2449146 2.1026886 5.8889634 2.0148023.6493171-.0895322 2.1619756-1.6681944 3.7753903-3.7899745 1.616378-2.1273758 2.4355975-5.0559325 2.4355975-5.0559325s-3.5890244-8.959468-4.8800853-17.3182149C32.80365 13.2100392 33.0400646 6.01389353 33.0400646 6.01389353' fill='%23EEAC42' mask='url(%23i)'/%3E%3C/g%3E%3Cpath d='M182.7101768 105.5799268l-.0668414-.1556938c.0398414.1000653.0668414.1556938.0668414.1556938' fill='%23EEAC42'/%3E%3Cpath d='M188.3418171 111.0558045c-.2127073 1.2468667-1.0803293 3.2712147-1.7256951 4.6569879l-.9960366 1.6563446s-2.2265122 4.2508016-7.8932195 5.8028018c0 0-5.8129025-11.8534628-4.6726464-29.14863623 0 0 3.6966951-.64351225 6.8122317 1.62671997l.0069147-.00197498 2.1586829 1.23073775c.0079024.00625409.0079024.00625409.0141585.01217901l.0819878.04937434c1.2555.74094424 3.945622 3.68365504 3.945622 3.68365504l-1.173183 1.9884693-2.1906219 2.9673979s-1.8136098 1.8472587-1.5317561 2.4552214c.2762561.612571 2.0799878.9720162 3.721061 1.2857079 1.6473292.3051334 3.6542195.4878185 3.4425 1.7350143m.3621951-2.9236193c-1.3970854-.1714935-4.5748537-.5385095-4.6133781-.8314639-.0411585-.2932836 1.8327074-2.7689131 2.6641098-3.9509348.8297561-1.1793884 1.6763049-2.2106538 1.6835488-2.7412634.0009878-.5348887-1.3746951-2.787017-6.5850366-6.34065296-5.2093537-3.55166096-11.0890976-2.52533298-11.0890976-2.52533298l.6325244 11.87683324c.6325244 11.8765041 5.3071464 22.1282632 5.3071464 22.1282632 12.7782439-4.1072869 13.811817-14.3761624 14.004439-15.7774062.1896585-1.3936731-.6101342-1.6658903-2.0042561-1.8380422' fill='%23EEAC42'/%3E%3Cpath d='M181.2278439 99.7241299c.1445488 1.0572692-.6631463 2.0338937-1.7978049 2.1889291-1.1356463.1550354-2.1738292-.5701091-2.3147561-1.6270491-.1471829-1.0529902.6572195-2.0335646 1.7928659-2.1882708 1.1379512-.156023 2.1738292.5734006 2.3196951 1.6263908' fill='%23EEAC42'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
            width: 191px;
            height: 137px;
            background-size: cover;
            ul{
              position: relative;
              li{
                &:nth-of-type(2){
                  position: absolute;
                  right: 56Px;
                  top: 23px;
                  a{
                    font-size: 21Px;
                    color: black;
                    svg{
                      font-size: 21Px;
                    }
                  }
                }
                &:nth-of-type(1){
                  position: absolute;
                  right: 15px;
                  top: -3px;
                  a{
                    font-size: 31px;
                    color: black;
                    svg{
                      font-size: 31px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  div.meta-footer{
    ul.menu{
      max-width: 330px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      @include breakpoint(large){
        flex-direction: row;
        max-width: 840px;
      }
      @include breakpoint(xlarge){
        max-width: 1310px;
        padding-left: 25px;
      }
      @include breakpoint(1310px){
        padding-left: 0px;
      }
      li{
        margin-right: 50px;
        &:last-of-type{
          margin-right: 0px;
          @include breakpoint(large){
            display: flex;
          }

        }
        a,span{
          font-weight: 600;
          font-size: 14px;
          color: #000000;
          cursor: pointer;
          letter-spacing: 0;
          line-height: 42px;
          padding: 0px;
          @include breakpoint(mediumplus){
          line-height: 0;
            margin-top: 35px;
            margin-bottom: 35px;
          }
        }
      }
    }
  }
}
