.region-meta-header{
  background: $light-gray;
  & > section{
    @include grid-row();
    @include grid-col-gutter();
    padding-top:5px;
    padding-bottom:5px;
  }
  .body{
    color: #9B9B9B;
    p{
      margin:0;
    }
    a{
      color: #9B9B9B;
      font-weight:$global-weight-bold;
      font-size:13px;
      text-transform: uppercase;
      letter-spacing: 2.3px;
      transition: color 0.2s;
      &:hover{
        color: darken(#9B9B9B, 20);
      }
    }
  }
}

.site-header{
  @include grid-col-gutter();
  @include grid-row();
  max-width: $max-container;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top:0px;
  padding-bottom:0px;
  @media screen and (min-width: 1270px){
    padding: 0px!important;
  }
  .hamburger{
    display: flex;
    flex-direction: column;
    .menu-title{
      display: block;
      text-transform: lowercase;
      font-weight:500;
    }
  }
}

.site-branding{
  svg{
    width:115px;
    height:auto;
  }
}

.region-header{
  flex:1;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.block-useraccountmenu{
  margin-right:16px;
  .dropdown-pane{
    width:auto;
  }
  button{
    cursor: pointer;
  }
}

.block-commerce-cart{
  margin-right:16px;
  min-width: 61px;
  .cart-block-link{
    position: relative;
    display: block;
    .cart-block-summary-count{
      display: block;
      position: absolute;
      text-align: center;
      background: #FDAE00;
      color: #fff;
      width: 20px;
      height: 20px;
      border-radius: 20px;
      font-size: 14px;
      bottom: 7px;
      right: 13px;
      font-weight: 600;
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 33px;
      line-height: 17px;
    }
  }
}

.block-metamenu,
.block-base-main-menu{
  display: none;
}

@media screen and (min-width: $mobile-menu-breakpoint){
  .region-header{
    @include flex-grid-row();
    max-width: $max-container;
    flex-wrap: nowrap;
    margin-top: 0px;
    .hamburger{
      display: none;
    }
    .block-commerce-cart{
      margin-top: 32px;
      margin-bottom: auto;
      margin-right: 0px;
    }
    .block-base-branding{

      z-index: 5;

    }
  }
  .block-metamenu{
    display: block;
    ul.menu{
      li{
        a{
          text-transform: uppercase;
          font-weight:$global-weight-bold;
          color: #000;
          letter-spacing: 2px;
          font-size:14px;
          transition: color 0.2s;
          &:hover,
          &.is-active,
          &:focus{
            color: $primary-color;
          }
        }
      }
    }
  }
  .block-base-main-menu{
    display: block;
    width:100%;
    margin-top: 0;
    margin-bottom: auto;
    ul.menu{
      display: flex;
      justify-content:flex-end;
      li{
        a{
          text-transform: lowercase;
          transition: color 0.2s;
          font-weight: 600;
          font-size: 16px;
          color: #000000;
          letter-spacing: 0;
          line-height: 16px;
          padding: 35px 20px;
          &:hover,
          &.is-active,
          &:focus{
            color: $primary-color;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 915px){
  .region-header{

  }
  .block-base-main-menu{
  }
  .site-branding{
    svg{

    }
  }
}

.hamburger{
  .menu-title{
    display: none!important;
  }
  .hamburger-inner{
    background-color: $primary-color;
    &::before{
      background-color: $primary-color;
    }
    &::after{
      background-color: $primary-color;
    }
  }
}

.block-system-branding-block{
  margin-left: 0;
  margin-right: auto;
  @include breakpoint(mediumplus){
    margin-top: 0px;
    margin-left: -44px;
    margin-right: auto;
    margin-bottom: 65Px;
    transform: scale(0.6);
  }
  @include breakpoint(large){
    margin-left: -22px;
    transform: scale(0.8);
  }
  @include breakpoint(xlarge){
    transform: scale(1);
    margin-left: 0;
    margin-top: 45px;
    margin-bottom: 0;
  }
}
.section-webshop{
  .block-system-branding-block{
    margin-top: 20px;
    margin-bottom: 15px;
    .branding-base{
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='130px' height='48px' viewBox='0 0 130 48' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup%3C/title%3E%3Cg id='Shop-overview-+-detail' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='1.1-Desktop---Shop-item-waarborg-per-stuk---detail' transform='translate(-84.000000, -20.000000)' fill='%23A17D23'%3E%3Cg id='Group' transform='translate(84.000000, 20.000000)'%3E%3Cpolygon id='Fill-1' points='23.5463072 0 23.3177022 5.98083067 22.7080891 10.9648562 21.031653 17.0223642 17.6787808 24.2297125 13.5638921 30.2875399 8.38218054 36.115016 1.98124267 41.6357827 0 42.9392971 0 48 6.17233294 43.8594249 12.8780774 38.0316294 18.3645955 31.8977636 22.7080891 25.456869 26.2895662 17.8658147 28.042204 11.4249201 28.7283363 6.1341853 28.8042204 3.52683706 101.19578 3.52683706 101.271981 6.1341853 101.957796 11.4249201 103.710434 17.8658147 107.291911 25.456869 111.635087 31.8977636 117.121923 38.0316294 123.903869 43.8594249 130 48 130 42.9392971 128.018757 41.6357827 121.617819 36.115016 116.436108 30.2875399 112.321219 24.2297125 108.968665 17.0223642 107.291911 10.9648562 106.682615 5.98083067 106.45401 0'%3E%3C/polygon%3E%3Cpath d='M71.0836527,41.3538025 C71.0655382,41.413434 71.0358677,41.4698247 71.004948,41.5239468 C70.3072248,42.7515782 69.4461581,43.8524926 68.5291861,44.9057667 C68.2006252,45.2833249 67.7739959,45.4699975 67.2664756,45.2969364 C66.7945598,45.1352184 66.3388847,44.9329897 65.9181894,44.6581662 C65.6136773,44.4595025 65.5590212,44.2436624 65.7161183,43.9056424 C65.927559,43.4522485 66.1446216,43.0014472 66.3744892,42.5580998 C66.6911819,41.9478491 67.0075622,41.336626 67.4529307,40.8116094 C67.6072169,40.62915 67.778993,40.4940068 68.0151071,40.5461844 C68.9039703,40.5863708 69.1091646,40.9247149 68.768111,41.7624728 C68.7562428,41.7913163 68.7459363,41.820808 68.7337558,41.8499756 C68.4917076,42.4336515 68.1075538,42.927556 67.7921105,43.4648878 C67.6815491,43.6525326 67.580982,43.8473073 67.4885352,44.0449987 C67.4554293,44.1156491 67.4329423,44.211578 67.5063375,44.2789876 C67.5803574,44.3473694 67.6690563,44.3049143 67.7343312,44.2686169 C67.8861188,44.1830586 68.0191672,44.0676846 68.1284793,43.927032 C68.4592263,43.5018334 68.7831024,43.0711253 69.1188465,42.650788 C69.5970087,42.0522042 70.0701738,41.4448702 70.7204244,41.0303663 C70.846914,40.9499934 71.0093205,40.8517959 71.140495,40.9807814 C71.2576151,41.0964795 71.1214435,41.2309745 71.0836527,41.3538025 M61.0822239,37.6488705 C57.4371352,35.93252 54.9610609,33.2008132 54.1768249,29.0194773 C53.9894328,28.0212976 53.8089118,27.0244142 54.0615788,25.9941502 C54.7018352,23.3839751 55.9111388,21.0914026 57.6095359,19.0739777 C58.6654904,17.8197714 59.8904101,16.7755717 61.3605012,16.0700401 C61.3926702,16.0515673 61.4270254,16.0292055 61.4538849,16.0726328 C61.4570081,16.077494 61.4226529,16.107958 61.4054753,16.1264308 C61.1268857,16.3354652 60.8392388,16.5328325 60.5737667,16.757747 C60.4260392,16.8831677 60.1346445,17.007292 60.2280282,17.2046593 C60.2998619,17.3566549 60.597503,17.2500311 60.7908292,17.1972054 C61.7868182,16.9262709 62.6956699,16.4375517 63.609831,15.966009 C64.0398959,15.7440113 64.4665253,15.5096983 64.9115815,15.1784841 C64.3269182,15.035563 63.7972232,15.0426928 63.2272388,15.0841756 C63.2865797,15.0303776 63.3056312,15.0025064 63.3315538,14.9911634 C64.402812,14.5270747 65.5193566,14.243825 66.6696318,14.0947462 C66.8326629,14.0736807 66.8573362,14.1550259 66.8638949,14.2891968 C66.9532185,16.1056894 67.0881408,17.9189412 67.2358682,19.7308966 C67.3423694,21.0401973 67.4566786,22.3485257 67.6368873,23.6497242 C67.6987267,24.0966365 67.7680618,24.5429006 67.8383338,25.0206009 C67.6743657,24.9139771 67.5516239,24.8206409 67.4176386,24.7506386 C67.0909517,24.5795221 66.9160524,24.671238 66.8735768,25.0481481 C66.836723,25.3722324 66.8407832,25.6982612 66.8957516,26.0226696 C66.9881983,26.5674554 67.218066,26.9722367 67.8049156,27.0412666 C67.9754424,27.0613599 68.0516485,27.1660391 68.0850668,27.350119 C68.301817,28.5365917 68.5141947,29.7243607 68.7609276,30.9040277 C69.2806284,33.388134 69.8602946,35.8570083 70.728857,38.2396763 C70.8350459,38.5303799 70.7832007,38.630846 70.516167,38.7264509 C69.0782449,39.2410968 67.6034691,39.3237383 66.1074555,39.1487328 C64.3519038,38.9432633 62.6856757,38.4036629 61.0822239,37.6488705 M61.7343484,40.602251 C61.5107272,40.9438358 61.2324499,41.2306505 60.8960811,41.4545927 C60.7386717,41.559272 60.5675203,41.5890877 60.4097986,41.4876493 C60.0584384,41.2614385 59.7114507,41.0261533 59.3744572,40.7779047 C59.1598933,40.6200756 59.1633288,40.4207637 59.3276092,40.210433 C59.7245681,39.7032411 60.2458305,39.4468904 60.9444907,39.345776 C60.5909443,39.5703665 60.509741,39.8626905 60.4775721,40.1832099 C60.4582082,40.3750678 60.5378499,40.4470146 60.7193079,40.4466905 C60.9957112,40.4463664 61.2580602,40.3737715 61.5244693,40.3147882 C61.6156668,40.2946949 61.7340361,40.2308503 61.8021219,40.3426594 C61.8574026,40.433403 61.7830704,40.5280356 61.7343484,40.602251 M61.5613231,16.0181866 C61.5550766,16.0249924 61.5491426,16.0363353 61.5425838,16.0366594 C61.5360251,16.0369835 61.5291541,16.0262887 61.522283,16.0204552 L61.5510165,16.000362 C61.554452,16.0065196 61.5578875,16.0126772 61.5613231,16.0181866 M59.3625891,13.041148 C59.2176725,12.8580404 59.2710792,12.7601669 59.4284886,12.6396076 C60.5587753,11.7739783 61.7677667,11.0584002 63.0938781,10.5677365 C63.3602872,10.4692149 63.6366906,10.3940273 63.9321455,10.4092593 C64.7863411,10.4653259 65.4912478,10.8302448 65.983152,11.5681848 C66.3310767,12.0902846 66.1340027,12.5676609 65.5505886,12.7151192 C64.9834152,12.8586886 64.4955711,12.6185421 64.0167842,12.3651082 C63.5573613,12.1217208 63.112305,11.84949 62.6566299,11.5989728 C62.5454439,11.538045 62.416768,11.4447087 62.289029,11.5487397 C62.1559807,11.6569839 62.19627,11.8135166 62.2221925,11.9583823 C62.3105791,12.449046 62.5051546,12.9001714 62.7190939,13.340926 C62.7943631,13.4964865 62.7762485,13.5739427 62.6291457,13.6595009 C62.2406194,13.8857118 61.8474083,14.0983111 61.4373319,14.2814187 C61.0678572,14.4463777 60.7502276,14.3760514 60.4413429,14.1446552 C60.0272064,13.8341824 59.6858404,13.4491702 59.3625891,13.041148 M52.1092654,34.0580163 C50.995844,36.5178163 49.1537796,38.319401 47.1065209,39.9929724 C47.0731027,39.8963953 47.0424953,39.8390324 47.034375,39.7784286 C46.9697247,39.3107749 46.8797765,38.8440935 46.8529169,38.3738472 C46.6792669,35.3731504 47.4097838,32.6281562 49.057585,30.1537724 C49.1631492,29.9949711 49.1331665,29.9107092 49.0382212,29.7749179 C48.7109096,29.3075883 48.386409,28.8363697 48.0822091,28.3525118 C46.9781573,26.5959748 45.9940365,24.7759172 45.4184304,22.7487698 C45.1857519,21.9285124 45.0392737,21.0923748 45.096116,20.2306346 C45.1095458,20.0300264 45.1345314,19.8887257 45.3971926,20.0293783 C46.9441144,20.8577378 48.3992141,21.8251295 49.675042,23.0615112 C50.7534836,24.1070072 51.6576504,25.2834333 52.1098901,26.773573 C52.1761019,26.9913576 52.2557436,27.2110868 52.254182,27.4703543 C52.0627297,27.3630824 51.9343661,27.203957 51.7151174,27.1896972 C51.7276102,27.2742833 51.7351059,27.3355352 51.7460371,27.396463 C51.9168762,28.3576971 52.1020821,29.3208757 52.0661652,30.3025272 C52.0549217,30.6065182 52.158612,30.7280499 52.3969123,30.6872152 C52.7395275,30.6288801 52.7398398,30.8337014 52.7501464,31.0722274 C52.7954328,32.1280941 52.5352701,33.1162272 52.1092654,34.0580163 M72.9419577,39.7006484 C71.7938688,36.589763 70.8284871,33.4198942 70.0673629,30.18294 C69.5386048,27.9337948 69.177875,25.6558062 68.9211479,23.3574002 C68.5963349,20.4503638 68.4270574,17.5342531 68.4342407,14.6084198 C68.43549,13.9336763 68.4292436,13.2641181 68.3296135,12.5961803 C68.294009,12.3586265 68.2159289,12.1567219 68.0588319,11.9781515 C67.2355559,11.0444645 66.3354492,10.2008731 65.3710045,9.42469111 C64.8528653,9.00824275 64.2900644,8.93337928 63.6794784,9.04907738 C61.7040534,9.42404294 59.8704216,10.1704091 58.1982595,11.3303069 C57.8850023,11.5474434 57.6004787,11.8031459 57.3818545,12.1259339 C57.0735945,12.5822446 57.1426173,12.8933656 57.5901721,13.2054588 C58.2238697,13.6475098 58.6648658,14.2846596 59.1302228,14.893614 C59.490328,15.3651567 59.4822077,15.3677494 58.9921773,15.7054452 C56.9930159,17.0840999 55.432352,18.9073983 54.0784441,20.9390829 C53.6174595,21.6313271 53.1839591,22.3423681 52.8104242,23.0897065 C52.7107941,23.2883702 52.6567627,23.3217509 52.4793648,23.1512825 C50.8012685,21.5402594 49.0235421,20.0643794 47.0175097,18.9080465 C45.9346956,18.283536 44.8125293,17.7520377 43.5866726,17.5063818 C42.8908233,17.3667015 42.998886,17.3540622 43.016376,18.2585815 C43.1297482,20.1097512 43.6419533,22.0931472 44.3140663,24.0379772 C45.0230331,26.0891069 45.9056499,28.0592155 46.93006,29.9602941 C47.0271916,30.1401609 47.0353119,30.267526 46.938805,30.4467447 C45.5886449,32.9509442 44.9821191,35.6379273 45.1545199,38.5031568 C45.2382217,39.8944508 45.5105649,41.2497714 46.0068416,42.55097 C46.1551937,42.9405193 46.1583169,42.9421398 46.542783,42.7681065 C47.3054689,42.4229567 47.9525963,41.8992364 48.5631822,41.3272276 C50.5164325,39.4971234 52.110827,37.347148 53.6493162,35.1488841 C53.8279633,34.8935056 54.0041119,34.6358586 54.1705785,34.372054 C54.2564666,34.2356145 54.3120596,34.2463093 54.4185608,34.3558498 C55.6106868,35.5779717 56.9499157,36.6234677 58.2145001,37.758411 C58.9100371,38.3822734 58.9087878,38.6353832 58.1720246,39.2171146 C57.8094208,39.5036051 57.427141,39.7667616 57.1191933,40.1196894 C56.7834491,40.5047016 56.8049992,40.7234585 57.21164,41.0196716 C58.1486006,41.7028413 59.11773,42.3322131 60.115593,42.9168612 C60.5415977,43.1664061 60.9101355,43.1382108 61.3020973,42.866304 C61.9317348,42.4287902 62.4689255,41.8917825 62.9517725,41.2906061 C63.5657939,40.5264152 64.314113,40.3245107 65.2057871,40.6790589 C65.7498489,40.8952232 65.8916422,41.313292 65.5699524,41.8078446 C65.1198991,42.4997647 64.5705279,43.104506 63.9983573,43.6875337 C63.7666158,43.9234671 63.5286278,44.1535669 63.3677829,44.4517245 C63.1073079,44.9352583 63.2378577,45.2726301 63.7350714,45.452821 C65.0046529,45.9120485 66.2448763,46.4532693 67.5207042,46.8992093 C68.0925625,47.0991693 68.5254382,47.0051849 68.9551908,46.5851716 C70.8013153,44.7806701 72.2367388,42.7052341 72.9741267,40.1543664 C73.023161,39.9855185 72.9969261,39.849079 72.9419577,39.7006484' id='Fill-2'%3E%3C/path%3E%3Cpath d='M82.1226617,27.6671199 C81.7077953,29.2700075 81.0768209,30.7725142 80.25348,32.1938823 C78.8919999,34.5446559 76.9327225,36.0465211 74.4623955,36.8585482 C74.2864654,36.9162753 74.219198,36.8707351 74.1510174,36.7078165 C73.8795128,36.0612736 73.6274883,35.4067131 73.4010315,34.7412485 C71.4959333,29.1436494 70.6552429,23.3555511 70.6202395,17.277214 C70.6385022,16.310286 70.667418,15.1977576 70.7234235,14.0858705 C70.7334679,13.8828638 70.8220418,13.8437377 70.9748392,13.832513 C72.5795169,13.712569 74.1044477,13.9816412 75.4844949,14.9011047 C75.9355822,15.201606 76.3909308,15.4940897 76.8648464,15.7484094 C77.5767851,16.1313322 78.2001501,16.6348403 78.7665964,17.2198077 C79.2812986,17.7518586 79.7771294,18.3044347 80.2924403,18.8355235 C80.4370196,18.9846517 80.4513253,19.0837498 80.347837,19.279701 C79.7506486,20.4121132 78.9948795,21.4271471 78.273505,22.4687995 C77.8769013,23.0409387 77.3752873,23.5219974 77.0139913,24.1236415 C76.6006468,24.8118761 76.6837418,25.0982664 77.4075513,25.3872224 C78.0373081,25.6386557 78.701764,25.7470543 79.3567842,25.8942582 C80.0982476,26.0607045 80.8524948,26.1841763 81.5574328,26.4936574 C82.1473163,26.7527877 82.2873299,27.0318017 82.1226617,27.6671199 M83.3541727,25.2640713 C82.7792037,25.0517641 82.1704489,25.0491984 81.5759999,24.9610043 C80.8342321,24.851323 80.08729,24.7740329 79.357393,24.5854578 C78.9772256,24.4870012 78.9589629,24.4491579 79.1741578,24.0967022 C79.938145,22.8440253 80.8050119,21.6673557 81.6119164,20.4464287 C81.7924122,20.1738288 81.9595154,19.8909663 82.1324018,19.6125937 C82.3272033,19.2992641 82.3040706,18.9961971 82.1208354,18.6809433 C81.6566599,17.8804616 81.0390781,17.2239768 80.3849711,16.6027697 C79.2228581,15.4995417 77.9916515,14.4864321 76.6417377,13.6538798 C74.7667729,12.4974147 72.7167911,12.0060934 70.5541896,12 C70.0994498,12.0083384 69.6459275,12.0099419 69.1933183,12.0711967 C69.0399121,12.0920426 68.9924292,12.1436762 69.0009517,12.3024256 C69.081003,13.80846 69.156793,15.3144945 69.2322786,16.8208496 C69.2788483,17.7454445 69.3406369,18.6697186 69.3637696,19.5949548 C69.5186977,25.7913117 70.743208,31.7551568 72.8528478,37.528182 C73.0120372,37.9643418 73.1873586,38.3944083 73.3505049,38.8292854 C73.4043797,38.9732823 73.4549063,39.0387063 73.6305321,38.9764894 C76.9263306,37.8075167 79.7378647,35.92786 81.7315367,32.8500464 C83.0083999,30.8789885 83.7349488,28.6904921 83.9912346,26.3246454 C84.0478488,25.8006121 83.8296102,25.4398181 83.3541727,25.2640713' id='Fill-4'%3E%3C/path%3E%3Cpath d='M61.0198171,15.9999965 C61.0163293,15.9939567 61.0128415,15.9882349 61.0093537,15.9821951 L60.9801829,16.0015859 C60.9868415,16.0076256 60.9941341,16.0181157 61.0007927,16.0177978 C61.0071341,16.0174799 61.0134756,16.0063541 61.0198171,15.9999965' id='Fill-6'%3E%3C/path%3E%3Cpath d='M76.5502813,18.0001464 C75.6552761,18.0130093 74.9873705,18.6872103 75.0001812,19.5653344 C75.0115362,20.3694188 75.6753657,21.0160118 76.4725433,20.9996979 C77.3180525,20.9821292 78.0077946,20.2683984 77.9999335,19.419451 C77.9929458,18.632308 77.3358128,17.9888522 76.5502813,18.0001464' id='Fill-8'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      width: 130px;
      height: 48px;
    }
  }
}


.path-frontpage,.section-recepten,.section-winkel,.section-contact,.section-folder{
  .block-system-branding-block{
    padding-top: 25px;
    padding-bottom: 25px;
    @include breakpoint(large){
      padding: 0px;
    }
    .branding-base{
      background-image: url("data:image/svg+xml, %3Csvg width='188px' height='127px' viewBox='0 0 188 127' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpolygon id='path-1' points='0.0275121951 0.0357663443 187.74322 0.0357663443 187.74322 113.209651 0.0275121951 113.209651'%3E%3C/polygon%3E%3Cpolygon id='path-3' points='0.0820780488 0.0444786589 184.354176 0.0444786589 184.354176 44.4511464 0.0820780488 44.4511464'%3E%3C/polygon%3E%3Cpolygon id='path-5' points='0.14764878 0.166451064 20.0064098 0.166451064 20.0064098 4.09937331 0.14764878 4.09937331'%3E%3C/polygon%3E%3Cpolygon id='path-7' points='0.301258537 0.166451064 12.1062829 0.166451064 12.1062829 4.09937331 0.301258537 4.09937331'%3E%3C/polygon%3E%3C/defs%3E%3Cg id='Home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='0.0-Home' transform='translate(-84.000000, -43.000000)'%3E%3Cg id='WKV---nieuw-logo---RGB' transform='translate(84.000000, 43.000000)'%3E%3Cpath d='M8.42469268,113.209651 L6.77212683,113.209651 L4.15250732,110.585868 L3.33310244,110.585868 L3.33310244,109.412457 L4.15250732,109.412457 L6.77212683,106.788216 L8.42469268,106.788216 L5.12414634,109.998933 L8.42469268,113.209651 Z M1.70346341,113.209651 L2.8676878,113.209651 L2.8676878,106.788216 L1.70346341,106.788216 L1.70346341,113.209651 Z' id='Fill-1' fill='%23181716'%3E%3C/path%3E%3Cpath d='M26.157678,106.788216 L25.0828683,112.806591 C25.0590244,112.926271 25.0053756,113.029443 24.9214634,113.115649 C24.8380098,113.202314 24.7366732,113.257798 24.6169951,113.281642 C24.4945659,113.302735 24.3790146,113.288978 24.2698829,113.24129 C24.1612098,113.193143 24.0754634,113.118859 24.0126439,113.017063 L21.8809073,109.515629 L19.7450439,113.017063 C19.6941463,113.103727 19.6249073,113.170674 19.5368683,113.218821 C19.4488293,113.26651 19.3539122,113.290354 19.2525756,113.290354 C19.1122634,113.290354 18.9884585,113.245875 18.8807024,113.156001 C18.7734049,113.066585 18.7078341,112.950115 18.6839902,112.806591 L17.6000098,106.788216 L18.7825756,106.788216 L19.5524585,111.029279 L21.388439,108.100566 C21.4393366,108.013901 21.5090341,107.946954 21.5966146,107.898807 C21.6846537,107.851119 21.7795707,107.827274 21.8809073,107.827274 C21.9827024,107.827274 22.0767024,107.851119 22.1633659,107.898807 C22.2500293,107.946954 22.321561,108.013901 22.377961,108.100566 L24.2052293,111.029279 L24.9751122,106.788216 L26.157678,106.788216' id='Fill-2' fill='%23181716'%3E%3C/path%3E%3Cpath d='M36.9268683,110.469398 L41.0197659,110.469398 L41.0197659,107.952915 L38.9733171,107.952915 C38.9375512,107.952915 38.8623512,107.957959 38.7472585,107.968505 C38.6326244,107.978593 38.4996488,108.005189 38.3487902,108.046916 C38.1979317,108.088185 38.039278,108.15284 37.8719122,108.239504 C37.7045463,108.32571 37.5509366,108.44539 37.4106244,108.597626 C37.2703122,108.749863 37.154761,108.940158 37.0635122,109.168512 C36.972722,109.396867 36.9268683,109.673368 36.9268683,109.998933 L36.9268683,110.469398 Z M42.1839902,113.209651 L41.0197659,113.209651 L41.0197659,111.633639 L36.9268683,111.633639 L36.9268683,113.209651 L35.7626439,113.209651 L35.7626439,109.998933 C35.7626439,109.530303 35.8433463,109.099272 36.0047512,108.704925 C36.1656976,108.311037 36.389922,107.972174 36.6765073,107.688336 C36.9630927,107.404956 37.3014927,107.183939 37.6926244,107.025741 C38.0837561,106.867544 38.5106537,106.788216 38.9733171,106.788216 L41.597522,106.788216 C41.6782244,106.788216 41.7543415,106.803348 41.8258732,106.833153 C41.8974049,106.863417 41.9602244,106.904686 42.0138732,106.958794 C42.067522,107.012444 42.1097073,107.074805 42.1395122,107.146797 C42.1693171,107.218329 42.1839902,107.294447 42.1839902,107.375151 L42.1839902,113.209651 L42.1839902,113.209651 Z' id='Fill-3' fill='%23181716'%3E%3C/path%3E%3Cpath d='M58.2378146,113.209651 L52.9270439,113.209651 C52.8435902,113.209651 52.765639,113.194977 52.6941073,113.165172 C52.6225756,113.134908 52.5606732,113.094098 52.5084,113.041824 C52.4561268,112.98955 52.4148585,112.927647 52.3850537,112.856114 C52.3552488,112.784581 52.3405756,112.707088 52.3405756,112.623174 L52.3405756,106.788216 L53.5048,106.788216 L53.5048,112.04541 L58.2378146,112.04541 L58.2378146,113.209651' id='Fill-4' fill='%23181716'%3E%3C/path%3E%3Cpolygon id='Fill-5' fill='%23181716' points='67.9060585 113.209651 69.0702829 113.209651 69.0702829 106.788216 67.9060585 106.788216'%3E%3C/polygon%3E%3Cpolyline id='Fill-6' fill='%23181716' points='85.0388195 107.952915 82.4728488 107.952915 82.4728488 113.209651 81.3086244 113.209651 81.3086244 107.952915 78.7385268 107.952915 78.7385268 106.788216 85.0388195 106.788216 85.0388195 107.952915'%3E%3C/polyline%3E%3Cpath d='M96.3009366,110.585868 L99.9770244,110.585868 L99.9770244,109.412457 L96.3009366,109.412457 L96.3009366,110.585868 Z M100.501132,113.209651 L96.3009366,113.209651 C96.1395317,113.209651 95.9634537,113.181679 95.7722439,113.12482 C95.5814927,113.067961 95.4049561,112.974877 95.2417171,112.84465 C95.0793951,112.714883 94.9436683,112.546139 94.8345366,112.338878 C94.7254049,112.131616 94.670839,111.876666 94.670839,111.575404 L94.670839,107.375151 C94.670839,107.294447 94.6859707,107.218329 94.7157756,107.146797 C94.7455805,107.074805 94.7868488,107.012444 94.8386634,106.958794 C94.8913951,106.904686 94.952839,106.863417 95.0248293,106.833153 C95.096361,106.803348 95.1743122,106.788216 95.2573073,106.788216 L100.501132,106.788216 L100.501132,107.952915 L95.8350634,107.952915 L95.8350634,111.575404 C95.8350634,111.72764 95.8754146,111.84411 95.9561171,111.924813 C96.0368195,112.005058 96.1546634,112.04541 96.3096488,112.04541 L100.501132,112.04541 L100.501132,113.209651 L100.501132,113.209651 Z' id='Fill-7' fill='%23181716'%3E%3C/path%3E%3Cpolygon id='Fill-8' fill='%23181716' points='110.438078 113.209651 111.602302 113.209651 111.602302 106.788216 110.438078 106.788216'%3E%3C/polygon%3E%3Cpolyline id='Fill-9' fill='%23181716' points='127.57038 107.952915 125.00441 107.952915 125.00441 113.209651 123.840185 113.209651 123.840185 107.952915 121.270088 107.952915 121.270088 106.788216 127.57038 106.788216 127.57038 107.952915'%3E%3C/polyline%3E%3Cpath d='M143.400439,111.319995 C143.400439,111.549725 143.371093,111.756528 143.312859,111.940404 C143.254624,112.123821 143.17759,112.286145 143.082215,112.426001 C142.986839,112.566315 142.874956,112.685995 142.746566,112.784581 C142.618176,112.883168 142.4852,112.963413 142.348098,113.026233 C142.210537,113.089054 142.071141,113.134908 141.929454,113.165172 C141.787307,113.194977 141.653873,113.209651 141.528693,113.209651 L137.037327,113.209651 L137.037327,112.04541 L141.528693,112.04541 C141.752459,112.04541 141.926244,111.979839 142.050049,111.848695 C142.174312,111.717552 142.236215,111.541013 142.236215,111.319995 C142.236215,111.212696 142.219249,111.11411 142.186693,111.024694 C142.154137,110.934819 142.106907,110.857784 142.045463,110.791754 C141.984478,110.725724 141.910195,110.675284 141.821698,110.639518 C141.733659,110.603751 141.63599,110.585868 141.528693,110.585868 L138.850839,110.585868 C138.662839,110.585868 138.459707,110.551936 138.241902,110.484989 C138.023639,110.418042 137.821883,110.309367 137.6348,110.16034 C137.448176,110.011314 137.29319,109.815516 137.169385,109.573864 C137.045122,109.331753 136.98322,109.036452 136.98322,108.687042 C136.98322,108.337632 137.045122,108.043248 137.169385,107.802513 C137.29319,107.562236 137.448176,107.366897 137.6348,107.216037 C137.821883,107.065176 138.023639,106.956501 138.241902,106.889096 C138.459707,106.822148 138.662839,106.788216 138.850839,106.788216 L142.813512,106.788216 L142.813512,107.952915 L138.850839,107.952915 C138.629824,107.952915 138.457415,108.019862 138.33361,108.154215 C138.209346,108.288568 138.147902,108.466483 138.147902,108.687042 C138.147902,108.910811 138.209346,109.087809 138.33361,109.217576 C138.457415,109.347802 138.629824,109.412457 138.850839,109.412457 L141.537405,109.412457 C141.663044,109.415667 141.79602,109.432633 141.935873,109.463814 C142.076185,109.495453 142.216039,109.5436 142.354517,109.60963 C142.493454,109.675202 142.625512,109.758198 142.751151,109.858161 C142.876332,109.958123 142.987298,110.078261 143.084507,110.218575 C143.181717,110.358889 143.258293,110.519838 143.315151,110.702338 C143.37201,110.88438 143.400439,111.090265 143.400439,111.319995' id='Fill-10' fill='%23181716'%3E%3C/path%3E%3Cpath d='M159.507912,106.788216 L156.467356,112.981296 C156.41921,113.076673 156.348595,113.153708 156.254595,113.211943 C156.160595,113.270178 156.056507,113.299525 155.943249,113.299525 C155.832741,113.299525 155.730488,113.270178 155.636488,113.211943 C155.542488,113.153708 155.470039,113.076673 155.4196,112.981296 L152.383171,106.788216 L153.686332,106.788216 L155.943249,111.413997 L158.208878,106.788216 L159.507912,106.788216' id='Fill-11' fill='%23181716'%3E%3C/path%3E%3Cpolygon id='Fill-12' fill='%23181716' points='168.978985 113.209651 170.14321 113.209651 170.14321 106.788216 168.978985 106.788216'%3E%3C/polygon%3E%3Cg id='Group-16'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-14'%3E%3C/g%3E%3Cpath d='M186.479034,111.319995 C186.479034,111.549725 186.449688,111.756528 186.391454,111.940404 C186.33322,112.123821 186.256185,112.286145 186.16081,112.426001 C186.065434,112.566315 185.953551,112.685995 185.825161,112.784581 C185.696771,112.883168 185.564254,112.963413 185.426693,113.026233 C185.289132,113.089054 185.149737,113.134908 185.008049,113.165172 C184.865902,113.194977 184.732468,113.209651 184.607288,113.209651 L180.115922,113.209651 L180.115922,112.04541 L184.607288,112.04541 C184.831054,112.04541 185.004839,111.979839 185.128644,111.848695 C185.252907,111.717552 185.31481,111.541013 185.31481,111.319995 C185.31481,111.212696 185.298302,111.11411 185.265288,111.024694 C185.232732,110.934819 185.185961,110.857784 185.124517,110.791754 C185.063073,110.725724 184.98879,110.675284 184.900293,110.639518 C184.812254,110.603751 184.714585,110.585868 184.607288,110.585868 L181.929434,110.585868 C181.741434,110.585868 181.538302,110.551936 181.320498,110.484989 C181.102234,110.418042 180.900478,110.309367 180.713854,110.16034 C180.526771,110.011314 180.371785,109.815516 180.24798,109.573864 C180.123717,109.331753 180.062273,109.036452 180.062273,108.687042 C180.062273,108.337632 180.123717,108.043248 180.24798,107.802513 C180.371785,107.562236 180.526771,107.366897 180.713854,107.216037 C180.900478,107.065176 181.102234,106.956501 181.320498,106.889096 C181.538302,106.822148 181.741434,106.788216 181.929434,106.788216 L185.892566,106.788216 L185.892566,107.952915 L181.929434,107.952915 C181.708878,107.952915 181.536468,108.019862 181.412205,108.154215 C181.2884,108.288568 181.226498,108.466483 181.226498,108.687042 C181.226498,108.910811 181.2884,109.087809 181.412205,109.217576 C181.536468,109.347802 181.708878,109.412457 181.929434,109.412457 L184.616,109.412457 C184.741639,109.415667 184.874615,109.432633 185.014468,109.463814 C185.15478,109.495453 185.294634,109.5436 185.433571,109.60963 C185.572049,109.675202 185.704107,109.758198 185.829746,109.858161 C185.954927,109.958123 186.065893,110.078261 186.163102,110.218575 C186.260312,110.358889 186.336888,110.519838 186.393746,110.702338 C186.450605,110.88438 186.479034,111.090265 186.479034,111.319995' id='Fill-13' fill='%23181716' mask='url(%23mask-2)'%3E%3C/path%3E%3Cpolyline id='Fill-15' fill='%23A17D23' mask='url(%23mask-2)' points='12.1053659 51.869453 2.86126829 59.7930739 0 61.6639288 0 68.927248 8.91395122 62.9845323 18.5982439 54.6207103 26.5217561 45.816687 32.7945366 36.5724627 37.9668293 25.6774839 40.4979512 16.4332596 41.4883902 8.83978956 41.598439 5.09807969 146.14478 5.09807969 146.254829 8.83978956 147.245268 16.4332596 149.77639 25.6774839 154.948683 36.5724627 161.221463 45.816687 169.144976 54.6207103 178.939317 62.9845323 187.74322 68.927248 187.74322 61.6639288 184.881951 59.7930739 175.637854 51.869453 168.154537 43.5056309 162.211902 34.811658 157.369756 24.4669308 154.948683 15.7729578 154.068293 8.61968897 153.738146 0.0357663443 34.0050732 0.0357663443 33.6749268 8.61968897 32.7945366 15.7729578 30.3734634 24.4669308 25.5313171 34.811658 19.5886829 43.5056309 12.1053659 51.869453'%3E%3C/polyline%3E%3C/g%3E%3Cpath d='M21.3746829,81.6651105 L18.8490634,95.808407 C18.793122,96.0890352 18.6665659,96.3311458 18.4703122,96.5342803 C18.2736,96.7383319 18.035161,96.867641 17.7545366,96.9240418 C17.4670341,96.9726473 17.195122,96.9414664 16.9392585,96.8291234 C16.6829366,96.7172389 16.481639,96.541617 16.3339902,96.3031747 L11.3249366,88.0737057 L6.30579512,96.3031747 C6.18611707,96.5067678 6.02287805,96.6645065 5.81607805,96.7768495 C5.60927805,96.888734 5.38642927,96.9451348 5.14799024,96.9451348 C4.81830244,96.9451348 4.52713171,96.8396699 4.27447805,96.6291987 C4.02228293,96.4187275 3.8677561,96.145436 3.81181463,95.808407 L1.26510244,81.6651105 L4.04337561,81.6651105 L5.85321951,91.6310814 L10.1675902,84.7483528 C10.2868098,84.5452183 10.4500488,84.3874796 10.6568488,84.2751366 C10.8636488,84.1632521 11.0864976,84.1068513 11.3249366,84.1068513 C11.5633756,84.1068513 11.7843902,84.1632521 11.9879805,84.2751366 C12.1915707,84.3874796 12.3598537,84.5452183 12.4932878,84.7483528 L16.7865659,91.6310814 L18.5964098,81.6651105 L21.3746829,81.6651105' id='Fill-17' fill='%23181716'%3E%3C/path%3E%3Cpath d='M44.8856878,87.7687747 C44.8856878,87.2286112 44.7994829,86.739346 44.6275317,86.300979 C44.4555805,85.862612 44.2139317,85.4870654 43.9016683,85.1747977 C43.5894049,84.86253 43.2138634,84.6208779 42.7755024,84.4489243 C42.3371415,84.2769707 41.854761,84.1907647 41.3288195,84.1907647 L37.624761,84.1907647 C37.0914829,84.1907647 36.6054341,84.2769707 36.1670732,84.4489243 C35.7287122,84.6208779 35.3517951,84.86253 35.0358634,85.1747977 C34.7203902,85.4870654 34.4764488,85.862612 34.3049561,86.300979 C34.1325463,86.739346 34.0468,87.2286112 34.0468,87.7687747 L34.0468,90.6520923 C34.0468,91.1927144 34.1325463,91.6815211 34.3049561,92.1198881 C34.4764488,92.5587136 34.7203902,92.9342602 35.0358634,93.2460694 C35.3517951,93.5583371 35.7287122,93.8004477 36.1670732,93.9719427 C36.6054341,94.1438963 37.0914829,94.2301024 37.624761,94.2301024 L41.3077268,94.2301024 C41.8410049,94.2301024 42.3265951,94.1438963 42.7654146,93.9719427 C43.2033171,93.8004477 43.5806927,93.5583371 43.8966244,93.2460694 C44.2120976,92.9342602 44.4555805,92.5587136 44.6275317,92.1198881 C44.7994829,91.6815211 44.8856878,91.1927144 44.8856878,90.6520923 L44.8856878,87.7687747 Z M47.6217756,90.6520923 C47.6217756,91.5714708 47.4635805,92.4165653 47.1481073,93.188293 C46.8321756,93.9600206 46.3938146,94.6262834 45.8325659,95.1875399 C45.2713171,95.7487964 44.6068976,96.1853292 43.8388488,96.4975969 C43.0703415,96.8098646 42.2339707,96.9662277 41.3288195,96.9662277 L37.624761,96.9662277 C36.7196098,96.9662277 35.8814049,96.8098646 35.1096878,96.4975969 C34.3379707,96.1853292 33.6712585,95.7487964 33.1104683,95.1875399 C32.5492195,94.6262834 32.1090244,93.9600206 31.7894244,93.188293 C31.4702829,92.4165653 31.3107122,91.5714708 31.3107122,90.6520923 L31.3107122,87.7687747 C31.3107122,86.8571915 31.4702829,86.0134726 31.7894244,85.2376181 C32.1090244,84.4626806 32.5492195,83.7964178 33.1104683,83.2383711 C33.6712585,82.680783 34.3379707,82.2442502 35.1096878,81.9283141 C35.8814049,81.6128366 36.7196098,81.4546393 37.624761,81.4546393 L41.3288195,81.4546393 C42.2339707,81.4546393 43.0703415,81.6128366 43.8388488,81.9283141 C44.6068976,82.2442502 45.2713171,82.680783 45.8325659,83.2383711 C46.3938146,83.7964178 46.8321756,84.4626806 47.1481073,85.2376181 C47.4635805,86.0134726 47.6217756,86.8571915 47.6217756,87.7687747 L47.6217756,90.6520923 L47.6217756,90.6520923 Z' id='Fill-18' fill='%23181716'%3E%3C/path%3E%3Cpath d='M73.3007415,95.3773767 C73.3007415,95.5731745 73.2654341,95.7561331 73.195278,95.9244183 C73.125122,96.0927035 73.0269951,96.2385202 72.9008976,96.3609511 C72.7743415,96.4838406 72.6271512,96.5805932 72.4588683,96.6502917 C72.2905854,96.7204487 72.1112976,96.7557565 71.921922,96.7557565 L65.755522,96.7557565 C65.1731805,96.7557565 64.583961,96.6924776 63.9878634,96.5663783 C63.3913073,96.4398205 62.8144683,96.2449398 62.2568878,95.9821947 C61.6988488,95.7189911 61.1742829,95.3837963 60.6836488,94.9770687 C60.1920976,94.5703412 59.7624488,94.0879541 59.3947024,93.5299074 C59.026039,92.9727778 58.7367024,92.3340276 58.5262341,91.6150324 C58.3157659,90.8960371 58.2103024,90.0940456 58.2103024,89.2104335 L58.2103024,81.6651105 L60.9463902,81.6651105 L60.9463902,89.2104335 C60.9463902,89.9821612 61.0532293,90.6346677 61.2673659,91.1679531 C61.4815024,91.7007799 61.7534146,92.1464836 62.0831024,92.504147 C62.4127902,92.8618104 62.7741171,93.1428972 63.1670829,93.3460317 C63.5595902,93.5496248 63.9332976,93.7004854 64.2872878,93.798155 C64.6417366,93.8967417 64.954,93.9581865 65.224078,93.9829478 C65.4941561,94.0072505 65.6711512,94.0196312 65.755522,94.0196312 L70.5646537,94.0196312 L70.5646537,81.6651105 L73.3007415,81.6651105 L73.3007415,95.3773767' id='Fill-19' fill='%23181716'%3E%3C/path%3E%3Cpolyline id='Fill-20' fill='%23181716' points='98.3056585 84.4012358 92.2759024 84.4012358 92.2759024 96.7557565 89.5402732 96.7557565 89.5402732 84.4012358 83.4999707 84.4012358 83.4999707 81.6651105 98.3056585 81.6651105 98.3056585 84.4012358'%3E%3C/polyline%3E%3Cpath d='M112.272683,90.5888134 L120.911971,90.5888134 L120.911971,87.8320536 L112.272683,87.8320536 L112.272683,90.5888134 Z M122.142683,96.7557565 L112.272683,96.7557565 C111.893932,96.7557565 111.479415,96.6888093 111.030507,96.5558319 C110.5816,96.4223959 110.165707,96.2032124 109.783746,95.8978228 C109.401327,95.5924333 109.082185,95.1962522 108.825863,94.7088211 C108.57,94.2213901 108.442068,93.6234502 108.442068,92.9145429 L108.442068,83.0439489 C108.442068,82.8541122 108.476917,82.675739 108.547073,82.5069952 C108.617229,82.33871 108.713522,82.1915177 108.836868,82.0649599 C108.959298,81.9388606 109.105112,81.8407324 109.273395,81.7705754 C109.441678,81.7008769 109.623717,81.6651105 109.820429,81.6651105 L122.142683,81.6651105 L122.142683,84.4012358 L111.178156,84.4012358 L111.178156,92.9145429 C111.178156,93.2726649 111.272615,93.5459564 111.46199,93.7357932 C111.651366,93.9247128 111.92878,94.0196312 112.293317,94.0196312 L122.142683,94.0196312 L122.142683,96.7557565 L122.142683,96.7557565 Z' id='Fill-21' fill='%23181716'%3E%3C/path%3E%3Cpath d='M148.05321,86.7375118 C148.05321,87.3620472 147.975717,87.9196353 147.821649,88.4102762 C147.667122,88.9018342 147.458488,89.3351572 147.195746,89.7102453 C146.932546,90.0857919 146.628995,90.4067719 146.285551,90.6731853 C145.941649,90.9400573 145.581698,91.1592407 145.206615,91.3311943 C144.831532,91.5031479 144.45278,91.627413 144.070361,91.7044482 C143.687941,91.781942 143.32799,91.820001 142.991424,91.820001 L148.705707,96.7557565 L144.475249,96.7557565 L138.771971,91.820001 L136.803932,91.820001 L136.803932,89.0838757 L142.991424,89.0838757 C143.335327,89.0563631 143.649424,88.9839133 143.933717,88.8683605 C144.217551,88.7523492 144.462868,88.5969032 144.670127,88.4001883 C144.876927,88.2039319 145.036498,87.9673238 145.148839,87.6899054 C145.260722,87.4129455 145.317122,87.0951752 145.317122,86.7375118 L145.317122,85.0115564 C145.317122,84.857486 145.297863,84.740099 145.259346,84.6593955 C145.220371,84.5786919 145.171766,84.5190814 145.112156,84.4801052 C145.052088,84.4415876 144.98881,84.4186605 144.92278,84.4117823 C144.855834,84.4049042 144.794849,84.4012358 144.738907,84.4012358 L135.709405,84.4012358 L135.709405,96.7557565 L132.973317,96.7557565 L132.973317,83.0439489 C132.973317,82.8541122 133.008624,82.675739 133.079239,82.5069952 C133.148937,82.33871 133.245229,82.1915177 133.368576,82.0649599 C133.491005,81.9388606 133.63682,81.8407324 133.805102,81.7705754 C133.973385,81.7008769 134.155424,81.6651105 134.352137,81.6651105 L144.738907,81.6651105 C145.348761,81.6651105 145.864615,81.7760779 146.285551,81.996637 C146.706488,82.2181132 147.048556,82.4950731 147.311298,82.8284338 C147.574498,83.1613359 147.763873,83.5208335 147.879424,83.9064681 C147.995434,84.2925612 148.05321,84.653893 148.05321,84.9904634 L148.05321,86.7375118' id='Fill-22' fill='%23181716'%3E%3C/path%3E%3Cpolyline id='Fill-23' fill='%23181716' points='160.147571 87.6004895 158.231805 87.6004895 159.200234 82.296524 161.789132 82.296524 160.147571 87.6004895'%3E%3C/polyline%3E%3Cg id='Group-27' transform='translate(2.292683, 81.620632)'%3E%3Cmask id='mask-4' fill='white'%3E%3Cuse xlink:href='%23path-3'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-25'%3E%3C/g%3E%3Cpath d='M184.354176,10.6941369 C184.354176,11.234759 184.285854,11.7198974 184.148751,12.1518447 C184.012107,12.582875 183.830985,12.9634656 183.606761,13.2936165 C183.382078,13.6233088 183.119337,13.9034785 182.817161,14.1355012 C182.515902,14.3666068 182.203639,14.5564436 181.880829,14.7031773 C181.55802,14.8508281 181.230624,14.9599613 180.897268,15.0296598 C180.563454,15.0998169 180.249815,15.1351247 179.954976,15.1351247 L169.400839,15.1351247 L169.400839,12.3989994 L179.954976,12.3989994 C180.481834,12.3989994 180.889932,12.2449289 181.181102,11.9358711 C181.472273,11.6272717 181.618088,11.213666 181.618088,10.6941369 C181.618088,10.4414798 181.579112,10.2099157 181.502078,9.99944449 C181.424585,9.78897331 181.314537,9.60693179 181.171015,9.45240284 C181.026576,9.29833243 180.851415,9.17865274 180.644615,9.09473939 C180.437356,9.0103675 180.207629,8.96818156 179.954976,8.96818156 L173.662937,8.96818156 C173.220449,8.96818156 172.743571,8.88931219 172.231844,8.73157344 C171.7192,8.57383469 171.243698,8.31934339 170.805337,7.96855809 C170.366976,7.61777279 170.00198,7.15831283 169.71081,6.59017821 C169.420098,6.02204358 169.274283,5.32735113 169.274283,4.50655938 C169.274283,3.68576763 169.420098,2.99290935 169.71081,2.42844307 C170.00198,1.86351825 170.366976,1.40405828 170.805337,1.04960464 C171.243698,0.695150999 171.7192,0.439284075 172.231844,0.281545326 C172.743571,0.123348034 173.220449,0.0444786589 173.662937,0.0444786589 L182.975356,0.0444786589 L182.975356,2.780604 L173.662937,2.780604 C173.143415,2.780604 172.738068,2.93880129 172.446898,3.25382025 C172.156185,3.57021483 172.010371,3.98748885 172.010371,4.50655938 C172.010371,5.03250806 172.156185,5.44840645 172.446898,5.753796 C172.738068,6.05872701 173.143415,6.21142179 173.662937,6.21142179 L179.976527,6.21142179 C180.271366,6.21829994 180.582712,6.25865171 180.912859,6.33201857 C181.242546,6.40584397 181.570859,6.52002115 181.896878,6.67409155 C182.223356,6.8286205 182.533327,7.02350123 182.828166,7.25827518 C183.122546,7.49350767 183.383912,7.77597008 183.612263,8.10566241 C183.840156,8.43535474 184.02082,8.81411115 184.154254,9.24193166 C184.287229,9.6702107 184.354176,10.1539734 184.354176,10.6941369' id='Fill-24' fill='%23181716' mask='url(%23mask-4)'%3E%3C/path%3E%3Cpath d='M4.35701463,40.5718736 L2.53249756,44.2879051 C2.50406829,44.345223 2.46142439,44.3910772 2.40502439,44.426385 C2.34862439,44.4612343 2.28626341,44.4786589 2.2184,44.4786589 C2.1519122,44.4786589 2.09046829,44.4612343 2.03406829,44.426385 C1.97766829,44.3910772 1.93410732,44.345223 1.9038439,44.2879051 L0.0820780488,40.5718736 L0.863882927,40.5718736 L2.2184,43.3474337 L3.57750244,40.5718736 L4.35701463,40.5718736' id='Fill-26' fill='%23A17D23' mask='url(%23mask-4)'%3E%3C/path%3E%3C/g%3E%3Cpolygon id='Fill-28' fill='%23A17D23' points='10.571561 126.045641 11.2699122 126.045641 11.2699122 122.192505 10.571561 122.192505'%3E%3C/polygon%3E%3Cpath d='M19.3103512,124.911665 C19.3103512,125.049686 19.2929268,125.173493 19.258078,125.283543 C19.2232293,125.394052 19.1769171,125.491263 19.1196,125.575176 C19.0622829,125.659548 18.9953366,125.731081 18.9183024,125.790233 C18.8412683,125.849385 18.7614829,125.897532 18.6794049,125.935132 C18.5968683,125.972733 18.5129561,126.000704 18.4281268,126.018587 C18.342839,126.03647 18.2625951,126.045641 18.1873951,126.045641 L15.4925756,126.045641 L15.4925756,125.346822 L18.1873951,125.346822 C18.3217463,125.346822 18.4262927,125.307387 18.5005756,125.228518 C18.5748585,125.149648 18.612,125.044184 18.612,124.911665 C18.612,124.84701 18.6023707,124.787858 18.5826537,124.734209 C18.5629366,124.680559 18.5345073,124.633788 18.4978244,124.594812 C18.4611415,124.555377 18.4162049,124.524655 18.3634732,124.503103 C18.3107415,124.481552 18.2520488,124.471005 18.1873951,124.471005 L16.5806829,124.471005 C16.4678829,124.471005 16.3463707,124.450829 16.2152293,124.410477 C16.0845463,124.370126 15.9634927,124.305471 15.8516098,124.215597 C15.7392683,124.126181 15.6461854,124.008794 15.5719024,123.863894 C15.4976195,123.718536 15.460478,123.541539 15.460478,123.331985 C15.460478,123.12243 15.4976195,122.945433 15.5719024,122.800992 C15.6461854,122.657009 15.7392683,122.539622 15.8516098,122.449289 C15.9634927,122.358957 16.0845463,122.293385 16.2152293,122.253033 C16.3463707,122.212681 16.4678829,122.192505 16.5806829,122.192505 L18.9586537,122.192505 L18.9586537,122.891325 L16.5806829,122.891325 C16.4481659,122.891325 16.3449951,122.931677 16.2707122,123.011922 C16.1964293,123.092625 16.1592878,123.199466 16.1592878,123.331985 C16.1592878,123.466338 16.1964293,123.572261 16.2707122,123.650213 C16.3449951,123.728166 16.4481659,123.767142 16.5806829,123.767142 L18.1928976,123.767142 C18.2680976,123.768976 18.3478829,123.779064 18.4317951,123.797864 C18.5161659,123.816664 18.600078,123.846011 18.6830732,123.885446 C18.7665268,123.92488 18.8458537,123.974403 18.9210537,124.034472 C18.9962537,124.094541 19.0627415,124.166533 19.1209756,124.250904 C19.1792098,124.334818 19.225522,124.43157 19.2594537,124.540704 C19.2933854,124.650295 19.3103512,124.773643 19.3103512,124.911665' id='Fill-29' fill='%23A17D23'%3E%3C/path%3E%3Cpolygon id='Fill-30' fill='%23A17D23' points='28.6025951 124.433405 31.1227122 124.433405 31.1227122 123.804742 28.6025951 123.804742'%3E%3C/polygon%3E%3Cpolyline id='Fill-31' fill='%23A17D23' points='44.0956293 122.891325 42.5558634 122.891325 42.5558634 126.045641 41.8575122 126.045641 41.8575122 122.891325 40.3154537 122.891325 40.3154537 122.192505 44.0956293 122.192505 44.0956293 122.891325'%3E%3C/polyline%3E%3Cpath d='M51.9801659,123.487431 C51.9801659,123.647003 51.9604488,123.78961 51.9210146,123.914793 C51.8815805,124.040433 51.8283902,124.150942 51.7614439,124.246778 C51.694039,124.342613 51.6165463,124.424234 51.5289659,124.492557 C51.4409268,124.560421 51.3492195,124.616363 51.2533854,124.660383 C51.1575512,124.704403 51.0608,124.736043 50.9631317,124.75576 C50.8654634,124.775477 50.7737561,124.785565 50.6880098,124.785565 L52.1466146,126.045641 L51.066761,126.045641 L49.6104488,124.785565 L49.1078927,124.785565 L49.1078927,124.086746 L50.6880098,124.086746 C50.7755902,124.079409 50.8558341,124.061068 50.9282829,124.031721 C51.0007317,124.002374 51.0635512,123.962481 51.1162829,123.912041 C51.1694732,123.86206 51.2098244,123.801532 51.2387122,123.730917 C51.2671415,123.659843 51.2818146,123.579139 51.2818146,123.487431 L51.2818146,123.047229 C51.2818146,123.007795 51.2767707,122.977531 51.2666829,122.956896 C51.2570537,122.936262 51.2446732,122.92113 51.2290829,122.911501 C51.2139512,122.901413 51.1979024,122.895452 51.1809366,122.894076 C51.1639707,122.892242 51.1483805,122.891325 51.1337073,122.891325 L48.8286439,122.891325 L48.8286439,126.045641 L48.1302927,126.045641 L48.1302927,122.544666 C48.1302927,122.496061 48.1390049,122.450665 48.1568878,122.407562 C48.1747707,122.364459 48.1995317,122.326859 48.2307122,122.294761 C48.2623512,122.262663 48.2994927,122.237443 48.3421366,122.21956 C48.385239,122.201676 48.4320098,122.192505 48.4819902,122.192505 L51.1337073,122.192505 C51.2896098,122.192505 51.4212098,122.220935 51.5289659,122.277336 C51.6362634,122.333737 51.7233854,122.404352 51.7907902,122.489641 C51.8577366,122.574472 51.9063415,122.66618 51.9356878,122.764767 C51.9654927,122.863354 51.9801659,122.955521 51.9801659,123.041727 L51.9801659,123.487431' id='Fill-32' fill='%23A17D23'%3E%3C/path%3E%3Cpath d='M56.8291902,124.401307 L59.2846537,124.401307 L59.2846537,122.891325 L58.0571512,122.891325 C58.0356,122.891325 57.9902049,122.894535 57.9214244,122.900496 C57.8521854,122.906915 57.7724,122.922506 57.6820683,122.947726 C57.5917366,122.972487 57.496361,123.011005 57.3959415,123.063278 C57.295522,123.115094 57.2033561,123.186626 57.1194439,123.277876 C57.0350732,123.369585 56.9658341,123.483762 56.9108098,123.620867 C56.8562439,123.757512 56.8291902,123.923963 56.8291902,124.118844 L56.8291902,124.401307 Z M59.9834634,126.045641 L59.2846537,126.045641 L59.2846537,125.099667 L56.8291902,125.099667 L56.8291902,126.045641 L56.1303805,126.045641 L56.1303805,124.118844 C56.1303805,123.837757 56.1789854,123.579139 56.2757366,123.342531 C56.3724878,123.105923 56.506839,122.902788 56.6787902,122.732669 C56.8507415,122.56255 57.0538732,122.430031 57.2886439,122.335112 C57.5229561,122.240194 57.779278,122.192505 58.0571512,122.192505 L59.6313073,122.192505 C59.6799122,122.192505 59.7253073,122.201676 59.7684098,122.21956 C59.8115122,122.237443 59.8491122,122.262663 59.8812098,122.294761 C59.9133073,122.326859 59.9385268,122.364459 59.9564098,122.407562 C59.9742927,122.450665 59.9834634,122.496061 59.9834634,122.544666 L59.9834634,126.045641 L59.9834634,126.045641 Z' id='Fill-33' fill='%23A17D23'%3E%3C/path%3E%3Cpolygon id='Fill-34' fill='%23A17D23' points='64.321678 126.045641 65.0204878 126.045641 65.0204878 122.192505 64.321678 122.192505'%3E%3C/polygon%3E%3Cpolyline id='Fill-35' fill='%23A17D23' points='72.8403707 122.891325 71.3010634 122.891325 71.3010634 126.045641 70.6022537 126.045641 70.6022537 122.891325 69.0601951 122.891325 69.0601951 122.192505 72.8403707 122.192505 72.8403707 122.891325'%3E%3C/polyline%3E%3Cpath d='M77.8370439,124.471005 L80.0430634,124.471005 L80.0430634,123.767142 L77.8370439,123.767142 L77.8370439,124.471005 Z M80.357161,126.045641 L77.8370439,126.045641 C77.7402927,126.045641 77.6348293,126.028217 77.5201951,125.994284 C77.405561,125.960352 77.2991805,125.90441 77.2015122,125.826458 C77.1043024,125.748505 77.0226829,125.647168 76.9571122,125.522902 C76.892,125.398179 76.8589854,125.245484 76.8589854,125.064818 L76.8589854,122.544666 C76.8589854,122.496061 76.8681561,122.450665 76.886039,122.407562 C76.903922,122.364459 76.9286829,122.326859 76.9598634,122.294761 C76.9910439,122.262663 77.0286439,122.237443 77.0712878,122.21956 C77.1143902,122.201676 77.161161,122.192505 77.2111415,122.192505 L80.357161,122.192505 L80.357161,122.891325 L77.5577951,122.891325 L77.5577951,125.064818 C77.5577951,125.156068 77.5820976,125.225767 77.6302439,125.274372 C77.6788488,125.322519 77.7494634,125.346822 77.8425463,125.346822 L80.357161,125.346822 L80.357161,126.045641 L80.357161,126.045641 Z' id='Fill-36' fill='%23A17D23'%3E%3C/path%3E%3Cpath d='M88.328361,125.69348 C88.328361,125.743462 88.3191902,125.790233 88.3013073,125.833336 C88.2834244,125.87598 88.2582049,125.913581 88.2261073,125.944762 C88.1940098,125.975943 88.1564098,126.000704 88.1133073,126.018587 C88.0702049,126.03647 88.0243512,126.045641 87.9762049,126.045641 L86.4015902,126.045641 C86.2530244,126.045641 86.1026244,126.029134 85.9503902,125.997036 C85.7981561,125.964938 85.6509659,125.914957 85.508361,125.848009 C85.3662146,125.780603 85.232322,125.695315 85.1066829,125.591225 C84.9815024,125.487595 84.8719122,125.364247 84.7774537,125.222098 C84.6834537,125.079491 84.6096293,124.916709 84.5559805,124.732833 C84.5023317,124.549416 84.475278,124.344906 84.475278,124.118844 L84.475278,122.192505 L85.1740878,122.192505 L85.1740878,124.118844 C85.1740878,124.316018 85.2011415,124.482469 85.2557073,124.618656 C85.3107317,124.754843 85.3799707,124.868562 85.4643415,124.959812 C85.5482537,125.05152 85.6404195,125.123053 85.740839,125.174868 C85.8412585,125.226684 85.9366341,125.265201 86.0269659,125.290421 C86.1172976,125.315641 86.1970829,125.331231 86.266322,125.337651 C86.3351024,125.343612 86.3804976,125.346822 86.4015902,125.346822 L87.6295512,125.346822 L87.6295512,122.192505 L88.328361,122.192505 L88.328361,125.69348' id='Fill-37' fill='%23A17D23'%3E%3C/path%3E%3Cpath d='M96.5114049,123.487431 C96.5114049,123.647003 96.4916878,123.78961 96.4522537,123.914793 C96.4128195,124.040433 96.3596293,124.150942 96.2922244,124.246778 C96.225278,124.342613 96.1477854,124.424234 96.0597463,124.492557 C95.9721659,124.560421 95.8804585,124.616363 95.7846244,124.660383 C95.6887902,124.704403 95.592039,124.736043 95.4943707,124.75576 C95.3967024,124.775477 95.3049951,124.785565 95.2187902,124.785565 L96.6778537,126.045641 L95.598,126.045641 L94.1412293,124.785565 L93.6391317,124.785565 L93.6391317,124.086746 L95.2187902,124.086746 C95.3068293,124.079409 95.3870732,124.061068 95.459522,124.031721 C95.5319707,124.002374 95.5947902,123.962481 95.647522,123.912041 C95.7002537,123.86206 95.7410634,123.801532 95.7699512,123.730917 C95.7983805,123.659843 95.8125951,123.579139 95.8125951,123.487431 L95.8125951,123.047229 C95.8125951,123.007795 95.8080098,122.977531 95.797922,122.956896 C95.7882927,122.936262 95.7754537,122.92113 95.760322,122.911501 C95.7451902,122.901413 95.7291415,122.895452 95.7121756,122.894076 C95.6952098,122.892242 95.679161,122.891325 95.6649463,122.891325 L93.3594244,122.891325 L93.3594244,126.045641 L92.6610732,126.045641 L92.6610732,122.544666 C92.6610732,122.496061 92.6697854,122.450665 92.6876683,122.407562 C92.7055512,122.364459 92.7303122,122.326859 92.7619512,122.294761 C92.7931317,122.262663 92.8302732,122.237443 92.8733756,122.21956 C92.9160195,122.201676 92.9627902,122.192505 93.0127707,122.192505 L95.6649463,122.192505 C95.8208488,122.192505 95.9524488,122.220935 96.0597463,122.277336 C96.1675024,122.333737 96.2546244,122.404352 96.3220293,122.489641 C96.3889756,122.574472 96.4375805,122.66618 96.4669268,122.764767 C96.4967317,122.863354 96.5114049,122.955521 96.5114049,123.041727 L96.5114049,123.487431' id='Fill-38' fill='%23A17D23'%3E%3C/path%3E%3Cpolygon id='Fill-39' fill='%23A17D23' points='105.921493 124.433405 108.44161 124.433405 108.44161 123.804742 105.921493 123.804742'%3E%3C/polygon%3E%3Cg id='Group-44' transform='translate(117.843902, 121.972405)'%3E%3Cmask id='mask-6' fill='white'%3E%3Cuse xlink:href='%23path-5'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-41'%3E%3C/g%3E%3Cpath d='M1.12524878,2.49860013 L3.33401951,2.49860013 L3.33401951,1.79473681 L1.12524878,1.79473681 L1.12524878,2.49860013 Z M3.64536585,0.918919923 L0.846,0.918919923 L0.846,4.07323636 L0.14764878,4.07323636 L0.14764878,0.572261509 C0.14764878,0.523655964 0.156360976,0.478260219 0.174243902,0.435157189 C0.192126829,0.392054159 0.216887805,0.354453643 0.248068293,0.322355642 C0.279707317,0.29025764 0.31684878,0.265037782 0.359492683,0.24715461 C0.402595122,0.229271438 0.449365854,0.22010058 0.499346341,0.22010058 L3.64536585,0.22010058 L3.64536585,0.918919923 L3.64536585,0.918919923 Z' id='Fill-40' fill='%23A17D23' mask='url(%23mask-6)'%3E%3C/path%3E%3Cpath d='M11.0525659,1.77868781 C11.0525659,1.64066641 11.0305561,1.5154842 10.9865366,1.40359974 C10.9425171,1.29171528 10.8810732,1.19587982 10.8012878,1.11609336 C10.7215024,1.03676544 10.6256683,0.974862153 10.5137854,0.930842037 C10.4019024,0.886821921 10.2785561,0.865270406 10.1442049,0.865270406 L9.19870244,0.865270406 C9.06251707,0.865270406 8.93825366,0.886821921 8.82637073,0.930842037 C8.7144878,0.974862153 8.61819512,1.03676544 8.53749268,1.11609336 C8.45724878,1.19587982 8.3948878,1.29171528 8.35086829,1.40359974 C8.30684878,1.5154842 8.28529756,1.64066641 8.28529756,1.77868781 L8.28529756,2.51464913 C8.28529756,2.65267054 8.30684878,2.7773942 8.35086829,2.8897372 C8.3948878,3.00162166 8.45724878,3.09745712 8.53749268,3.17678504 C8.61819512,3.2565715 8.7144878,3.31847479 8.82637073,3.36249491 C8.93825366,3.40605648 9.06251707,3.42806654 9.19870244,3.42806654 L10.139161,3.42806654 C10.2748878,3.42806654 10.3991512,3.40605648 10.5110341,3.36249491 C10.6229171,3.31847479 10.7192098,3.2565715 10.7999122,3.17678504 C10.8806146,3.09745712 10.9425171,3.00162166 10.9865366,2.8897372 C11.0305561,2.7773942 11.0525659,2.65267054 11.0525659,2.51464913 L11.0525659,1.77868781 Z M11.7509171,2.51464913 C11.7509171,2.74942308 11.7105659,2.96539678 11.6298634,3.16211167 C11.5496195,3.35928511 11.4377366,3.52940451 11.2942146,3.67292843 C11.1511512,3.81599381 10.9810341,3.92741973 10.785239,4.00720619 C10.5889854,4.08699265 10.3753073,4.12688588 10.1442049,4.12688588 L9.19870244,4.12688588 C8.9676,4.12688588 8.75346341,4.08699265 8.55629268,4.00720619 C8.35958049,3.92741973 8.18946341,3.81599381 8.04594146,3.67292843 C7.90287805,3.52940451 7.79007805,3.35928511 7.70891707,3.16211167 C7.62729756,2.96539678 7.5864878,2.74942308 7.5864878,2.51464913 L7.5864878,1.77868781 C7.5864878,1.54574803 7.62729756,1.33023288 7.70891707,1.1326009 C7.79007805,0.93451038 7.90287805,0.764390974 8.04594146,0.621784139 C8.18946341,0.479635848 8.35958049,0.368209929 8.55629268,0.287506383 C8.75346341,0.206802837 8.9676,0.166451064 9.19870244,0.166451064 L10.1442049,0.166451064 C10.3753073,0.166451064 10.5889854,0.206802837 10.785239,0.287506383 C10.9810341,0.368209929 11.1511512,0.479635848 11.2942146,0.621784139 C11.4377366,0.764390974 11.5496195,0.93451038 11.6298634,1.1326009 C11.7105659,1.33023288 11.7509171,1.54574803 11.7509171,1.77868781 L11.7509171,2.51464913 L11.7509171,2.51464913 Z' id='Fill-42' fill='%23A17D23' mask='url(%23mask-6)'%3E%3C/path%3E%3Cpath d='M19.3080585,1.77868781 C19.3080585,1.64066641 19.2860488,1.5154842 19.2420293,1.40359974 C19.1980098,1.29171528 19.1365659,1.19587982 19.0567805,1.11609336 C18.9769951,1.03676544 18.881161,0.974862153 18.769278,0.930842037 C18.6573951,0.886821921 18.5340488,0.865270406 18.3996976,0.865270406 L17.4541951,0.865270406 C17.3180098,0.865270406 17.1937463,0.886821921 17.0818634,0.930842037 C16.9699805,0.974862153 16.8736878,1.03676544 16.7929854,1.11609336 C16.7122829,1.19587982 16.6503805,1.29171528 16.606361,1.40359974 C16.5623415,1.5154842 16.5403317,1.64066641 16.5403317,1.77868781 L16.5403317,2.51464913 C16.5403317,2.65267054 16.5623415,2.7773942 16.606361,2.8897372 C16.6503805,3.00162166 16.7122829,3.09745712 16.7929854,3.17678504 C16.8736878,3.2565715 16.9699805,3.31847479 17.0818634,3.36249491 C17.1937463,3.40605648 17.3180098,3.42806654 17.4541951,3.42806654 L18.3941951,3.42806654 C18.5303805,3.42806654 18.6546439,3.40605648 18.7665268,3.36249491 C18.8784098,3.31847479 18.9747024,3.2565715 19.0554049,3.17678504 C19.1361073,3.09745712 19.1980098,3.00162166 19.2420293,2.8897372 C19.2860488,2.7773942 19.3080585,2.65267054 19.3080585,2.51464913 L19.3080585,1.77868781 Z M20.0064098,2.51464913 C20.0064098,2.74942308 19.9660585,2.96539678 19.8853561,3.16211167 C19.8051122,3.35928511 19.6927707,3.52940451 19.5497073,3.67292843 C19.4061854,3.81599381 19.2365268,3.92741973 19.0407317,4.00720619 C18.844478,4.08699265 18.6308,4.12688588 18.3996976,4.12688588 L17.4541951,4.12688588 C17.2230927,4.12688588 17.0089561,4.08699265 16.8117854,4.00720619 C16.6150732,3.92741973 16.4444976,3.81599381 16.3014341,3.67292843 C16.1579122,3.52940451 16.0455707,3.35928511 15.9644098,3.16211167 C15.8827902,2.96539678 15.8419805,2.74942308 15.8419805,2.51464913 L15.8419805,1.77868781 C15.8419805,1.54574803 15.8827902,1.33023288 15.9644098,1.1326009 C16.0455707,0.93451038 16.1579122,0.764390974 16.3014341,0.621784139 C16.4444976,0.479635848 16.6150732,0.368209929 16.8117854,0.287506383 C17.0089561,0.206802837 17.2230927,0.166451064 17.4541951,0.166451064 L18.3996976,0.166451064 C18.6308,0.166451064 18.844478,0.206802837 19.0407317,0.287506383 C19.2365268,0.368209929 19.4061854,0.479635848 19.5497073,0.621784139 C19.6927707,0.764390974 19.8051122,0.93451038 19.8853561,1.1326009 C19.9660585,1.33023288 20.0064098,1.54574803 20.0064098,1.77868781 L20.0064098,2.51464913 L20.0064098,2.51464913 Z' id='Fill-43' fill='%23A17D23' mask='url(%23mask-6)'%3E%3C/path%3E%3C/g%3E%3Cpath d='M145.208449,123.804742 C145.208449,123.668555 145.186439,123.54429 145.14242,123.43103 C145.098859,123.318228 145.036498,123.221934 144.955795,123.142606 C144.875093,123.06282 144.7788,123.000917 144.666917,122.956896 C144.555034,122.913335 144.431229,122.891325 144.295044,122.891325 L142.755278,122.891325 L142.755278,125.346822 L144.295044,125.346822 C144.431229,125.346822 144.555034,125.324812 144.666917,125.28125 C144.7788,125.23723 144.875093,125.175327 144.955795,125.09554 C145.036498,125.015754 145.098859,124.919919 145.14242,124.808034 C145.186439,124.69615 145.208449,124.571426 145.208449,124.433405 L145.208449,123.804742 Z M145.9068,124.433405 C145.9068,124.668178 145.866449,124.883694 145.784829,125.080867 C145.70321,125.27804 145.590868,125.447701 145.447346,125.58985 C145.304283,125.732456 145.134166,125.843882 144.936995,125.924586 C144.739824,126.005289 144.526146,126.045641 144.295044,126.045641 L142.408624,126.045641 C142.358644,126.045641 142.312332,126.03647 142.269229,126.018587 C142.226127,126.000704 142.188985,125.975943 142.157805,125.944762 C142.126166,125.913581 142.101863,125.87598 142.083522,125.833336 C142.065639,125.790233 142.056927,125.743462 142.056927,125.69348 L142.056927,122.544666 C142.056927,122.496061 142.065639,122.450665 142.083522,122.407562 C142.101863,122.364459 142.126166,122.326859 142.157805,122.294761 C142.188985,122.262663 142.226127,122.237443 142.269229,122.21956 C142.312332,122.201676 142.358644,122.192505 142.408624,122.192505 L144.295044,122.192505 C144.526146,122.192505 144.739824,122.232857 144.936995,122.313561 C145.134166,122.394264 145.304283,122.50569 145.447346,122.647839 C145.590868,122.790445 145.70321,122.960565 145.784829,123.158655 C145.866449,123.356287 145.9068,123.571802 145.9068,123.804742 L145.9068,124.433405 L145.9068,124.433405 Z' id='Fill-45' fill='%23A17D23'%3E%3C/path%3E%3Cpath d='M153.816098,124.911665 C153.816098,125.049686 153.798673,125.173493 153.763824,125.283543 C153.728976,125.394052 153.682663,125.491263 153.625346,125.575176 C153.568029,125.659548 153.501083,125.731081 153.424049,125.790233 C153.347015,125.849385 153.267229,125.897532 153.184693,125.935132 C153.102615,125.972733 153.018702,126.000704 152.933873,126.018587 C152.848585,126.03647 152.768341,126.045641 152.693141,126.045641 L149.998322,126.045641 L149.998322,125.346822 L152.693141,125.346822 C152.827493,125.346822 152.932039,125.307387 153.006322,125.228518 C153.080605,125.149648 153.117746,125.044184 153.117746,124.911665 C153.117746,124.84701 153.107659,124.787858 153.0884,124.734209 C153.068683,124.680559 153.040254,124.633788 153.003571,124.594812 C152.966888,124.555377 152.921951,124.524655 152.86922,124.503103 C152.816488,124.481552 152.757795,124.471005 152.693141,124.471005 L151.086429,124.471005 C150.973629,124.471005 150.852117,124.450829 150.720976,124.410477 C150.590293,124.370126 150.469239,124.305471 150.356898,124.215597 C150.245015,124.126181 150.151932,124.008794 150.077649,123.863894 C150.003366,123.718536 149.966224,123.541539 149.966224,123.331985 C149.966224,123.12243 150.003366,122.945433 150.077649,122.800992 C150.151932,122.657009 150.245015,122.539622 150.356898,122.449289 C150.469239,122.358957 150.590293,122.293385 150.720976,122.253033 C150.852117,122.212681 150.973629,122.192505 151.086429,122.192505 L153.4644,122.192505 L153.4644,122.891325 L151.086429,122.891325 C150.953912,122.891325 150.850741,122.931677 150.776459,123.011922 C150.701717,123.092625 150.664576,123.199466 150.664576,123.331985 C150.664576,123.466338 150.701717,123.572261 150.776459,123.650213 C150.850741,123.728166 150.953912,123.767142 151.086429,123.767142 L152.698644,123.767142 C152.773844,123.768976 152.853629,123.779064 152.937541,123.797864 C153.021912,123.816664 153.105824,123.846011 153.18882,123.885446 C153.272273,123.92488 153.3516,123.974403 153.4268,124.034472 C153.502,124.094541 153.568488,124.166533 153.626722,124.250904 C153.684956,124.334818 153.731268,124.43157 153.7652,124.540704 C153.799132,124.650295 153.816098,124.773643 153.816098,124.911665' id='Fill-46' fill='%23A17D23'%3E%3C/path%3E%3Cg id='Group-50' transform='translate(157.278049, 121.972405)'%3E%3Cmask id='mask-8' fill='white'%3E%3Cuse xlink:href='%23path-7'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-48'%3E%3C/g%3E%3Cpolyline id='Fill-47' fill='%23A17D23' mask='url(%23mask-8)' points='4.08189268 0.918919923 2.54212683 0.918919923 2.54212683 4.07323636 1.84377561 4.07323636 1.84377561 0.918919923 0.301258537 0.918919923 0.301258537 0.22010058 4.08189268 0.22010058 4.08189268 0.918919923'%3E%3C/polyline%3E%3Cpath d='M11.4074732,1.77868781 C11.4074732,1.64066641 11.3854634,1.5154842 11.3419024,1.40359974 C11.2978829,1.29171528 11.2359805,1.19587982 11.1561951,1.11609336 C11.0764098,1.03676544 10.9805756,0.974862153 10.8686927,0.930842037 C10.7568098,0.886821921 10.633922,0.865270406 10.4995707,0.865270406 L9.55360976,0.865270406 C9.41742439,0.865270406 9.29361951,0.886821921 9.18173659,0.930842037 C9.06985366,0.974862153 8.97356098,1.03676544 8.89285854,1.11609336 C8.8121561,1.19587982 8.74979512,1.29171528 8.70623415,1.40359974 C8.66221463,1.5154842 8.64020488,1.64066641 8.64020488,1.77868781 L8.64020488,2.51464913 C8.64020488,2.65267054 8.66221463,2.7773942 8.70623415,2.8897372 C8.74979512,3.00162166 8.8121561,3.09745712 8.89285854,3.17678504 C8.97356098,3.2565715 9.06985366,3.31847479 9.18173659,3.36249491 C9.29361951,3.40605648 9.41742439,3.42806654 9.55360976,3.42806654 L10.4940683,3.42806654 C10.6302537,3.42806654 10.7540585,3.40605648 10.8659415,3.36249491 C10.9782829,3.31847479 11.0745756,3.2565715 11.1548195,3.17678504 C11.235522,3.09745712 11.2978829,3.00162166 11.3419024,2.8897372 C11.3854634,2.7773942 11.4074732,2.65267054 11.4074732,2.51464913 L11.4074732,1.77868781 Z M12.1062829,2.51464913 C12.1062829,2.74942308 12.0659317,2.96539678 11.9852293,3.16211167 C11.9045268,3.35928511 11.7926439,3.52940451 11.649122,3.67292843 C11.5060585,3.81599381 11.3364,3.92741973 11.1401463,4.00720619 C10.9438927,4.08699265 10.7306732,4.12688588 10.4995707,4.12688588 L9.55360976,4.12688588 C9.32250732,4.12688588 9.10837073,4.08699265 8.91165854,4.00720619 C8.7144878,3.92741973 8.54437073,3.81599381 8.40130732,3.67292843 C8.25778537,3.52940451 8.1454439,3.35928511 8.06382439,3.16211167 C7.98220488,2.96539678 7.94185366,2.74942308 7.94185366,2.51464913 L7.94185366,1.77868781 C7.94185366,1.54574803 7.98220488,1.33023288 8.06382439,1.1326009 C8.1454439,0.93451038 8.25778537,0.764390974 8.40130732,0.621784139 C8.54437073,0.479635848 8.7144878,0.368209929 8.91165854,0.287506383 C9.10837073,0.206802837 9.32250732,0.166451064 9.55360976,0.166451064 L10.4995707,0.166451064 C10.7306732,0.166451064 10.9438927,0.206802837 11.1401463,0.287506383 C11.3364,0.368209929 11.5060585,0.479635848 11.649122,0.621784139 C11.7926439,0.764390974 11.9045268,0.93451038 11.9852293,1.1326009 C12.0659317,1.33023288 12.1062829,1.54574803 12.1062829,1.77868781 L12.1062829,2.51464913 L12.1062829,2.51464913 Z' id='Fill-49' fill='%23A17D23' mask='url(%23mask-8)'%3E%3C/path%3E%3C/g%3E%3Cpath d='M177.44678,123.487431 C177.44678,123.647003 177.427063,123.78961 177.387629,123.914793 C177.348195,124.040433 177.295005,124.150942 177.2276,124.246778 C177.160654,124.342613 177.083161,124.424234 176.995122,124.492557 C176.907541,124.560421 176.815834,124.616363 176.72,124.660383 C176.624166,124.704403 176.527415,124.736043 176.429746,124.75576 C176.332078,124.775477 176.240371,124.785565 176.154166,124.785565 L177.613229,126.045641 L176.532917,126.045641 L175.077063,124.785565 L174.574507,124.785565 L174.574507,124.086746 L176.154166,124.086746 C176.242205,124.079409 176.32199,124.061068 176.394898,124.031721 C176.467346,124.002374 176.530166,123.962481 176.582898,123.912041 C176.635629,123.86206 176.676439,123.801532 176.704868,123.730917 C176.733756,123.659843 176.747971,123.579139 176.747971,123.487431 L176.747971,123.047229 C176.747971,123.007795 176.742927,122.977531 176.733298,122.956896 C176.72321,122.936262 176.710829,122.92113 176.695698,122.911501 C176.680566,122.901413 176.664517,122.895452 176.647093,122.894076 C176.630127,122.892242 176.614537,122.891325 176.600322,122.891325 L174.295259,122.891325 L174.295259,126.045641 L173.596449,126.045641 L173.596449,122.544666 C173.596449,122.496061 173.60562,122.450665 173.623502,122.407562 C173.641385,122.364459 173.665688,122.326859 173.697327,122.294761 C173.728507,122.262663 173.765649,122.237443 173.808751,122.21956 C173.851854,122.201676 173.898166,122.192505 173.948605,122.192505 L176.600322,122.192505 C176.756224,122.192505 176.887824,122.220935 176.995122,122.277336 C177.102878,122.333737 177.19,122.404352 177.257405,122.489641 C177.324351,122.574472 177.372498,122.66618 177.402302,122.764767 C177.431649,122.863354 177.44678,122.955521 177.44678,123.041727 L177.44678,123.487431' id='Fill-51' fill='%23A17D23'%3E%3C/path%3E%3Cpath d='M182.630995,124.471005 L184.837015,124.471005 L184.837015,123.767142 L182.630995,123.767142 L182.630995,124.471005 Z M185.151112,126.045641 L182.630995,126.045641 C182.534244,126.045641 182.42878,126.028217 182.314146,125.994284 C182.199512,125.960352 182.093132,125.90441 181.995463,125.826458 C181.898254,125.748505 181.816634,125.647168 181.751063,125.522902 C181.685951,125.398179 181.652937,125.245484 181.652937,125.064818 L181.652937,122.544666 C181.652937,122.496061 181.662107,122.450665 181.67999,122.407562 C181.697873,122.364459 181.722634,122.326859 181.753815,122.294761 C181.785454,122.262663 181.822595,122.237443 181.865239,122.21956 C181.908341,122.201676 181.955112,122.192505 182.005093,122.192505 L185.151112,122.192505 L185.151112,122.891325 L182.351746,122.891325 L182.351746,125.064818 C182.351746,125.156068 182.376049,125.225767 182.424195,125.274372 C182.4728,125.322519 182.543415,125.346822 182.636498,125.346822 L185.151112,125.346822 L185.151112,126.045641 L185.151112,126.045641 Z' id='Fill-52' fill='%23A17D23'%3E%3C/path%3E%3Cpath d='M88.711239,22.8092983 C88.7025268,22.8189277 88.6933561,22.8354352 88.6837268,22.8358937 C88.6740976,22.8358937 88.6640098,22.8207618 88.653922,22.8125081 C88.6681366,22.8028787 88.6823512,22.7937078 88.6961073,22.7840784 C88.7016098,22.7927907 88.7066537,22.801503 88.711239,22.8092983 Z M87.8056293,55.8152144 C87.2870244,56.1329847 87.1673463,56.5470489 87.1201171,57.0000892 C87.0921463,57.2720052 87.2086146,57.3733431 87.4750244,57.3728846 C87.8808293,57.372426 88.266,57.2697124 88.6571317,57.1862576 C88.7910244,57.157828 88.9648098,57.067495 89.0652293,57.2256923 C89.1459317,57.3540843 89.0368,57.4879789 88.9657268,57.5929852 C88.6364976,58.0762894 88.2284,58.4820998 87.7345561,58.7989529 C87.5034537,58.9475208 87.2521756,58.9892482 87.0210732,58.8457243 C86.504761,58.5256614 85.9957854,58.1927593 85.5005659,57.8415154 C85.1860098,57.618205 85.1905951,57.3362012 85.4317854,57.0386068 C86.0145854,56.3209872 86.7803415,55.9582798 87.8056293,55.8152144 Z M98.186439,57.5136573 C99.4918927,57.5705166 99.7926927,58.0492353 99.2919707,59.2345687 C99.2745463,59.275379 99.2594146,59.3175649 99.2415317,59.3583752 C98.8861659,60.184211 98.3221659,60.8830303 97.8590439,61.6432944 C97.6971805,61.9087907 97.5490732,62.184375 97.4138049,62.4640861 C97.3647415,62.5640485 97.3317268,62.7002357 97.4394829,62.7956126 C97.5486146,62.8919066 97.678839,62.8322961 97.7746732,62.7804807 C97.9970634,62.6598839 98.1928585,62.4961841 98.3528878,62.2971765 C98.838478,61.6960268 99.3139805,61.0866233 99.8069073,60.4914347 C100.509385,59.644506 101.20361,58.7851966 102.158283,58.1991789 C102.34399,58.0850017 102.582429,57.9460632 102.775015,58.1285632 C102.946966,58.2922631 102.746585,58.4825583 102.691561,58.6563461 C102.665424,58.740718 102.621405,58.820963 102.57601,58.8970811 C101.551639,60.6340415 100.287454,62.1921702 98.9416488,63.6824346 C98.4588098,64.2161785 97.8329073,64.4802992 97.0877854,64.2354373 C96.394478,64.0070829 95.7254732,63.7209522 95.1078244,63.3316493 C94.6612098,63.0505625 94.5805073,62.7456315 94.8116098,62.2669127 C95.122039,61.6258698 95.4402634,60.9875781 95.7777463,60.3602914 C96.2422439,59.4973137 96.7076585,58.6320433 97.3610732,57.8892039 C97.5875902,57.6310442 97.8397854,57.4398319 98.186439,57.5136573 Z M92.1919902,14.8732967 C93.4465463,14.9530832 94.4810049,15.4694025 95.2032,16.513046 C95.7144683,17.2517586 95.4251317,17.9271923 94.5681268,18.1358293 C93.7354244,18.3389638 93.0196488,17.999642 92.3162537,17.640603 C91.6417463,17.2966958 90.9883317,16.9115198 90.3193268,16.5566076 C90.1560878,16.4704015 89.9676293,16.3383412 89.7796293,16.4855335 C89.5842927,16.6386868 89.6434439,16.8606215 89.6815024,17.0651317 C89.8112683,17.7593656 90.0973951,18.3971987 90.4114927,19.0217341 C90.522,19.2413761 90.4954049,19.3509679 90.2789756,19.4724818 C89.7085561,19.7920861 89.1317171,20.0928903 88.5292,20.351967 C87.9867512,20.5853653 87.5204195,20.4863201 87.0673854,20.1589204 C86.4589073,19.7196364 85.9577268,19.1744289 85.4831415,18.5971234 C85.2703805,18.3380467 85.3492488,18.1995667 85.5798927,18.0294473 C87.2393366,16.8042208 89.0147902,15.7922166 90.961278,15.0975242 C91.3524098,14.9581271 91.7586732,14.8517452 92.1919902,14.8732967 Z M67.4887902,56.7313831 C67.4401854,56.5942788 67.3957073,56.5131167 67.3833268,56.4273692 C67.2884098,55.7656918 67.1568098,55.1058486 67.1169171,54.4400444 C66.8624293,50.1948544 67.9344878,46.3105377 70.3537268,42.8095629 C70.5091707,42.5848769 70.4651512,42.4661142 70.3252976,42.2739848 C69.8447512,41.6123074 69.3683317,40.9460446 68.9217171,40.2609816 C67.3007902,37.7756792 65.8559415,35.2005024 65.0113171,32.3327752 C64.6692488,31.1717447 64.4546537,29.9891626 64.5381073,28.7698971 C64.5573659,28.4856005 64.5940488,28.2856758 64.9801366,28.4846834 C67.2512683,29.656719 69.3875902,31.0254695 71.2602537,32.7748106 C72.8435805,34.2540699 74.1710439,35.9185805 74.8354634,38.0269607 C74.9322146,38.3351015 75.0496,38.6459936 75.0473073,39.0128279 C74.7657659,38.8610502 74.5773073,38.6359056 74.2558732,38.6161883 C74.2742146,38.7354094 74.2852195,38.822074 74.3008098,38.9082801 C74.5516293,40.2687768 74.8235415,41.6311077 74.7708098,43.020034 C74.754761,43.4501473 74.9065366,43.6221008 75.2568585,43.564783 C75.7594146,43.4817867 75.7598732,43.7715858 75.7750049,44.1095319 C75.8419512,45.6030061 75.4599902,47.0011033 74.8340878,48.3336289 C73.1994049,51.8139693 70.4949561,54.3630092 67.4887902,56.7313831 Z M88.4168585,22.8831237 C88.4636293,22.8565282 88.5140683,22.8248887 88.553961,22.8863335 C88.5585463,22.8932116 88.5076488,22.9363146 88.4824293,22.9624516 C88.0734146,23.2582117 87.651561,23.5374643 87.2613463,23.8561516 C87.0449171,24.0326907 86.6166439,24.2087711 86.7537463,24.4884823 C86.8592098,24.7030803 87.2961951,24.5522197 87.5804878,24.4779358 C89.042761,24.0945939 90.3766439,23.4026527 91.719239,22.7354729 C92.3506439,22.421371 92.9765463,22.090303 93.6304195,21.6212137 C92.7715805,21.4189963 91.9939024,21.4290842 91.1570732,21.4882362 C91.2441951,21.4116596 91.2721659,21.3722249 91.3102244,21.3561759 C92.8834634,20.6995425 94.5222732,20.298776 96.2110634,20.0878463 C96.4504195,20.058041 96.4866439,20.1731353 96.4967317,20.362972 C96.6278732,22.9331048 96.8255024,25.4986522 97.0423902,28.0623654 C97.1992098,29.9148787 97.3665756,31.7664748 97.6311512,33.6070659 C97.7219415,34.2398551 97.8237366,34.8708101 97.9273659,35.5467023 C97.6861756,35.3963002 97.5064293,35.2642398 97.3092585,35.164736 C96.8296293,34.9226254 96.5733073,35.0528516 96.5104878,35.5856784 C96.456839,36.0442213 96.4623415,36.5055154 96.5430439,36.9645168 C96.6787707,37.7353274 97.0162537,38.3080475 97.8783024,38.4061756 C98.1282049,38.4346053 98.2400878,38.5822561 98.2896098,38.8427084 C98.6073756,40.5214339 98.919639,42.2019936 99.2818829,43.8715482 C100.044429,47.3862793 100.895473,50.8790004 102.171122,54.2502076 C102.326566,54.6615206 102.250449,54.8036689 101.8584,54.938939 C99.7472976,55.6671051 97.5825463,55.7844921 95.3861561,55.5364204 C92.808722,55.2457042 90.3624293,54.4826888 88.0078439,53.4142839 C82.6558049,50.9862994 79.0214439,47.120783 77.8696,41.2051213 C77.594478,39.7923507 77.3294439,38.3818729 77.7004,36.9246236 C78.6408585,33.2310607 80.4158537,29.9873284 82.9093756,27.1333576 C84.4601463,25.3583381 86.2580683,23.880913 88.4168585,22.8831237 Z M61.4842537,25.9792052 C61.6507024,28.5984021 62.403161,31.4046845 63.3894732,34.1568588 C64.4303512,37.0589767 65.7261756,39.8460003 67.2301756,42.5358128 C67.3727805,42.7907626 67.385161,42.97097 67.2434732,43.2240856 C65.260761,46.7672464 64.3702829,50.5690254 64.6233951,54.623003 C64.7462829,56.5915275 65.1461268,58.5096124 65.8747415,60.3502035 C66.0925463,60.901372 66.0975902,60.9036647 66.6620488,60.6574272 C67.7813366,60.169079 68.7314244,59.4280738 69.6278634,58.6187456 C72.4955512,56.029354 74.8363805,52.9878391 77.0955902,49.8770842 C77.3574146,49.5157524 77.6160293,49.1516694 77.8604293,48.7779569 C77.9865268,48.5849104 78.0681463,48.6000423 78.2245073,48.7550298 C79.9747415,50.484195 81.9409463,51.9634543 83.7980195,53.5692714 C84.818722,54.4519665 84.8168878,54.8100885 83.7352,55.6331729 C83.202839,56.0385248 82.6420488,56.4108616 82.1894732,56.9106734 C81.6965463,57.4549638 81.7286439,57.7644802 82.3252,58.1835884 C83.7012683,59.1501968 85.1241073,60.040687 86.5886732,60.8678984 C87.2141171,61.2209764 87.7551902,61.1815417 88.3306537,60.7959072 C89.2550634,60.1777914 90.0437463,59.4175273 90.7526439,58.5669302 C91.6541268,57.4856861 92.753239,57.2000139 94.0619024,57.7016598 C94.8606732,58.0079665 95.0688488,58.5990282 94.5965561,59.2992232 C93.9362634,60.2777537 93.1296976,61.1338533 92.2896585,61.9583133 C91.9494244,62.2921326 91.599561,62.617698 91.3638732,63.0395574 C90.9814537,63.7237034 91.1726634,64.2010466 91.9026537,64.4559964 C93.7666049,65.1057516 95.5874537,65.8715182 97.4605756,66.5024732 C98.3001561,66.7853942 98.9356878,66.6524168 99.5666341,66.0581452 C102.277044,63.5049785 104.384937,60.5684699 105.467083,56.9597375 C105.539073,56.7203781 105.500556,56.5277901 105.420312,56.3173189 C103.734732,51.9162244 102.316937,47.430758 101.199483,42.8508317 C100.42318,39.6685442 99.8940293,36.4459048 99.5166537,33.1934602 C99.0397756,29.0803306 98.7912488,24.9548204 98.8017951,20.8146368 C98.8040878,19.8599505 98.7944585,18.9126009 98.6481854,17.967544 C98.5963707,17.6314321 98.4817366,17.3457599 98.2510927,17.0935613 C97.0419317,15.7720407 95.7204293,14.5784536 94.3044683,13.480702 C93.5442146,12.8910159 92.7174732,12.7850925 91.8210341,12.9492508 C88.9207902,13.4793264 86.228722,14.5353506 83.7737171,16.1764756 C83.3142634,16.4836993 82.896078,16.8454896 82.575561,17.3026569 C82.1225268,17.9478267 82.2238634,18.3880279 82.8809463,18.8296046 C83.8117756,19.4550571 84.4587707,20.3565524 85.1419902,21.218613 C85.6706829,21.8853344 85.658761,21.8890027 84.9393171,22.3668044 C82.0042244,24.3174458 79.7129171,26.897208 77.7256195,29.7718133 C77.048361,30.7512609 76.4123707,31.7573039 75.8635024,32.8147038 C75.7172293,33.0957906 75.6379024,33.1430205 75.3774537,32.901827 C72.9137366,30.6224103 70.3037463,28.5342061 67.3590244,26.8981251 C65.7688195,26.014513 64.1212976,25.2625026 62.322,24.9149271 C61.299922,24.7172952 61.4585756,24.699412 61.4842537,25.9792052 L61.4842537,25.9792052 Z' id='Fill-53' fill='%23A17D23'%3E%3C/path%3E%3Cpath d='M102.051444,25.2780931 C102.078498,23.8960449 102.122517,22.3049011 102.206888,20.7151329 C102.22202,20.4248753 102.355454,20.3693916 102.585639,20.3528841 C105.003044,20.181389 107.300312,20.5661065 109.379317,21.8807489 C110.058868,22.3104036 110.744839,22.7285947 111.458322,23.0926778 C112.531298,23.6401779 113.47038,24.3596317 114.323259,25.1964725 C115.099561,25.9567366 115.846059,26.7468059 116.622361,27.5066115 C116.840166,27.7193754 116.861717,27.8610651 116.705815,28.1412348 C115.806166,29.7608083 114.667161,31.2116379 113.580429,32.7009852 C112.983415,33.5190257 112.227746,34.20684 111.683463,35.0670664 C111.060771,36.0510994 111.185951,36.4610368 112.276351,36.8737253 C113.225063,37.233223 114.226049,37.3882104 115.21282,37.5986816 C116.329356,37.8366654 117.466068,38.0132044 118.52758,38.4556983 C119.416683,38.8266594 119.62761,39.2251332 119.379541,40.1335066 C118.754556,42.4253039 117.80401,44.5735773 116.563668,46.6058393 C114.512634,49.9674172 111.561034,52.1143149 107.839551,53.2753455 C107.574517,53.3583417 107.47318,53.2932286 107.37001,53.0602888 C106.961454,52.1354079 106.581785,51.1995219 106.240634,50.2480454 C103.370654,42.244638 102.104176,33.9688562 102.051444,25.2780931 Z M101.951941,17.7332286 C101.266888,17.7446922 100.583668,17.7469849 99.9018244,17.8345666 C99.6702634,17.8643719 99.5991902,17.9381973 99.6120293,18.165176 C99.7326244,20.3184934 99.8468,22.4722692 99.9605171,24.6255866 C100.030673,25.9475657 100.123756,27.2690863 100.158605,28.5919825 C100.392,37.4519479 102.236693,45.9785527 105.41481,54.232783 C105.654624,54.8568598 105.918283,55.4713073 106.164517,56.0930914 C106.245678,56.2989772 106.321795,56.3925199 106.585912,56.3035626 C111.551405,54.6321738 115.786907,51.944654 118.790322,47.5440181 C120.713883,44.7258135 121.80841,41.5971755 122.194498,38.2145047 C122.279785,37.4647871 121.951015,36.9489264 121.23478,36.6976449 C120.368605,36.3940895 119.451532,36.3904211 118.55601,36.2647804 C117.438098,36.1075002 116.312849,35.9969914 115.213737,35.7273681 C114.641024,35.587054 114.613512,35.5324874 114.937239,35.0285488 C116.088624,33.2379389 117.394537,31.5555451 118.610117,29.8094138 C118.882029,29.4196524 119.133766,29.0152175 119.394215,28.6172023 C119.687678,28.1692059 119.652829,27.7358829 119.37679,27.2851353 C118.677522,26.1410708 117.747151,25.201975 116.761756,24.3137774 C115.011063,22.7363899 113.156283,21.2883115 111.122673,20.0974757 C108.298088,18.4439701 105.209844,17.7414824 101.951941,17.7332286 L101.951941,17.7332286 Z' id='Fill-54' fill='%23A17D23'%3E%3C/path%3E%3Cpath d='M88.7116976,22.8097568 C88.7066537,22.801503 88.7016098,22.7927907 88.6961073,22.7840784 C88.6823512,22.7937078 88.6681366,22.8028787 88.653922,22.8125081 C88.6640098,22.8207618 88.6740976,22.8358937 88.6837268,22.8358937 C88.6933561,22.8354352 88.7025268,22.8189277 88.7116976,22.8097568' id='Fill-55' fill='%23FFFFFF'%3E%3C/path%3E%3Cpath d='M109.930937,25.0717488 C108.521395,25.0905491 107.469512,26.0759577 107.489688,27.3594192 C107.507571,28.5346646 108.553493,29.4797215 109.808966,29.4558772 C111.140098,29.4301988 112.226371,28.3870138 112.214449,27.1461968 C112.202985,25.9957127 111.168527,25.0552413 109.930937,25.0717488' id='Fill-56' fill='%23A17D23'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      width: 188px;
      height: 127px;
      display: block;
      background-size: cover;
    }
  }
}

#block-base-local-tasks{
  z-index: 10;
}
.path-frontpage{
  .slides-wrapper{
    position: relative;
  }
}
.scroll-icon{
  display: none;
  @include breakpoint(large){
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='36px' height='76px' viewBox='0 0 36 76' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup 6%3C/title%3E%3Cg id='Home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='0.0-Home' transform='translate(-160.000000, -678.000000)'%3E%3Cg id='Group-6' transform='translate(160.000000, 678.000000)'%3E%3Cg id='Group-2' transform='translate(0.000000, 5.000000)'%3E%3Cline x1='17' y1='0' x2='17' y2='43' id='Line-2' stroke='%23A17D23' stroke-width='2' stroke-linecap='square'%3E%3C/line%3E%3Ctext id='scroll' font-family='TabletGothic, Tablet Gothic' font-size='13' font-weight='normal' letter-spacing='0.6' fill='%23A17D23'%3E%3Ctspan x='0' y='71'%3Escroll%3C/tspan%3E%3C/text%3E%3C/g%3E%3Ccircle id='Oval-Copy-6' fill='%23A17D23' cx='17.5' cy='5.5' r='5.5'%3E%3C/circle%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    width: 36px;
    height: 76px;
    display: block;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 75px;
    z-index: 1;
    cursor: pointer;
  }
}

.off-canvas.is-open{
  box-shadow: none;
  box-shadow: 0px 0px 0px;
}
