h1,
h2,
h3,
h4{
  font-weight:700;
}

h2{
  line-height: 0.9;
}

.section-user,
.section-checkout{
  .region-content{
    @include grid-row();
  }
}

.call_to_action{
  position: relative;
  color: #fff;
  &:after{
    content: '';
    display: block;
    width:100%;
    height:100%;
    background: rgba(#000, 0.8);
    position: absolute;
    top:0;
    left:0;
    z-index:0;
  }
  & > div{
    @include grid-row();
    @include grid-col-gutter();
    position: relative;
    max-width:600px;
    text-align: center;
    padding-top:50px;
    padding-bottom:50px;
    font-weight:500;
    z-index:1;
    h2{
      margin-bottom:30px;
    }
    .field-name-field-cta-link{
      a{
        @include button();
      }
    }
  }
  @include breakpoint(medium){
    & > div{
      padding-top:100px;
      padding-bottom:100px;
    }
  }
}

