@media print {
  nav,
  header,
  footer,
  .view .view-header,
  .view .view-filters,
  .view .view-footer {
    display: none;
  }
  
  .view {
    font-size: 8pt;
  }
  
  .view th,
  .view td {
    padding: 3pt;
  }
}
