<div class="add-to-cart-message-wrapper">
    <article>
        <figure>
            {{ product_entity.field_images.0|view('add_to_cart_message') }}
        </figure>
        <main>
            <div class="quantity">
                {# This code will only be executed when the commerce_weight custom module is enabled. #}
                {% if product_entity.bundle == 'weight_product' %}
                    {% set quantity_val = quantity * 1000 %}
                    {{ quantity_val }} gr
                {% elseif product_entity.bundle == 'per_person' %}
                    {{ quantity_val }} {{ 'pers'|trans }}
                {% else %}
                    {{ quantity }} x
                {% endif %}
            </div>
            <h4><a href="{{ path('entity.commerce_product.canonical', {'commerce_product': product_entity.id}) }}">{{ product_entity.title.value }}</a></h4>
            <div class="price-wrapper">

                {# This code will only be executed when the commerce_weight custom module is enabled. #}
                {% if product_entity.bundle == 'weight_product' %}
                    {% set quantity_val = quantity * 1000 %}
                    {{ price.0 }}/kg
                {% elseif product_entity.bundle == 'per_person' %}
                    {{ price.0 }}/{{ 'person'|trans }}
                {% else %}
                    {{ price.0 }}/st
                {% endif %}
            </div>
        </main>
    </article>
    <div class="add-to-cart-message-actions">
        <a href="/cart" class="button button--primary">{{ "Checkout"|t }}</a>
        <button type="button" class="button close-dialog-button" title="Close">{{ "Continue shopping"|t }}</button>
    </div>
</div>