.cart-form-view{
  @include grid-row();
  .cart-items-list-wrapper{
    & > ul{
      margin: 0;
      & > li{
        list-style: none;
        display: flex;
        @include breakpoint(smallplus down){
          flex-direction: column;
        }
        @include breakpoint(mediumplus down){
          padding-right: 25px;
        }
      }
    }
  }
  .views-field-product-id{
    padding-right: 15px;
  }
  .order-item-info-wrapper{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .order-item-title{
    width: 100%;
    padding-right: 20px;
    a{
      display: block;
      width: 100%;
      text-decoration: none;
      font-weight: $global-weight-bold;
    }
  }
  .views-field-unit-price__number{
    font-weight: $global-weight-bold;
    & > .field-content{
      white-space: nowrap;
      display: flex;
      & > span{
        white-space: nowrap;
      }
    }
  }
  .delete-order-item{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    width: 13px;
    height: 13px;
    background: url('../images/icons/close.svg')no-repeat center center;
    background-size: 13px;
    margin: 0;
    span{
      display: none;
    }
  }
  .order-item-details{
    display: flex;
    align-items: center;
  }
  .order-item-extra{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: center;
  }
  @include breakpoint(medium){
    .order-item-title{
      display: flex;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      flex: 1 1 50%;
    }
    .order-item-info-wrapper{
      flex-wrap: nowrap;
    }
    .views-field-unit-price__number{
      padding-right: 15px;
    }
    .order-item-details{
      padding-right: 15px;
      flex: 1 1 30%;
    }
    .order-item-extra{
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      flex: 1 1 20%;
    }
    .delete-order-item{
      position: relative;
      flex: 0 0 13px;
    }
  }
}

div[data-drupal-selector="order-total-summary"]{
  @include breakpoint(mediumplus down){
    padding-right: 25px;
  }
}
