/* TEMP DIRTY
 */
div[id*='edit-mvi-shipping-information-shipments-0-shipping-method-0'] {
  & > div:last-of-type {
    display: none !important;
  }
}
/*
///
 */
.checkout-pane-login{
  .form-wrapper__login-option{
    margin-bottom:20px;
    .button{
      border:none;
      padding:10px 20px;
      margin-right:10px;
    }
  }
}

.layout-region-checkout-main{
  .checkout-pane{
    & > legend{
      margin:0;
      display: block;
      .fieldset-legend{
        display: block;
        letter-spacing:2px;
        margin-bottom:20px;
      }
    }
  }
  @media screen and (min-width: 780px) and (orientation: landscape){
    padding-right:5em;
  }
  @media screen and (min-width: 1000px) and (orientation: landscape){
    padding-right:8em;
  }
}

.layout-region-checkout-secondary{
  margin-top: 75px;
  max-width:400px;

  @media screen and (min-width: 780px) and (orientation: landscape){
    margin-top:0;
  }

  & > h3{
    margin-bottom:25px;
    @media screen and (min-width: 780px) and (orientation: landscape){
      margin-bottom:50px;
    }
  }
  div[id^="edit-sidebar-coupon-redemption-form"]{
    display: flex;
    align-items:flex-end;
    input{
      margin-bottom:0;
    }
    input.button{
      margin-left:5px;
      color: $secondary-color;
      border: 2px solid $secondary-color;
      background: none;
      padding: 10px 25px;
      height:39px;
      line-height: 15px;
      &:hover,
      &:focus{
        background: $secondary-color;
        color: #fff;
      }
    }
  }
}

.commerce-checkout-flow{
  margin-bottom:75px;
  select,
  input{
    cursor: pointer;
    transition: 0.2s;
    box-shadow: none;
    &:focus{
      box-shadow: none;
      outline: none;
      border-color: $primary-color;
    }
  }
  .form-required {
    &:after {
      margin: 0.6em 0.3em 0 0.3em;
    }
  }
  .checkout-pane{
    padding-bottom:25px;
    border-bottom:1px solid #979797;
    margin-bottom:45px;
    &.checkout-pane-order-summary{
      border-bottom:none;
      margin-bottom:15px;
      border-bottom:1px solid #979797;
      .views-field-quantity {
        &>span {
          float: left;
        }
        &>article {
          float: left;
          margin-left: 4px;
        }
        h2 {
          display: none;
        }
      }
    }
    @media screen and (min-width: 780px) and (orientation: landscape){
      &.checkout-pane-shipping-information{
        border-bottom:none;
      }
    }
  }
  .field--name-field-vat,
  .field--name-field-company,
  .form-item-payment-information-billing-information-copy-to-address-book {
    display: none;
  }
  .form-item-shipping-information-shipping-profile-profile-selection,
  .form-item-payment-information-billing-information-profile-selection {
    background: #EDE9E8;
    padding:20px;
    label{
      text-transform: uppercase;
      margin-bottom:10px;
    }
    select{
      border:none;
      margin-bottom:0;
      cursor: pointer;
    }
    @media screen and (min-width: 420px){
      display: flex;
      align-items:center;
      label{
        flex:1 0 auto;
        margin-bottom:0;
        margin-right:12px;
        &:after{
          content: ':';
        }
      }
    }
  }

  div[data-drupal-selector^="edit-review-payment-information-summary-profile"],
  div[data-drupal-selector^="edit-payment-information-billing-information-profile"],
  div[data-drupal-selector^="edit-review-shipping-information-summary-profile"],
  div[data-drupal-selector^="edit-shipping-information-shipping-profile-profile"] {
    margin-top:20px;
    padding-left:20px;
  }
  a[id^="edit-payment-information-billing-information-new"],
  a[id^="edit-payment-information-billing-information-edit"],
  a[id^="edit-shipping-information-shipping-profile-new"],
  a[id^="edit-shipping-information-shipping-profile-edit"]{
    color: $secondary-color;
    border:2px solid $secondary-color;
    background: none;
    margin:0 15px 0 0;
    padding:10px 25px;
    &:hover,
    &:focus{
      background: $secondary-color;
      color: #fff;
    }
  }


  a[id^="edit-payment-information-billing-information-edit"],
  a[id^="edit-shipping-information-shipping-profile-edit"]{
    margin-right:0;
  }

  a[id^="edit-payment-information-billing-information-new"],
  a[id^="edit-shipping-information-shipping-profile-new"]{
    margin-left:20px;
  }
  input[id^="edit-shipping-information-recalculate-shipping"]{
    display: none;
  }
  div[id^="edit-shipping-information-shipments"]{
    legend{
      margin:0;
      display: block;
      .fieldset-legend{
        display: block;
        letter-spacing:2px;
        margin-bottom:30px;
      }
    }
  }


  div[id^="edit-shipping-information-shipping-profile--"],
  div#edit-shipping-information-shipping-profile {
    padding-bottom:25px;
    border-bottom:1px solid #979797;
    margin-bottom:45px;
  }
  div[id^="shipping-information-shipping-profile-ajax-wrapper"]{
    padding-bottom:25px;
    border-bottom:1px solid #979797;
    margin-bottom:45px;
  }
  .layout-region-checkout-footer{
    width:100%;
    padding:0;
    .form-submit{
      padding: 20px 35px

    }
  }
}

#edit-completion-message{
  border-bottom: solid 0px white!important;
  z-index: 5!important;
  position: relative!important;
  background-color: white!important;
}
.profile-customer-add-form,
.profile-customer-edit-form{
  max-width:600px;
  margin:0 auto 75px auto;
  summary{
    display: none;
  }
  select,
  input{
    cursor: pointer;
    border-color: $primary-color;
    transition: 0.2s;
    box-shadow: none;
    &:focus{
      box-shadow: none;
      outline: none;
      border-color: $primary-color;
    }
  }
  .form-actions{
    margin-top:25px;
    input{
      color: $secondary-color;
      border:2px solid $secondary-color;
      background: none;
      margin:0 15px 0 0;
      padding:10px 25px;
      &:hover,
      &:focus{
        background: $secondary-color;
        color: #fff;
      }
    }
    a{
      color: $secondary-color;
      border:2px solid $secondary-color;
      background: none;
      margin:0 15px 0 0;
      padding:10px 25px;
      &:hover,
      &:focus{
        background: $secondary-color;
        color: #fff;
      }
    }
  }

}

.view-commerce-checkout-order-summary{
  table{
    tr{
      background: none!important;
    }
  }
  .views-field-quantity{
    padding:0;
    padding-right:5px;
  }
  .views-field-purchased-entity{
    padding-left:0;
  }
  .views-field-total-price__number{
    padding-right:0;
    text-align: right;
    vertical-align: top;
    font-weight: $global-weight-bold;
  }
  .field-name-title{
    font-weight: $global-weight-bold;
  }
  .view-footer{
    padding-top:25px;
    border-top:1px solid #979797;
    .order-total-line{
      padding:0;
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;
    }
  }
}

.checkout-pane-review{
  & > fieldset{
    & > legend{
      .fieldset-legend{
        font-weight:$global-weight-bold;
        a{
          font-weight:$global-weight-normal;
        }
      }
    }
    & > .fieldset-wrapper{
      & > div{
        padding-left:0;

        p.address {
          margin-bottom: 0;
        }
        .field-name-field-phone{
          margin-bottom: 15px;
        }
      }
    }
  }
  div[data-drupal-selector^="edit-review-payment-information-summary-profile"]{
    margin-top:0;
  }
  fieldset[id^="edit-review-contact-information"]{
    margin-bottom:20px;
  }
  .field-commerce-shipment--shipping-method{
    .field-label{
      font-weight:$global-weight-bold;
    }
  }
}

input[id^="edit-actions-next"]{
  margin-right:15px;
}

.commerce-checkout-registration{
  fieldset#edit-registration-register{
    max-width:550px;
    & > legend{
      display: none;
    }
    div.password-confirm{
      display: none;
    }
  }
  input.username{
    margin-bottom:0;
  }
  input.password-confirm{
    margin-bottom:0;
  }
  .form-actions{
    margin-top:25px;
    .button{
      font-weight:$global-weight-bold;
    }
  }
}

.form-item-shipping-information-shipping-profile-address-0-address-address-line1,
.form-item-payment-information-billing-information-address-0-address-address-line1,
.form-item-address-0-address-address-line1,
.form-item-mvi-shipping-information-shipping-profile-address-0-address-address-line1{
  width:80%!important;
  float: left!important;
  clear: left!important;
}
.form-item-shipping-information-shipping-profile-address-0-address-address-line2,
.form-item-payment-information-billing-information-address-0-address-address-line2,
.form-item-address-0-address-address-line2,
.form-item-mvi-shipping-information-shipping-profile-address-0-address-address-line2{
  width:18%!important;
  float: right!important;
  clear: right!important;
  height:91px;
  display: flex;
  align-items: flex-end;
}

//cart
.cart-form-view{
  max-width: 867px!important;
  &::before{
    content: "Winkelmandje"!important;
    font-weight: 800;
    font-size: 48px;
    color: #000000;
    letter-spacing: 0;
    margin-bottom: 25px;
    margin-top: 85px;
    display: block!important;
    padding-left: 28px;
  }
#edit-actions{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 30px;
  margin-bottom: 100px;
  @include breakpoint(mediumplus down){
    padding-right: 25px;
  }
  button{
    background-color: $secondary-color;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 16px;
    margin-left: 10px;
  }
}
}
.cart-items-list-wrapper{
  button.delete-order-item{
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='27px' viewBox='0 0 24 27' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Egarbage%3C/title%3E%3Cg id='Winkelmandje-+-checkout' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='3.0-Winkelmandje-met-waarborgen' transform='translate(-1116.000000, -368.000000)' fill='%23808080' fill-rule='nonzero'%3E%3Cg id='garbage' transform='translate(1116.000000, 368.000000)'%3E%3Cpath d='M23.2510402,3.88569079 L17.6366158,3.88569079 L17.6366158,2.96977796 C17.6366158,1.33223684 16.3051318,0 14.668516,0 L9.33148405,0 C7.69486824,0 6.36338419,1.33223684 6.36338419,2.96977796 L6.36338419,3.88569079 L0.748959778,3.88569079 C0.332871012,3.88569079 0,4.21875 0,4.63507401 C0,5.05139803 0.332871012,5.38445724 0.748959778,5.38445724 L2.10263523,5.38445724 L2.10263523,22.9921875 C2.10263523,25.2014803 3.9001387,27 6.10818308,27 L17.8918169,27 C20.0998613,27 21.8973648,25.2014803 21.8973648,22.9921875 L21.8973648,5.38445724 L23.2510402,5.38445724 C23.667129,5.38445724 24,5.05139803 24,4.63507401 C24,4.21875 23.667129,3.88569079 23.2510402,3.88569079 Z M7.86130374,2.96977796 C7.86130374,2.15933388 8.52149792,1.49876645 9.33148405,1.49876645 L14.668516,1.49876645 C15.4785021,1.49876645 16.1386963,2.15933388 16.1386963,2.96977796 L16.1386963,3.88569079 L7.86130374,3.88569079 L7.86130374,2.96977796 Z M20.3994452,22.9921875 C20.3994452,24.3743832 19.2732316,25.5012336 17.8918169,25.5012336 L6.10818308,25.5012336 C4.72676838,25.5012336 3.60055479,24.3743832 3.60055479,22.9921875 L3.60055479,5.38445724 L20.4049931,5.38445724 L20.4049931,22.9921875 L20.3994452,22.9921875 L20.3994452,22.9921875 Z' id='Shape'%3E%3C/path%3E%3Cpath d='M12.5,23 C12.9060039,23 13.2308071,22.6611446 13.2308071,22.2375753 L13.2308071,8.7624247 C13.2308071,8.33885542 12.9060039,8 12.5,8 C12.0939961,8 11.7691929,8.33885542 11.7691929,8.7624247 L11.7691929,22.2319277 C11.7691929,22.655497 12.0939961,23 12.5,23 Z M7.73080709,22.158509 C8.13681102,22.158509 8.46161417,21.8196536 8.46161417,21.3960843 L8.46161417,9.59826807 C8.46161417,9.1746988 8.13681102,8.83584337 7.73080709,8.83584337 C7.32480315,8.83584337 7,9.1746988 7,9.59826807 L7,21.3960843 C7,21.8196536 7.33021654,22.158509 7.73080709,22.158509 Z M17.2691929,22.158509 C17.6751969,22.158509 18,21.8196536 18,21.3960843 L18,9.59826807 C18,9.1746988 17.6751969,8.83584337 17.2691929,8.83584337 C16.863189,8.83584337 16.5383858,9.1746988 16.5383858,9.59826807 L16.5383858,21.3960843 C16.5383858,21.8196536 16.863189,22.158509 17.2691929,22.158509 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    width: 24px;
    height: 27px;
    background-size: cover;
    flex: 0 0 23px;
    margin-top: 64px;
    margin-left: -24px;
    z-index: 77;
    position: relative;
    min-width: 24Px;
  }
  ul{
    li{
      padding-top: 35px;
      padding-bottom: 50px;
      padding-left: 28px;
      border-top: solid 1px #E1E1E1;
      position: relative;
      z-index: 5;
      &:last-of-type{
        border-bottom: solid 1px #E1E1E1;
      }
    }
  }
  .custom-unit-label{
    margin-top: -23Px!important;
    margin-left: 100Px!important;
  }
  .warranty-info{
    font-weight: 400;
    font-size: 13px;
    color: #4D4D4D;
    letter-spacing: 0.03px;
    text-transform: lowercase;
    min-width: 180px;
    margin-top:-3px;
    position: absolute;
  }
  input.form-number{
    width: 50px;
    height: 32px;
    margin-left: auto;
    margin-right: 26px;
    background-color: white;
    max-width: 120px;
  }
  article{
    margin-bottom: 40px;
  }
  h1{
    margin-bottom: 35px;
    margin-top: 15px;
    min-width: 300px;
    a{
      font-weight: 800;
      font-size: 22px;
      color: #4D4D4D;
      letter-spacing: 0.15px;
    }
    font-weight: 800;
    font-size: 22px;
    color: #4D4D4D;
    letter-spacing: 0.15px;
  }
  .price{
    font-weight: 600;
    font-size: 20px;
    color: #4D4D4D;
    letter-spacing: 0.05px;
  }
  .views-field-field-images{
    width: 190px;
    height: 190px;
    min-width: 190px;
    min-height: 190px;
    margin-right: 30px;

    img{
      width: 190px;
      height: 190px;
      min-width: 190px;
      min-height: 190px;
    }
  }
  .views-field-edit-quantity{
    .field-content{

        //height: 50px;
        align-items: center;
        a.qty-button{
          width: 26px;
          height: 26px;
          border-radius: 50%;
          font-weight: 600;
          font-size: 21px;
          color: #FFFFFF;
          letter-spacing: 0;
          line-height: 22px;
          background-color: #D8D8D8;
          margin-top: 6px;
          display: block;
          border: solid 0px white;

          &:nth-of-type(1){
            margin-right: 8px;
            margin-left: 9px;
            margin-bottom: -29px;
          }
          &:nth-of-type(2){
            margin-left: auto;
            margin-right: 147px;
            margin-top: -28px;
          }
        }
        .custom-unit-label{
          max-width: 12px;
          overflow: hidden;
          white-space: nowrap;
          text-transform: lowercase;
          margin-left: -37px;
          line-height: 30px;
          &[data-custom-unit-lbl="Total volume: ***AMOUNT*** Kg"]{
            max-width: 16px;
          }
      }

      .js-form-type-number{
        position: relative;
        z-index: -1;
        max-width: 120px;
        &::after{
          content: "";
          width: 165px;
          height: 51px;
          background-color: #F2F2F2;
          display: block;
          position: absolute;
          z-index: -1;
          top: -10px;
        }
      }

    }
  }
  .order-item-info-wrapper{
    justify-content: flex-end!important;
    z-index: -1;
    max-width: 498px;
    font-weight: 600;
    font-size: 20px;
    color: #4D4D4D;
    letter-spacing: 0.05px;
    text-align: right;
    margin-top: 18px;
    .order-item--waranty-total{
      font-weight: 400;
      font-size: 13px;
      color: #4D4D4D;
      letter-spacing: 0.03px;
      text-align: right;
      position: absolute;
      top: 30px;
    }
  }

}
.field-name-total-price{
  .order-total-line{
    max-width: 300px;
    margin-left: auto;
    margin-right: 0;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .order-total-line-label{
      font-weight: 400;
      font-size: 16px;
      color: #4D4D4D;
      letter-spacing: 0.04px;
      text-align: left;
    }
    .order-total-line-value{
      font-weight: 600;
      font-size: 16px;
      color: #4D4D4D;
      letter-spacing: 0.04px;
      text-align: right;
    }
  }

  .order-total-line__subtotal{
    padding-top: 15px;
  }
  .order-total-line__total{
    padding-top: 15px;
    margin-top: 15px;
    border-top: solid 1px #E1E1E1;
    .order-total-line-label{
      font-weight: 600;
      font-size: 20px;
      color: #4D4D4D;
      letter-spacing: 0.05px;
    }
    .order-total-line-value{
      font-weight: 600;
      font-size: 20px;
      color: #4D4D4D;
      letter-spacing: 0.05px;
      text-align: right;
    }
  }
}

//checkout page
.commerce-checkout-flow{
  @include grid-column-gutter();
  max-width: 840px;
  margin: 0 auto;
  position: relative;
  @include breakpoint(large){
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  &::before{
    content: "";
    display: block;
    height: 1px;
    width: 840px;
    background-color: #E1E1E1;
    position: absolute;
    top: 95px;
  }
  .country.form-select{
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='9px' height='9px' viewBox='0 0 9 9' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ETriangle%3C/title%3E%3Cg id='Winkelmandje-+-checkout' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='3.1-Bestelling-informatie' transform='translate(-664.000000, -1086.000000)'%3E%3Crect id='Rectangle-Copy-2' stroke='%23E1E1E1' x='300' y='1073' width='405' height='32'%3E%3C/rect%3E%3Cpolygon id='Triangle' fill='%234D4D4D' transform='translate(668.500000, 1090.500000) rotate(-180.000000) translate(-668.500000, -1090.500000) ' points='668.5 1086 673 1095 664 1095'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: 9px;
    background-position: right 9px center;
    margin-bottom: 10px;
  }
  h1{
    font-weight: 800;
    font-size: 48px;
    color: #000000;
    letter-spacing: 0;
    margin-bottom: 47px;
  }
  .field--name-shipping-method{

    fieldset.form-composite{
      &>legend{
        display: none;
      }
      .fieldset-wrapper{
        input{
          width: 14px;
          height: 14px;
          border: solid 2px #E1E1E1
        }
        input[checked='checked']{
          background-color: $secondary-color;
        }
        label{
          font-weight: 400;
          font-size: 16px;
          color: #4D4D4D;
          letter-spacing: 0.04px;
        }
      }
    }
  }
  .layout-region-checkout-main{
    max-width: 405px;
    padding-right: 0px;
    .form-item-contact-information-email,
    .js-form-type-textfield,
    .js-form-type-tel {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      border: solid 1px #E1E1E1;
      height: 32px;
      padding-left: 12px;
      padding-right: 12px;
      transition: 0.3s ease;
      margin-bottom: 10px;
      margin-right: 0px;
      &:hover,&:focus{
        border: solid 1px $secondary-color;
      }
      label{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        font-weight: 600;
        font-size: 15px;
        min-width: 100px;
        line-height: 32px;
        color: #4D4D4D;
        letter-spacing: 0.04px;
      }
      input{
        font-weight: 400;
        font-size: 15px;
        color: #4D4D4D;
        border: solid 0px white;
        height: 30px;
        max-width: 210px;
        letter-spacing: 0.04px;
        margin-bottom: 0px;
      }
    }
.checkout-pane{
  border-bottom: solid 0px white;
  margin-bottom: 25px;
  legend{
    width: 100%;
    .fieldset-legend{
      font-weight: 800;
      font-size: 25px;
      color: #000000;
      width: 100%;
      letter-spacing: 0.17px;
      padding-bottom: 17px;
      border-bottom: solid 1px #E1E1E1;
    }
  }
}
  }
  .layout-region-checkout-secondary{
    max-width: 405px;
    width: 100%;
    margin-top: 110px;
    &>#edit-actions{
      button{
        background-color: $secondary-color;
        font-weight: 600;
        font-size: 15px;
        text-transform: lowercase;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 16px;
      }
    }
    .views-field-total-price__number{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-top: 8Px;
    }
    h3{
      display: none;
    }
    .checkout-pane-order-summary{
      background-color: #EDEEEF;
      padding: 50px;
      padding-top: 60px;
      border-bottom: solid 0px white;
      table{
        tbody{
          border: solid 0px white;
          background-color: transparent;
          tr{
            background-color: transparent;

            td{
              padding: 0px!important;
              &>div{
                margin-bottom: 7px;
                margin-top: 8px;
              }
              &:last-of-type {
                div {
                  margin-bottom: 0px;
                }
              }
            }
          }
        }
      }

      .field-name-total-price{
        .order-total-line{
          margin-bottom: 15px;
          margin-left: 0px;
        }
        .order-total-line__total{
          border-top: solid 1px #4D4D4D;
          margin-top: 0px;
        }
        .order-total-line__subtotal{
          padding-top: 25px!important;
          border-top: solid 1px #4D4D4D;

        }
      }
    }
  }
  .checkout-pane-mvi-shipping-information{

    &>.fieldset-wrapper{
    &>button{
      background-color: $secondary-color;
      font-weight: 600;
      font-size: 15px;
      text-transform: lowercase;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 16px;
    }
    }
  }
  #edit-pickup-order{
    .fieldset-wrapper{
      #edit-pickup-order-pickup-order{
        display: flex;
        flex-direction: column;
        .form-item-pickup-order-pickup-order-date{
          border: solid 0px white;
          padding-left: 0px;
          max-width: 234px;
          margin-left: 0px;
          margin-right: auto;
          position: relative;
          height: 34px;

          &::after{
            content: "";
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='9px' height='6px' viewBox='0 0 9 6' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EFill 1%3C/title%3E%3Cg id='Winkelmandje-+-checkout' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='3.1-Bestelling-informatie' transform='translate(-514.000000, -1232.000000)'%3E%3Crect id='Rectangle-Copy-12' stroke='%23E1E1E1' stroke-width='2' x='380' y='1219' width='154' height='32'%3E%3C/rect%3E%3Crect id='Rectangle-Copy-12' stroke='%23E1E1E1' x='502' y='1219' width='32' height='32'%3E%3C/rect%3E%3Cpolygon id='Fill-1' fill='%23000000' points='522.089427 1232 518.499524 1235.98134 514.90962 1232 514 1233.0088 518.499524 1238 523 1233.00986 523 1233.00775'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");            width: 34px;
            height: 34px;
            width: 34px;
            background-size: 9px;
            position: absolute;
            background-repeat: no-repeat;
            background-position: center;
            border: solid 2px #E1E1E1;
            top: 0;
            display: block;
            cursor: pointer;
            right: -20px;
          }
          label{
            font-weight: 800;
            font-size: 15px;
            color: #4D4D4D;
            letter-spacing: 0.04px;
          }
          input{
            border: solid 2px #E1E1E1;
            background-color: white;
            font-weight: 400;
            height: 34px;
            font-size: 15px;
            color: #4D4D4D;
            letter-spacing: 0.04px;
            max-width: 122px;
          }
        }
      }
      #edit-pickup-order-pickup-order-between{
        margin-left: 0;
        margin-right: auto;
        &>legend{
          display: none;
        }
        .form-item-pickup-order-pickup-order-between-start{
          margin-left: 51px!important;
          margin-right: 43px!important;
        }
        .form-item-pickup-order-pickup-order-between-end{
          margin-left: 21px!important;
        }
        .fieldset-wrapper{
          font-weight: 800;
          font-size: 15px;
          color: #4D4D4D;
          letter-spacing: 0.04px;
          .js-form-type-textfield{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            border: solid 2px #E1E1E1;
            padding-left: 0px;
            padding-right: 0px;
            transition: 0.3s ease;
            margin-bottom: 10px;
            margin-right: 0px;
            position: relative;
            max-width: 100px;
            margin-right: auto;
            margin-left: 0;
            height: 34px;
            background-color: white;
            &:hover{
              border: solid 2px #E1E1E1!important;
            }
            &::after{
              content: "";
              background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='9px' height='6px' viewBox='0 0 9 6' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EFill 1%3C/title%3E%3Cg id='Winkelmandje-+-checkout' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='3.1-Bestelling-informatie' transform='translate(-514.000000, -1232.000000)'%3E%3Crect id='Rectangle-Copy-12' stroke='%23E1E1E1' stroke-width='2' x='380' y='1219' width='154' height='32'%3E%3C/rect%3E%3Crect id='Rectangle-Copy-12' stroke='%23E1E1E1' x='502' y='1219' width='32' height='32'%3E%3C/rect%3E%3Cpolygon id='Fill-1' fill='%23000000' points='522.089427 1232 518.499524 1235.98134 514.90962 1232 514 1233.0088 518.499524 1238 523 1233.00986 523 1233.00775'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");            width: 34px;
              height: 34px;
              width: 34px;
              background-size: 9px;
              position: absolute;
              background-repeat: no-repeat;
              background-position: center;
              border: solid 2px #E1E1E1;
              top: -2px;
              display: block;
              cursor: pointer;
              right: -34px;
            }
            &:hover,&:focus{
              border: solid 1px $secondary-color;
            }
            label{
              display: none;
            }
            input{
              letter-spacing: 0.04px;
              border: solid 0px white;
              height: 28px;
              letter-spacing: 0.04px;
              background-color: white;
              margin-bottom: 0px;
              &:hover{
                border: solid 0px white;
              }
            }
          }
        }
      }
    }
  }
}

//review page
.check-review {
  .layout-checkout-form {
    .layout-region-checkout-main{
      max-width: 840px;
      width: 100%;
      #edit-review{
        @include flex-grid-row();
        flex-wrap: wrap;
        justify-content: space-between;
        fieldset{
          @include flex-grid-column(1 of 2);
          padding: 0px!important;
        }
        .fieldset-legend{
          border-bottom: solid 1px white;
        }
      }
    }
    .layout-region-checkout-secondary {
      .views-field-total-price__number{
        margin-top: 20px;
      }
      @include grid-column-gutter();
      max-width: 840px;
      margin: 0 auto;
      background-color: transparent;
      position: relative;
      @include breakpoint(large) {
        padding-left: 0px !important;
        padding-right: 0px !important;
      }

      #edit-order-summary {
        background-color: transparent;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        margin-top: 20px;
      }

      #edit-sidebar-order-summary-summary {
        &::before{
          content: "Mijn bestelling";
          font-weight: 800;
          font-size: 25px;
          color: #000000;
          letter-spacing: 0.17px;
          margin-bottom: 10px;
          display: block;
        }
        footer {
          max-width: 300px;
          margin-left: auto;
          margin-right: 0px;
        }
      }

      table{
        border-top: solid 1px #E1E1E1;
        border-bottom: solid 1px #E1E1E1;

        tbody{
          tr{
            td{
              &>div{
                margin-bottom: 20px!important;
                margin-top: 20px!important;
              }
            }
          }
        }
      }
      .field-name-total-price{

        .order-total-line{
          margin-bottom: 15px;
          margin-left: 0px;
        }
        .order-total-line__total{
          border-top: solid 1px #E1E1E1;
          margin-top: 0px
        }
        .order-total-line__subtotal{
          padding-top: 25px!important;
          border-top: solid 0px #E1E1E1;

        }
      }
    }
    #edit-actions{
      @include flex-grid-row();
      flex-direction: row-reverse;
      justify-content: flex-start;
      margin-bottom: 85px;
      a.link--previous{
        font-weight: 600;
        font-size: 15px;
        color: #A17D23;
        text-decoration: underline;
        letter-spacing: 0;
        line-height: 37px;
        margin-right: 25px;
        text-transform: lowercase;
      }
    }
  }
}

.add-to-cart-message-actions{
  a{
    background-color: $secondary-color!important;
    color: white;
    text-transform: lowercase;
  }
}

#edit-preferred-delivery{
  .form-item-preferred-delivery-deliver-order-date{
    input.form-text{
      max-width: 120px;
      background-color: white;
      &::placeholder{
        display: none;
      }
    }
  }
}

.section-checkout{
  .region-highlighted{
    @include grid-row;
    @include grid-column-gutter();
  }
}


.cart-empty-page{
  @include grid-row;
  @include grid-column-gutter();
  margin-bottom: 50px;
  margin-top: 50px;
}

.section-checkout{
  table{
    tbody{
      .views-field-quantity{
        min-width: 85px;
        vertical-align: top;
        line-height: 38px;
      }
    }
  }
}

article.recipe-teaser{
  @include breakpoint(smallplus down){
    max-width: 330px;
    margin: 0 auto;
  }
}
