.open-filters{
  cursor: pointer;
}
.close-filters{
  cursor: pointer;
}
.filter-region-left{
  padding-top:30px;
  padding-bottom:30px;
  position: absolute;
  z-index: 999;
  width:300px;
  transform: translateX(0);
  transition: all 0.2s;
  overflow: hidden;
  flex:0 0 auto;
  background: #fff;

  @media screen and (max-width: 899px) {
    transform: translateX(-300px);
    z-index: 99999;
    &.open{
      transform: translateX(0);
    }
  }
  @media screen and (min-width: 900px){
    position: relative;
    &.closed{
      transform: translateX(-300px);
    }
  }
  section[class^="block-facet"]{
    margin-bottom:30px;
    padding: 0 35px 30px 15px;
    button.more-filters{
      color: $primary-color;
      cursor: pointer;
      text-decoration: underline;
      margin-left:8px;
    }
  }
  .block-title{
    font-weight:700;
    display: flex;
    justify-content: space-between;
    align-items:center;
    .toggle-filter-button{
      background: #fff;
      width:40px;
      height:40px;
      border-radius: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      text-align: center;
      .bar{
        width:14px;
        height:6px;
        background: #000;
        box-shadow: 2px 2px 0px 0px rgba(179,230,255,1);
        &:nth-of-type(2){
          opacity:0;
          transition: all 0.2s;
          width:0;
        }
      }
      &.open{
        .bar:nth-of-type(2){
          transform: rotate(90deg);
          margin-left: -14px;
          box-shadow: none;
          width:14px;
          opacity:1;
        }
      }
    }
  }
  .item-list__checkbox,
  .item-list__advanced_checkbox{
    margin:0;
    li{
      list-style: none;
      font-size:13px;
      label{
        position: relative;
        &:before{
          content: '';
          display: inline-block;
          width: 12px;
          height:12px;
          border:3px solid #000;
          margin-right:4px;
        }
      }
      input{
        display: none;
        &:checked{
          & + label{
            &:before{
              background: $primary-color;
            }
            &:after{
              // content: '';
              // display: block;
              width:5px;
              height:5px;
              position: absolute;
              left:3px;
              top:10px;
              background: url('images/icons/checked.svg') no-repeat center center;
            }
          }
        }
      }
    }
  }

  .ui-slider{
    background: #b3e6ff;
    height:0.3em;
    border:none;
    .ui-slider-range{
      background: #000;
      height:0.4em;
    }
    .ui-slider-pip{
      display: none;
    }
    .ui-slider-handle{
      background: #000;
      border-radius: 30px;
      border-color: #000;
      width:0.8em;
      height:0.8em;
    }
    .ui-slider-tip{
      top: 12px!important;
      background: none;
      border:none;
      color: #7a7a7a;
      font-size:14px;
      &:before{
        content: '€ ';
        border: none;
        top: 0;
        left: -5px;
      }
      &:after{
        display: none;
      }
    }
  }
  .block-exposedformproduct-catalogpage-1{
    padding: 0 35px 30px 15px;
    .form-item{
      display: flex;
      align-items: center;
      margin-bottom:15px;
      label{
        display: inline-block;
        width:35px;
        color: #7a7a7a;
        font-weight:600;
      }
      input{
        margin:0;
      }
    }
    .button{
      font-weight:800;
      background: $primary-color;
      color: #fff;
      border:2px solid $primary-color;
      transition: all 0.2s;
      text-transform: lowercase;
      &:hover,
      &:focus{
        background: #fff;
        color: $primary-color;
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .open-filters {
    display: none;
  }
  .close-filters {
    display: none;
  }
}