.product-menu-full{
  max-width: 1275px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 auto;

  & > main {
    width: 100%;
    @include grid-col-gutter;

    h1{
      font-weight: 800;
      font-size: 30px;
      color: #4D4D4D;
      letter-spacing: 0.2px;
      line-height: 30px;
      margin-bottom: 30px;
    }

    @include breakpoint(large) {
      padding: 0;
      margin-left: 217px;
    }
  }
}
.add-menu-to-cart-form {
  & > fieldset {
    margin-bottom: 35px;
    & > legend {
      span {
        font-family: $header-font-family;
        font-weight: $global-weight-bold;
        color: #4D4D4D;
      }
    }
  }

  .form-item-quantity {
    height: 50px;
    align-items: center;
    background-color: #F2F2F2;
    max-width: 140px;
    justify-content: center;
    input{
      max-width: 50px;
      background-color: white;
      height: 34px;
    }
    label{
      display: none;
    }
    .qty-button{
      width: 26px;
      height: 26px;
      border-radius: 50%;
      font-weight: 600;
      font-size: 21px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 19px;
      background-color: #D8D8D8;
      display: block;
      border: solid 0 white;

      &.inc {
        line-height: 22px!important;
        margin-left: 8px;
      }

      &.dec {
        margin-right: 8px;
      }
    }
    .custom-unit-label{
      max-width: 12px;
      overflow: hidden;
      white-space: nowrap;
      text-transform: lowercase;
      margin-left: -43px;
      line-height: 30px;
      &[data-custom-unit-lbl="Total volume: ***AMOUNT*** Kg"]{
        max-width: 16px;
      }
    }
  }


  #edit-submit {
    background-color: transparent;
    height: 40px;
    padding: 0px;
    padding-left: 50px;
    padding-right: 10px;
    background-repeat: no-repeat ;
    border: solid 2px $secondary-color;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='30px' height='27px' viewBox='0 0 30 27' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup 3%3C/title%3E%3Cdefs%3E%3Cpolygon id='path-1' points='0 0 29.8 0 29.8 26.4249 0 26.4249'%3E%3C/polygon%3E%3C/defs%3E%3Cg id='Shop-overview-+-detail' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='1.1-Desktop---Shop-item-waarborg-per-stuk---detail' transform='translate(-1199.000000, -344.000000)'%3E%3Cg id='Group-6' transform='translate(903.000000, 340.000000)'%3E%3Cg id='Group-3' transform='translate(296.000000, 4.000000)'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-2'%3E%3C/g%3E%3Cpath d='M28.1998,12.3249 L1.5998,12.3249 L1.5998,9.4249 L28.3008,9.4249 L28.3008,12.3249 L28.1998,12.3249 Z M23.9998,24.3249 L23.9998,24.4249 C23.9998,24.6249 23.8008,24.8249 23.5998,24.8249 L5.9998,24.8249 C5.7998,24.8249 5.5998,24.6249 5.5998,24.3249 L4.1998,13.8249 L25.3998,13.8249 L23.9998,24.3249 Z M28.9998,7.9249 L0.7998,7.9249 C0.3998,7.9249 -0.0002,8.2249 -0.0002,8.7249 L-0.0002,13.1249 C-0.0002,13.5249 0.2998,13.9249 0.7998,13.9249 L2.6998,13.9249 L4.0998,24.5249 C4.0998,25.5249 4.8998,26.4249 5.9998,26.4249 L23.5998,26.4249 C24.5998,26.4249 25.3998,25.6249 25.4998,24.6249 L26.8998,13.9249 L26.8998,13.8249 L28.9998,13.8249 C29.3998,13.8249 29.8008,13.5249 29.8008,13.0249 L29.8008,8.6249 C29.6998,8.2249 29.3998,7.9249 28.9998,7.9249 L28.9998,7.9249 Z M8.8998,7.1249 C8.8998,7.1249 10.6998,5.3249 14.0998,1.9249 C14.5998,1.4249 14.9998,1.2249 15.7998,1.9249 C16.4998,2.6249 21.1998,7.0249 21.3008,7.1249 C21.3998,7.2249 21.5998,7.3249 21.8008,7.3249 C21.9998,7.3249 22.1998,7.2249 22.3008,7.1249 C22.5998,6.8249 22.5998,6.3249 22.3008,6.0249 C22.0998,5.8249 17.4998,1.5249 16.8008,0.8249 C15.5998,-0.2751 14.1998,-0.2751 13.0998,0.8249 C9.5998,4.2249 7.7998,6.0249 7.7998,6.0249 C7.4998,6.3249 7.4998,6.8249 7.7998,7.1249 C8.0998,7.4249 8.5998,7.4249 8.8998,7.1249 L8.8998,7.1249 Z' id='Fill-1' fill='%23FDAE00' mask='url(%23mask-2)'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size:30px;
    background-position-x: 10px;
    background-position-y: 5px;
    margin-top: -60px;
    margin-left: 165Px;
    span{
      display: block;
      color: $secondary-color;
    }
  }
}
