// Incrementor, decrementor syles
.views-field-edit-quantity,
.field--name-quantity,
.form-item-quantity {
    display: flex;
    input{
      box-shadow: none;
      margin:0;
      border:1px solid $medium-gray;
      width:auto;
      height:30px;
      min-width:30px;
      color: $body-font-color;
      text-align: center;
      &::-webkit-inner-spin-button,
      ::-webkit-outer-spin-button {
        appearance: none;
      }
    }
  .qty-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: $global-weight-bold;
    flex: 0 0 auto;
    width: 40px;
    background: #fff;
    cursor: pointer;
    text-align: center;
    border:1px solid $medium-gray;
    color: $primary-color;
    margin-right: -1px;
    font-size: 30px;
    line-height: 0;
    &.inc {
      font-size: 30px;
      margin-left: -1px;
      margin-right: 0;
    }
  }
}

article.product-teaser{
  position: relative;
  .product-tag{
    display: block;
    position: absolute;
    top:0;
    left:0;
    background: $primary-color;
    padding:5px 10px;
    color: #fff;
    font-weight:$global-weight-bold;
  }
}

// Add to cart message
.added-to-cart-message{
  width: 100%;
  max-width: 550px;
  padding: 0.2em 0.2em 1em 0.2em;
  .ui-dialog-titlebar{
    border: none;
    background: none;
    .ui-dialog-titlebar-close{
      border: none;
      background: none;
    }
  }
  .add-to-cart-message-wrapper{
    & > article{
      display: flex;
      margin-bottom: 15px;
      figure{
        padding-right: 15px;
      }
      .quantity{
        display: flex;
        align-items: center;
        white-space: nowrap;
        font-size: $global-font-size;
        font-weight: $global-weight-bold;
      }
      h4{
        display: flex;
        align-items: center;
        line-height: 12px;
        margin: 0;
        padding-right: 15px;
        a{
          font-size: $global-font-size;
          text-decoration: none;
          line-height: 23px;
          margin-left: 10Px;
        }
      }
      .price-wrapper{
        display: flex;
        align-items: center;
        white-space: nowrap;
        & > span{
          white-space: nowrap;
        }
      }
      main{
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
      .price-wrapper{
        font-weight: $global-weight-bold;
        font-size: $global-font-size;
      }
    }
  }
  .add-to-cart-message-actions{
    .button{
      width: 100%;
      font-size: $global-font-size;
    }
    a.button{
      margin-bottom: 5px;
    }
    button.button{
      margin-bottom: 0;
    }
    .button--primary{
      color: #fff;
      background-color: $success-color;
      &:hover,
      &:focus{
        background-color: darken($success-color, 10%);
      }
    }
    .close-dialog-button{
      border: 1px solid $light-gray;
      color: $primary-color;
      background: #fff;
      &:hover,
      &:focus{
        border-color: $medium-gray;
      }
    }
    @include breakpoint(smallplus){
      display: flex;
      .button{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      a.button{
        margin-right: 10px;
        margin-bottom: 0;
      }
    }
  }
}

//Webshop page
.block-webshop-header{
  @include breakpoint(large){
    @include flex-grid-row();
    max-width: 1275px;
    flex-wrap: nowrap;
  }
  position: relative;
  h1{
    font-weight: 800;
    font-size: 75px;
    color: $primary-color;
    letter-spacing: 0;
    line-height: 75px;
    text-transform: uppercase;
    @include breakpoint(large){

      font-size: 35px;
      line-height: 35px;
      position: absolute;
      left: 10px;
      z-index: 6;
      bottom: 20px;
    }
    @include breakpoint(xlarge){
      font-size: 100px;
      line-height: 89px;
      //margin-top: 58px;
      position: absolute;
      top: 62px;
      bottom: auto;
      left: 46px;
      z-index: 6;
    }
  }
  .header-block-wrapper{
    background-color: #EDEEEF;
    padding: 45px 20px;
    @include breakpoint(large){
      @include flex-grid-row();
      flex-wrap: nowrap;
      justify-content: flex-end;
      padding-left: 20px;
      padding-right: 0px;
      padding-top: 50px;
      padding-bottom: 55px;
      margin-left: auto;
      margin-right: 3px;
      position: relative;
      &::after{
        content: "";
        background-color: #EDEEEF;
        height: 100%;
        width: 50vw;
        position: absolute;
        right: -50vw;
        display: block;
        top: 0;
        z-index: -1;
      }
      &::before{
        content: "";
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='37px' height='37px' viewBox='0 0 37 37' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EOval Copy 4%3C/title%3E%3Cg id='Shop-overview-+-detail' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='1.0-Desktop-HD' transform='translate(-724.000000, -397.000000)' stroke='%23FDAE00' stroke-width='5'%3E%3Cg id='Header-webshop' transform='translate(128.000000, 81.000000)'%3E%3Ccircle id='Oval-Copy-4' cx='614.5' cy='334.5' r='15.5'%3E%3C/circle%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: cover;
        width: 37px;
        height: 37px;
        position: absolute;
        bottom: -13px;
        left: 422px;
      }
      @include breakpoint(xlarge){
padding-left: 137Px;
      }
    }
    .number{
      font-weight: 800;
      font-size: 30px;
      color: $secondary-color;
      letter-spacing: 0;
      line-height: 53px;
      border: solid 5px $secondary-color;
      width: 63px;
      display: block;
      height: 63px;
      border-radius: 50%;
      text-align: center;
      position: relative;
      min-width: 63px;
      min-height: 63Px;
      margin-right: 18px;
      margin-top: -3px;
      &::after{
        content: "";
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='22px' height='22px' viewBox='0 0 22 22' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EOval Copy 2%3C/title%3E%3Cg id='Shop-overview-+-detail' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='1.0-Desktop-HD' transform='translate(-426.000000, -57.000000)' stroke='%23FDAE00' stroke-width='5'%3E%3Cg id='Header-webshop' transform='translate(128.000000, 60.000000)'%3E%3Ccircle id='Oval-Copy-2' cx='309' cy='8' r='8'%3E%3C/circle%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        width: 22px;
        height: 22px;
        display: block;
        position: absolute;
        top: -17px;
        left: -25Px;
      }
    }
    h2{
      font-weight: 800;
      font-size: 31px;
      color: #000000;
      letter-spacing: 0;
      line-height: 33px;
      @include breakpoint(large){
        margin-top: 39px;
      }
    }
    .header-block-intro{
      margin: 0 auto;
    margin-bottom: 25px;
      max-width: 360px;
   //   margin-right: 150px;
      @include breakpoint(large){
        @include flex-grid-row();
        margin-right: 150px;
        flex-wrap: nowrap;
        max-width: 360px;
        justify-content: space-between;
      }
    }
    .header-block-postal{
      max-width: 360px;
      margin: 0 auto;
      @include breakpoint(large){
        max-width: 405px;
        margin-left: 70px;
        position: relative;
      }
      @include breakpoint(xlarge){
        margin-left: 83px;
      }
h2{
  margin-bottom: 10px;
}
.number {
margin-bottom: 40px;
  @include breakpoint(large){
    position: absolute;
    top: 1px;
    left: -83px;
  }
  &::after {
    bottom: -34px;
    left: -4px;
    top: auto;
  }
}
    }
  }
  .mvi-delivery-postal-validate-form{
    position: relative;
    button.form-submit{
      background-color: $secondary-color;
      position: absolute;
      top: 29px;
      height: 38px;
      outline: none;
      left: 180px;
      max-width: 145px;
      padding-left: 0px;
      padding-right: 0px;
      width: 100%;
      padding-top: 8px;
      span{
        font-weight: 800;
        font-size: 19px;
        color: #000000;
        letter-spacing: 0;
        text-transform: lowercase;
      }
    }
    label.form-required{
      font-weight: 600;
      font-size: 18px;
      color: #4D4D4D;
      letter-spacing: 0;
      line-height: 21px;
      margin-bottom: 8px;
    }
    input.form-text{
      background-color: transparent;
      font-weight: 400;
      font-size: 16px;
      color: #4D4D4D;
      letter-spacing: 0.1px;
      line-height: 20px;
      max-width: 180px;
      height: 38px;
      border: solid 1px $secondary-color;
      margin-bottom: 5px;
      &::placeholder{
        font-weight: 400;
        font-size: 16px;
        text-transform: lowercase;
        color: #4D4D4D;
        letter-spacing: 0.1px;
        line-height: 20px;
      }
    }
    .result-message{
      font-weight: 400;
      font-style: oblique;
      font-size: 16px;
      color: #000000;
      letter-spacing: 0.1px;
      line-height: 20px;
    }
  }
}

.block-categories-sidebar{
  background-color: $primary-color;
  padding: 40px 30px;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 35px;    overflow: hidden;
  height: fit-content;
  @include breakpoint(large){
    margin-left: 0px;
  }
  h2{
    font-family: TabletGothic-ExtraBold;
    font-size: 41px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 42px;
    text-transform: lowercase;
    margin-bottom: 60px;
  }
  &>ul{
    display: flex;
    flex-direction: column;
    &>li{
      margin-bottom: 20px;
      position: relative;
      display: flex;
      flex-direction: column;
      a {
        &.is-active {
          color: $black;
        }
      }
      &>a{
        margin-left: -30px;
        margin-right: -80px;
        min-width: 135px;
        &::before{
          content: "";
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='43px' height='14px' viewBox='0 0 43 14' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup 2%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group-2' transform='translate(1.000000, 2.000000)' stroke='%23FFFFFF'%3E%3Ccircle id='Oval' stroke-width='3' cx='35' cy='5' r='5'%3E%3C/circle%3E%3Cline x1='30' y1='5' x2='0' y2='5' id='Line' stroke-width='2' stroke-linecap='square'%3E%3C/line%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          background-size: cover;
          width: 43px;
          height: 14px;
          min-width: 43px;
          min-height: 14px;
          margin-right: 25px;
          display: inline-flex;
        }
        &:hover, &:focus {
          &:before {
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='43px' height='14px' viewBox='0 0 43 14' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup 2%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group-2' transform='translate(1.000000, 2.000000)' stroke='%23FDAE00'%3E%3Ccircle id='Oval' stroke-width='3' cx='35' cy='5' r='5'%3E%3C/circle%3E%3Cline x1='30' y1='5' x2='0' y2='5' id='Line' stroke-width='2' stroke-linecap='square'%3E%3C/line%3E%3C/g%3E%3C/g%3E%3C/svg%3E");          }
        }
      }
      &>ul > li {
        margin-left: -50px;
      }
      ul{
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        width: 100%;
        margin-left: 0px;
        li{
          margin-bottom: 15px;
          overflow: hidden;
          ul{
            width: 100%;
            li{
              & > a{
                font-weight: 400;
                font-size: 14px;
                color: #FFFFFF;
                letter-spacing: 0;
                line-height: 14px;
                margin-left: 66px;
                &::before{
                  content:"";
                  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='5px' height='7px' viewBox='0 0 5 7' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ERectangle%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Subnav/Traiteur' transform='translate(-86.000000, -350.000000)'%3E%3Crect id='Rectangle' fill='%23A17D23' x='0' y='0' width='296' height='1038'%3E%3C/rect%3E%3Cpolyline id='Rectangle' stroke='%23000000' transform='translate(87.000000, 352.828427) rotate(-45.000000) translate(-87.000000, -352.828427) ' points='89 350.828427 89 354.828427 85 354.828427'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                  width: 5px;
                  height: 7px;
                  min-width: 5px;
                  min-height: 7px;
                  margin-right: 20px;
                  background-size: contain;
                }
              }
            }
          }
          &>a {
            display: flex;
            //margin-left: -20px;
            &::before{
              content: "";
              background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='53px' height='2px' viewBox='0 0 53 2' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ELine Copy 6%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Subnav/Traiteur' transform='translate(1.000000, -322.000000)'%3E%3Crect id='Rectangle' fill='%23A17D23' x='0' y='0' width='296' height='1038'%3E%3C/rect%3E%3Cpolyline id='Line-Copy-6' stroke='%23FFFFFF' stroke-width='2' stroke-linecap='square' points='51 323 35.0934493 323 0 323'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
              background-size: cover;
              width: 53px;
              height: 2px;
              margin-right: 35px;
              display: inline-flex;
              margin-top: 7px;
            }
            &:hover, &:focus,&.is-active {
              &:before {
                background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='53px' height='2px' viewBox='0 0 53 2' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ELine Copy 6%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Subnav/Traiteur' transform='translate(1.000000, -322.000000)'%3E%3Crect id='Rectangle' fill='%23A17D23' x='0' y='0' width='296' height='1038'%3E%3C/rect%3E%3Cpolyline id='Line-Copy-6' stroke='%23FDAE00' stroke-width='2' stroke-linecap='square' points='51 323 35.0934493 323 0 323'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
              }
            }
          }
        }
      }
      a{
        font-weight: 600;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 16px;
padding: 0px;
      }
    }
  }
}
.views-infinite-scroll-content-wrapper{
  @include breakpoint(xlarge){
    max-width: 1275px!important;
    width: 100%;
    .item-list{
      width: 100%;
      ul{
        li{
          margin-bottom: 30px;
          //margin-right: 20px!important;
        }
        li:nth-of-type(3n){
          //margin-right: 0px!important;
        }
      }
    }
  }
  @include breakpoint(xlarge){
    padding-left: 0px;
    padding-right: 0px;
  }

  &>nav{
    display: none;
  }
  &>nav:first-of-type{
    display: block;
    height: fit-content;
  }
}
//product teaser
.webshop-view-page{
  margin-bottom: 40px;
  @include breakpoint(large){
    @include flex-grid-row();
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 1270px;
    margin-bottom: 90px;
  }
  .results-wrapper {
    width: 100%;
    @include breakpoint(large) {
      margin-top: 35px;
    }
    @include breakpoint(xlarge) {
      margin-left: 30px;
      @include grid-column-gutter();
    }
  }
  header {
    @include breakpoint(medium) {
      @include grid-row();
    }
  }
  .block-categories-sidebar--2{
    display: none!important;
  }
  ul.pager{
    list-style-type: none;
    margin: 30px auto 0 auto;
    li{
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}

.views-infinite-scroll-content-wrapper.clearfix, .paragraph--type--products-random{
  .item-list{
    width: 100%;
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      @include breakpoint(smallplus){
        @include flex-grid-row('nest', 'expand', null, true, true, 22px);
      }
      li {
        margin-bottom: 30px;
        @include breakpoint(smallplus) {
          display: flex;
          @include flex-grid-column(1 of 2, 22px);
        }
        @include breakpoint(medium) {
          @include flex-grid-column(1 of 3);
        }
        @include breakpoint(large) {

        }
        @include breakpoint(xlarge) {
         // margin-right: 30px;
          @include flex-grid-column(1 of 4);

      }
        @include breakpoint(xlarge){
          &:last-of-type{
           // margin-right: 0px;
          }
        }
        .product-item{
          max-width: 220px;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          @include breakpoint(large){
            margin-top: 0;
          }
          figure{
            width: 220px;
            height: 220px;
            background-color: grey;
          }
          h1{
            font-weight: 600;
            font-size: 16px;
            color: #000000;
            letter-spacing: 0;
            line-height: 16px;
            a{
              font-weight: 600;
              font-size: 16px;
              color: #000000;
              letter-spacing: 0;
              line-height: 16px;
            }
          }
          .info {
            padding: 16px;
            padding-bottom: 0px;
            padding-top: 20px;
            flex: 1;
            display: flex;
            flex-direction: column;
          }
          .info-actions {
             margin-top: auto;
            .price{
              font-weight: 600;
              font-size: 16px;
              color: #000000;
              letter-spacing: 0;
              line-height: 16px;
              margin-top: auto;
              margin-bottom: 23px;
            }
            .commerce-order-item-add-to-cart-form {
              background-color: #F1F2F3;
              max-width: 190px;
              margin: 0 auto;
              height: 50px;
              display:flex;
              flex-direction: row;
              flex-wrap: nowrap;
              .field--name-quantity{
                height: 50px;
                align-items: center;
                a.qty-button{
                  width: 20px;
                  height: 20px;
                  border-radius: 50%;
                  font-weight: 600;
                  font-size: 21px;
                  color: #FFFFFF;
                  letter-spacing: 0;
                  line-height: 16px;
                  background-color: #D8D8D8;
                  margin-top: 6px;
                  display: block;
                  border: solid 0px white;
                  &:nth-of-type(1){
                    margin-right: 8px;
                  }
                  &:nth-of-type(2){
                    margin-left: 26px;
                  }
                }
                .custom-unit-label{
                  max-width: 12px;
                  overflow: hidden;
                  white-space: nowrap;
                  text-transform: lowercase;
                  margin-left: -37px;
                  line-height: 30px;
                  &[data-custom-unit-lbl="Total volume: ***AMOUNT*** Kg"]{
                    max-width: 16px;
                  }
                  &[data-custom-unit-lbl="Total volume: ***AMOUNT*** Stuk"]{
                    max-width: 13px;
                  }
                  &[data-custom-unit-lbl="Total volume: ***AMOUNT*** Gr"]{
                    max-width: 16px;
                  }
                  &[data-custom-unit-lbl="Total volume: ***AMOUNT*** Persoon"]{
                    max-width: 9px;
                  }
                }

              }
              .form-actions{
                button{
                  background-color: $primary-color;
                  background-image: url("/themes/base/images/icons/basket.svg");
                  background-size: 24px;
                  background-position: center;
                  width: 50px;
                  height: 50px;
                  padding: 0px;
                  background-repeat: no-repeat ;
                  margin: 0 auto;
                  border: solid 1px white;
                  span{
                    display: none;
                  }
                }
              }
              .form-item-quantity-0-value{
                max-width: 140px;
                input{
                  max-width: 50px;
                  background-color: white;
                  height: 34px;
                }
                label{
                  display: none;
                }
              }
              .field--widget-commerce-quantity{
                max-width: 190px;
                margin: 0 auto;
                margin-left: 8px;
              }
            }
          }
        }
      }
    }
  }
}


.recipes-view-fix{
  @include breakpoint(large){
    margin-top: 75px;
    margin-left: -5Px;
  }
  .item-list{


  ul {
    @include breakpoint(medium) {
      justify-content: flex-start !important;
    }

    li {
      @include flex-grid-column(1 of 1);
      max-width: 100% !important;
      flex: 0 0 100% !important;
      @include breakpoint(smallplus) {
        @include flex-grid-column(1 of 1);
        max-width: 100% !important;
        flex: 0 0 100% !important;
      }
      @include breakpoint(medium) {
        @include flex-grid-column(1 of 2);
        max-width: 50% !important;
        flex: 0 0 50% !important;
      }
      @include breakpoint(xlarge) {
        @include flex-grid-column(1 of 3);
        max-width: 33.33333% !important;
        flex: 0 0 33.33333% !important;
      }
    }
  }
  }
}

.field-name-field-products-3{
  & > .field-items{
    list-style-type: none;
    margin: 0;
    padding: 0;
    @include breakpoint(medium){
      @include flex-grid-row();
      flex-wrap: wrap;
      justify-content: center;
    }
    & > .field-item{
      @include breakpoint(medium) {
        margin-right: 30px;
      }
      &:last-of-type{
        margin-right: 0px;
      }
      .product-item{
        max-width: 220px;
        margin: 0 auto;
        margin-top: 30px;
        @include breakpoint(large){
          margin-top: 0;
        }
        h1{
          font-weight: 600;
          font-size: 16px;
          color: #000000;
          letter-spacing: 0;
          line-height: 16px;
          a{
            font-weight: 600;
            font-size: 16px;
            color: #000000;
            letter-spacing: 0;
            line-height: 16px;
          }
        }
        .info{
          padding: 16px;
          padding-bottom: 0px;
          padding-top: 20px;
        }
        .info-actions{
          .price{
            font-weight: 600;
            font-size: 16px;
            color: #000000;
            letter-spacing: 0;
            line-height: 16px;
            margin-top: 40px;
            margin-bottom: 23px;
          }
          .commerce-order-item-add-to-cart-form{
            background-color: #F1F2F3;
            max-width: 190px;
            margin: 0 auto;
            height: 50px;
            display:flex;
            flex-direction: row;
            flex-wrap: nowrap;
            .field--name-quantity{
              height: 50px;
              align-items: center;
              a.qty-button{
                width: 20px;
                height: 20px;
                border-radius: 50%;
                font-weight: 600;
                font-size: 21px;
                color: #FFFFFF;
                letter-spacing: 0;
                line-height: 16px;
                background-color: #D8D8D8;
                margin-top: 6px;
                display: block;
                border: solid 0px white;
                &:nth-of-type(1){
                  margin-right: 8px;
                }
                &:nth-of-type(2){
                  margin-left: 26px;
                }
              }
              .custom-unit-label{
                max-width: 12px;
                overflow: hidden;
                white-space: nowrap;
                text-transform: lowercase;
                margin-left: -37px;
                line-height: 30px;
                &[data-custom-unit-lbl="Total volume: ***AMOUNT*** Kg"]{
                  max-width: 16px;
                }
              }

            }
            .form-actions{
              button{
                background-color: $primary-color;
                background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='21px' viewBox='0 0 24 21' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup 4%3C/title%3E%3Cdefs%3E%3Cfilter id='filter-1'%3E%3CfeColorMatrix in='SourceGraphic' type='matrix' values='0 0 0 0 1.000000 0 0 0 0 1.000000 0 0 0 0 1.000000 0 0 0 1.000000 0'%3E%3C/feColorMatrix%3E%3C/filter%3E%3Cpolygon id='path-2' points='0 0 22.8466667 0 22.8466667 20.5527 0 20.5527'%3E%3C/polygon%3E%3C/defs%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg filter='url(%23filter-1)' id='Group-4'%3E%3Cg id='Group-3' transform='translate(0.666667, 0.000000)'%3E%3Cmask id='mask-3' fill='white'%3E%3Cuse xlink:href='%23path-2'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-2'%3E%3C/g%3E%3Cpath d='M21.6198467,9.58603333 L1.22651333,9.58603333 L1.22651333,7.33047778 L21.69728,7.33047778 L21.69728,9.58603333 L21.6198467,9.58603333 Z M18.3998467,18.9193667 L18.3998467,18.9971444 C18.3998467,19.1527 18.24728,19.3082556 18.09318,19.3082556 L4.59984667,19.3082556 C4.44651333,19.3082556 4.29318,19.1527 4.29318,18.9193667 L3.21984667,10.7527 L19.47318,10.7527 L18.3998467,18.9193667 Z M22.23318,6.16381111 L0.61318,6.16381111 C0.306513333,6.16381111 -0.000153333333,6.39714444 -0.000153333333,6.78603333 L-0.000153333333,10.2082556 C-0.000153333333,10.5193667 0.229846667,10.8304778 0.61318,10.8304778 L2.06984667,10.8304778 L3.14318,19.0749222 C3.14318,19.8527 3.75651333,20.5527 4.59984667,20.5527 L18.09318,20.5527 C18.8598467,20.5527 19.47318,19.9304778 19.5498467,19.1527 L20.62318,10.8304778 L20.62318,10.7527 L22.23318,10.7527 C22.5398467,10.7527 22.84728,10.5193667 22.84728,10.1304778 L22.84728,6.70825556 C22.7698467,6.39714444 22.5398467,6.16381111 22.23318,6.16381111 L22.23318,6.16381111 Z M6.82318,5.54158889 C6.82318,5.54158889 8.20318,4.14158889 10.8098467,1.49714444 C11.19318,1.10825556 11.4998467,0.9527 12.11318,1.49714444 C12.6498467,2.04158889 16.25318,5.46381111 16.3306133,5.54158889 C16.4065133,5.61936667 16.5598467,5.69714444 16.7139467,5.69714444 C16.8665133,5.69714444 17.0198467,5.61936667 17.09728,5.54158889 C17.3265133,5.30825556 17.3265133,4.91936667 17.09728,4.68603333 C16.94318,4.53047778 13.4165133,1.18603333 12.8806133,0.641588889 C11.9598467,-0.213966667 10.8865133,-0.213966667 10.04318,0.641588889 C7.35984667,3.28603333 5.97984667,4.68603333 5.97984667,4.68603333 C5.74984667,4.91936667 5.74984667,5.30825556 5.97984667,5.54158889 C6.20984667,5.77492222 6.59318,5.77492222 6.82318,5.54158889 L6.82318,5.54158889 Z' id='Fill-1' fill='%23FFFFFF' mask='url(%23mask-3)'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                background-size: 24px;
                background-position: center;
                width: 50px;
                height: 50px;
                padding: 0px;
                background-repeat: no-repeat ;
                margin: 0 auto;
                border: solid 1px white;
                span{
                  display: none;
                }
              }
            }
            .form-item-quantity-0-value{
              max-width: 140px;
              input{
                max-width: 50px;
                background-color: white;
                height: 34px;
              }
              label{
                display: none;
              }
            }
            .field--widget-commerce-quantity{
              max-width: 190px;
              margin: 0 auto;
              margin-left: 8px;
            }
          }
        }
      }
    }
  }
  ul.js-pager__items{
    list-style-type: none;
    margin: 0;
    li{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 30px;
      @include breakpoint(large){
        margin-left: 330px;
      }
    }
  }
}



//product teaser
.product-detail{
  @include grid-column-gutter();
  @include breakpoint(1055px){
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  margin-top: 70px;
  main{
    @include breakpoint(large){
      @include flex-grid-row();
      flex-wrap: nowrap;
      flex-direction: row-reverse;
      position: relative;
      justify-content: flex-end;
      max-width: 1275px;
    }
    .product-back-wrapper{
      @include breakpoint(large){
        @include flex-grid-column(2 of 12);
        position: absolute;
        left: 100px;
        top: 0;
        padding: 0px;

        a{
          font-weight: 800;
          font-size: 16px;
          color: #A17D23;
          letter-spacing: 0;
          line-height: 18px;
          max-width: 90px;
          display: block;

          &::before{
            content: "";
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='17px' height='12px' viewBox='0 0 17 12' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup 2%3C/title%3E%3Cg id='Shop-overview-+-detail' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='1.1-Desktop---Shop-item-waarborg-per-stuk---detail' transform='translate(-156.000000, -183.000000)' stroke='%23A17D23' stroke-width='2'%3E%3Cg id='Group-2' transform='translate(158.000000, 184.000000)'%3E%3Cline x1='2' y1='5' x2='14' y2='5' id='Line' stroke-linecap='square'%3E%3C/line%3E%3Cpolyline id='Stroke-4' points='5 10 0 5 5 0'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            width: 17px;
            height: 12px;
            background-size: cover;
            background-repeat: no-repeat;
            display: block;
            position: absolute;
            top: 14px;
            left: -20px;
          }
        }
      }
    }
    .product-information{
      @include breakpoint(large){
        @include flex-grid-column(4 of 12);
        padding: 0px!important;
        margin-left: 30px!important;
      }
    }
    figure{
      @include breakpoint(large){
        @include flex-grid-column(6 of 12);
        max-width: 405px!important;
        padding: 0px!important;
        margin-left: 217px!important;
      }
    }
  }
  .product-information{
    max-width: 405px!important;
    padding-right: 0px!important;
    div.product-information-details{
    border-bottom: solid 1px #E1E1E1;
      margin-bottom: 16px;
      h1{
        font-weight: 800;
        font-size: 30px;
        color: #4D4D4D;
        letter-spacing: 0.2px;
        line-height: 30px;
        margin-bottom: 30px;
      }
      .price{
        font-weight: 600;
        font-size: 25px;
        color: #4D4D4D;
        letter-spacing: 0.07px;
      }
      .field-name-price{
        display: none;
      }
      .warranty-info,.pickup-info{
        font-weight: 400;
        font-size: 16px;
        color: #4D4D4D;
        letter-spacing: 0.04px;
        line-height: 22px;
        text-transform: lowercase;
      }
      .pickup-info{
        margin-bottom: 30px;
      }
      .body{
        p{
        font-family: TabletGothic;
        font-size: 16px;
        color: #4D4D4D;
        letter-spacing: 0.04px;
        line-height: 23px;
      }
      }
    }
    .form-actions{
      button{
        background-color: transparent!important;
        height: 40px;
        padding: 0px;
        padding-left: 50px;
        padding-right: 10px;
        background-repeat: no-repeat ;
        border: solid 2px $secondary-color;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='30px' height='27px' viewBox='0 0 30 27' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup 3%3C/title%3E%3Cdefs%3E%3Cpolygon id='path-1' points='0 0 29.8 0 29.8 26.4249 0 26.4249'%3E%3C/polygon%3E%3C/defs%3E%3Cg id='Shop-overview-+-detail' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='1.1-Desktop---Shop-item-waarborg-per-stuk---detail' transform='translate(-1199.000000, -344.000000)'%3E%3Cg id='Group-6' transform='translate(903.000000, 340.000000)'%3E%3Cg id='Group-3' transform='translate(296.000000, 4.000000)'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-2'%3E%3C/g%3E%3Cpath d='M28.1998,12.3249 L1.5998,12.3249 L1.5998,9.4249 L28.3008,9.4249 L28.3008,12.3249 L28.1998,12.3249 Z M23.9998,24.3249 L23.9998,24.4249 C23.9998,24.6249 23.8008,24.8249 23.5998,24.8249 L5.9998,24.8249 C5.7998,24.8249 5.5998,24.6249 5.5998,24.3249 L4.1998,13.8249 L25.3998,13.8249 L23.9998,24.3249 Z M28.9998,7.9249 L0.7998,7.9249 C0.3998,7.9249 -0.0002,8.2249 -0.0002,8.7249 L-0.0002,13.1249 C-0.0002,13.5249 0.2998,13.9249 0.7998,13.9249 L2.6998,13.9249 L4.0998,24.5249 C4.0998,25.5249 4.8998,26.4249 5.9998,26.4249 L23.5998,26.4249 C24.5998,26.4249 25.3998,25.6249 25.4998,24.6249 L26.8998,13.9249 L26.8998,13.8249 L28.9998,13.8249 C29.3998,13.8249 29.8008,13.5249 29.8008,13.0249 L29.8008,8.6249 C29.6998,8.2249 29.3998,7.9249 28.9998,7.9249 L28.9998,7.9249 Z M8.8998,7.1249 C8.8998,7.1249 10.6998,5.3249 14.0998,1.9249 C14.5998,1.4249 14.9998,1.2249 15.7998,1.9249 C16.4998,2.6249 21.1998,7.0249 21.3008,7.1249 C21.3998,7.2249 21.5998,7.3249 21.8008,7.3249 C21.9998,7.3249 22.1998,7.2249 22.3008,7.1249 C22.5998,6.8249 22.5998,6.3249 22.3008,6.0249 C22.0998,5.8249 17.4998,1.5249 16.8008,0.8249 C15.5998,-0.2751 14.1998,-0.2751 13.0998,0.8249 C9.5998,4.2249 7.7998,6.0249 7.7998,6.0249 C7.4998,6.3249 7.4998,6.8249 7.7998,7.1249 C8.0998,7.4249 8.5998,7.4249 8.8998,7.1249 L8.8998,7.1249 Z' id='Fill-1' fill='%23FDAE00' mask='url(%23mask-2)'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-size:30px;
        background-position-x: 10px;
        background-position-y: 5px;
        margin-top: -60px;
        margin-left: 165Px;
        transition: 0.3s ease;
        span{
          display: block;
          color: $secondary-color;
        }
        &:hover{
          background-size: 26px;
        }
      }
    }
    .form-item-quantity-0-value{
      max-width: 140px;
      input{
        max-width: 50px;
        background-color: white;
        height: 34px;
      }
      label{
        display: none;
      }
    }
    .field--widget-commerce-quantity{
      max-width: 175px;
      margin: 0 auto;
      margin-left: 0px;
      padding-left: 12px;
    }
    .field--name-quantity{
      height: 50px;
      align-items: center;
      background-color: #F2F2F2;
      a.qty-button{
        width: 26px;
        height: 26px;
        border-radius: 50%;
        font-weight: 600;
        font-size: 21px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 16px;
        background-color: #D8D8D8;
        margin-top: 6px;
        display: block;
        border: solid 0px white;
        &:nth-of-type(1){
          margin-right: 8px;
        }
        &:nth-of-type(2){
          margin-left: 26px;
        }
      }
      .custom-unit-label{
        max-width: 12px;
        overflow: hidden;
        white-space: nowrap;
        text-transform: lowercase;
        margin-left: -43px;
        line-height: 30px;
        &[data-custom-unit-lbl="Total volume: ***AMOUNT*** Kg"]{
          max-width: 16px;
        }
      }
    }
  }


  footer{
    padding-top: 35px;
    padding-bottom: 35px;
    border-top: solid 1px #E1E1E1;
    border-bottom: solid 1px #E1E1E1;
    margin-top: 50px;
    margin-bottom: 50px;
    @include breakpoint(large){
      @include flex-grid-row();
      flex-wrap: nowrap;
      margin-top: 115px;
      margin-bottom: 115px;
    }
  }
  .related-products-info{
    background-color: #EDEEEF;
    max-width: 300px;
    padding-top: 85px;
    padding-bottom: 190px;
    padding-left: 40px;
    margin: 0 auto;
    padding-right: 40px;
    margin-top: 0px;
    position: relative;
    @include breakpoint(large){
      margin-left: 0;
    }
    .controls{
      position: absolute;
      bottom: 40px;
      width: 93px;
      right: 34px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: nowrap;
      &>div {
        background-repeat: no-repeat;
        background-size: contain;
        width: 39px;
        height: 17px;
        outline: none;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='39px' height='17px' viewBox='0 0 39 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup 5%3C/title%3E%3Cg id='Shop-overview-+-detail' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='1.1-Desktop---Shop-item-waarborg-per-stuk---detail' transform='translate(-416.000000, -1049.000000)'%3E%3Crect id='Rectangle' fill='%23EDEEEF' x='193' y='723' width='296' height='386'%3E%3C/rect%3E%3Cg id='Group-5' transform='translate(416.000000, 1049.000000)'%3E%3Cg id='Group-3' transform='translate(0.000000, 7.357400)' stroke='%234D4D4D' stroke-width='2'%3E%3Cline x1='-0.0002' y1='0.8205' x2='36.4978' y2='0.8205' id='Stroke-1'%3E%3C/line%3E%3C/g%3E%3Cpolygon id='Fill-4' fill='%234D4D4D' points='29.8701 -0.0001 28.5071 1.4649 35.7301 8.1799 28.5071 14.8929 29.8701 16.3569 38.6671 8.1799'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        & > svg {
display: none;
        }
      }
      div.product-button-prev{
        transform: rotate(-180deg);
        margin-top: -1px;
      }
    }
    h2{
      font-weight: 800;
      font-size: 25px;
      color: #4D4D4D;
      text-align: left;
      line-height: 34px;
    }
  }

  .related-products-slider{

    .swiper-wrapper{
      max-width: 720px;
      margin-right: 0px;
      .swiper-slide{
        max-width: 220px;
        .product-item{

          max-width: 220px;
          margin: 0 auto;
          margin-top: 30px;
          @include breakpoint(large){
            margin-top: 0;
          }
          h1{
            font-weight: 600;
            font-size: 16px;
            color: #000000;
            letter-spacing: 0;
            line-height: 16px;
            a{
              font-weight: 600;
              font-size: 16px;
              color: #000000;
              letter-spacing: 0;
              line-height: 16px;
            }
          }
          .info{
            padding: 16px;
            padding-bottom: 0px;
            padding-top: 20px;
          }
          .info-actions{
            .price{
              font-weight: 600;
              font-size: 16px;
              color: #000000;
              letter-spacing: 0;
              line-height: 16px;
              margin-top: 40px;
              margin-bottom: 23px;
            }
            .commerce-order-item-add-to-cart-form{
              background-color: #F1F2F3;
              max-width: 190px;
              margin: 0 auto;
              height: 50px;
              display:flex;
              flex-direction: row;
              flex-wrap: nowrap;
              .field--name-quantity{
                height: 50px;
                align-items: center;
                a.qty-button{
                  width: 20px;
                  height: 20px;
                  border-radius: 50%;
                  font-weight: 600;
                  font-size: 21px;
                  color: #FFFFFF;
                  letter-spacing: 0;
                  line-height: 16px;
                  background-color: #D8D8D8;
                  margin-top: 6px;
                  display: block;
                  border: solid 0px white;
                  &:nth-of-type(1){
                    margin-right: 8px;
                  }
                  &:nth-of-type(2){
                    margin-left: 26px;
                  }
                }
                .custom-unit-label{
                  max-width: 12px;
                  overflow: hidden;
                  white-space: nowrap;
                  text-transform: lowercase;
                  margin-left: -37px;
                  line-height: 30px;
                  &[data-custom-unit-lbl="Total volume: ***AMOUNT*** Kg"]{
                    max-width: 16px;
                  }
                }

              }
              .form-actions{
                button{
                  background-color: $primary-color;
                  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='21px' viewBox='0 0 24 21' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup 4%3C/title%3E%3Cdefs%3E%3Cfilter id='filter-1'%3E%3CfeColorMatrix in='SourceGraphic' type='matrix' values='0 0 0 0 1.000000 0 0 0 0 1.000000 0 0 0 0 1.000000 0 0 0 1.000000 0'%3E%3C/feColorMatrix%3E%3C/filter%3E%3Cpolygon id='path-2' points='0 0 22.8466667 0 22.8466667 20.5527 0 20.5527'%3E%3C/polygon%3E%3C/defs%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg filter='url(%23filter-1)' id='Group-4'%3E%3Cg id='Group-3' transform='translate(0.666667, 0.000000)'%3E%3Cmask id='mask-3' fill='white'%3E%3Cuse xlink:href='%23path-2'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-2'%3E%3C/g%3E%3Cpath d='M21.6198467,9.58603333 L1.22651333,9.58603333 L1.22651333,7.33047778 L21.69728,7.33047778 L21.69728,9.58603333 L21.6198467,9.58603333 Z M18.3998467,18.9193667 L18.3998467,18.9971444 C18.3998467,19.1527 18.24728,19.3082556 18.09318,19.3082556 L4.59984667,19.3082556 C4.44651333,19.3082556 4.29318,19.1527 4.29318,18.9193667 L3.21984667,10.7527 L19.47318,10.7527 L18.3998467,18.9193667 Z M22.23318,6.16381111 L0.61318,6.16381111 C0.306513333,6.16381111 -0.000153333333,6.39714444 -0.000153333333,6.78603333 L-0.000153333333,10.2082556 C-0.000153333333,10.5193667 0.229846667,10.8304778 0.61318,10.8304778 L2.06984667,10.8304778 L3.14318,19.0749222 C3.14318,19.8527 3.75651333,20.5527 4.59984667,20.5527 L18.09318,20.5527 C18.8598467,20.5527 19.47318,19.9304778 19.5498467,19.1527 L20.62318,10.8304778 L20.62318,10.7527 L22.23318,10.7527 C22.5398467,10.7527 22.84728,10.5193667 22.84728,10.1304778 L22.84728,6.70825556 C22.7698467,6.39714444 22.5398467,6.16381111 22.23318,6.16381111 L22.23318,6.16381111 Z M6.82318,5.54158889 C6.82318,5.54158889 8.20318,4.14158889 10.8098467,1.49714444 C11.19318,1.10825556 11.4998467,0.9527 12.11318,1.49714444 C12.6498467,2.04158889 16.25318,5.46381111 16.3306133,5.54158889 C16.4065133,5.61936667 16.5598467,5.69714444 16.7139467,5.69714444 C16.8665133,5.69714444 17.0198467,5.61936667 17.09728,5.54158889 C17.3265133,5.30825556 17.3265133,4.91936667 17.09728,4.68603333 C16.94318,4.53047778 13.4165133,1.18603333 12.8806133,0.641588889 C11.9598467,-0.213966667 10.8865133,-0.213966667 10.04318,0.641588889 C7.35984667,3.28603333 5.97984667,4.68603333 5.97984667,4.68603333 C5.74984667,4.91936667 5.74984667,5.30825556 5.97984667,5.54158889 C6.20984667,5.77492222 6.59318,5.77492222 6.82318,5.54158889 L6.82318,5.54158889 Z' id='Fill-1' fill='%23FFFFFF' mask='url(%23mask-3)'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                  background-size: 24px;
                  background-position: center;
                  width: 50px;
                  height: 50px;
                  padding: 0px;
                  background-repeat: no-repeat ;
                  margin: 0 auto;
                  border: solid 1px white;
                  span{
                    display: none;
                  }
                }
              }
              .form-item-quantity-0-value{
                max-width: 140px;
                input{
                  max-width: 50px;
                  background-color: white;
                  height: 34px;
                }
                label{
                  display: none;
                }
              }
              .field--widget-commerce-quantity{
                max-width: 190px;
                margin: 0 auto;
                margin-left: 8px;
              }
            }
          }
        }
      }
    }
  }


}
.section-webshop {
  .region-content{
  #block-base-content{
    &>div.views-element-container {
      & > div.js-view-dom-id-6ae2bd56f892333d9a53fe9a757e9cb6f060db30ea092fb396fc44c034647f02 {
        padding-top: 45px;
        padding-bottom: 45px;
        text-align: center;
        font-weight: 800;
        font-size: 31px;
        color: #000000;
        letter-spacing: 0;
        line-height: 33px;
      }
    }
    }
  }
}


.field-name-field-products-3{
  article.product-teaser{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .info{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
