{#
items have these fields:
   *  order_id : '25' for example
   *  product_name: 'Soup of the day' for example
   *  warranty_item_abbreviation: 'SC' (from 'Soup Container') for example
   *  warranty_item_index: 1 (first from one out of 3 containers) for example


#}

<div class="export_labels_print">
  <!-- fake action links here, just for styling -->
  <ul class="action-links">
    <li>
      <a href="#" class="button button-action button--primary button--small" data-js-print>{{ 'Print' }}</a></li>
  </ul>
  <h1>
    {% trans %}
      Export labels between {{ from }} and {{ to }}
    {% endtrans %}
  </h1>
  <table>
    <thead>
      <tr>
      {% for column in columns %}
        <th>{{ column }}</th>
      {% endfor %}
      <tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          {% for field in item %}
          <td>{{ field }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
