.field--name-field-custom-unit .ief-form > .fieldset-wrapper > .form-wrapper,
.field--name-field-custom-unit .ief-form > .form-wrapper,
.field--name-field-custom-unit.field--widget-inline-entity-form-simple > .form-wrapper > .fieldset-wrapper > .form-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: stretch;
}

.field--name-field-custom-unit .ief-form > .fieldset-wrapper > .form-wrapper .field--name-field-volume-amount,
.field--name-field-custom-unit .ief-form > .form-wrapper .field--name-field-volume-amount,
.field--name-field-custom-unit.field--widget-inline-entity-form-simple > .form-wrapper > .fieldset-wrapper > .form-wrapper .field--name-field-volume-amount {
  flex: 0 0 173px;
  max-width: 173px;
  padding-right: 2px
}

.field--name-field-custom-unit .ief-form > .fieldset-wrapper > .form-wrapper .field--name-field-volume-unit,
.field--name-field-custom-unit .ief-form > .form-wrapper .field--name-field-volume-unit,
.field--name-field-custom-unit.field--widget-inline-entity-form-simple > .form-wrapper > .fieldset-wrapper > .form-wrapper .field--name-field-volume-unit {
  flex: 1 1 calc(100% - 175px);
}

.field--name-field-custom-unit .ief-form > .fieldset-wrapper > .form-wrapper .field--name-field-volume-unit label,
.field--name-field-custom-unit .ief-form > .form-wrapper .field--name-field-volume-unit label,
.field--name-field-custom-unit.field--widget-inline-entity-form-simple > .form-wrapper > .fieldset-wrapper > .form-wrapper .field--name-field-volume-unit label {
  opacity: 0;
}

.field--name-field-custom-unit .ief-form > .fieldset-wrapper > .form-wrapper .field--name-field-volume-unit select,
.field--name-field-custom-unit .ief-form > .form-wrapper .field--name-field-volume-unit select,
.field--name-field-custom-unit.field--widget-inline-entity-form-simple > .form-wrapper > .fieldset-wrapper > .form-wrapper .field--name-field-volume-unit select {
  height: 28px;
}

.field--name-field-custom-unit .ief-form > .fieldset-wrapper > .form-wrapper .form-wrapper:last-child,
.field--name-field-custom-unit .ief-form > .form-wrapper .form-wrapper:last-child,
.field--name-field-custom-unit.field--widget-inline-entity-form-simple > .form-wrapper > .fieldset-wrapper > .form-wrapper .form-wrapper:last-child {
  flex: 0 0 100%;
}
