.field--widget-commerce-quantity {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.field--widget-commerce-quantity > * {
  margin-bottom: 0.75em;
}

.field--widget-commerce-quantity .qty-button {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f9f8f6;
  background-image: -webkit-linear-gradient(top, #fcfcfa, #e9e9dd);
  background-image: linear-gradient(to bottom, #fcfcfa, #e9e9dd);
  color: #1a1a1a;
  text-decoration: none;
  outline: none;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.125);
  box-sizing: border-box;
  position: relative;
  text-align: center;
  line-height: normal;
  padding: 4px;
  border: 1px solid #a6a6a6;
  border-radius: 4px;
  font-weight: 600;
  font-size: 0.875rem;
  transition: all 0.1s;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.6);
}

.field--widget-commerce-quantity .custom-unit-label {
  height: 28px;
  line-height: 28px;
  padding-left: 5px;
}