ul.linkicon {
  margin: 0;
  padding: 0;
  list-style-type: none;
  &> li {
    a.linkicon__item {
      .linkicon__text {
        font-size: 0;
        opacity: 0;
        visibility: hidden;
        height: 0; width: 0;
      }
    }
  }
}

.dropdown-pane{
  background: #fff;
  ul{
    margin:0;
    li{
      list-style: none;
    }
  }
  a{
    font-weight:$global-weight-bold;
    color: $dark-gray;
  }
}

.button{
  @include button;
}

.old-price{
  text-decoration: line-through;
}

.captcha{
  margin-bottom: 15px;
}
