// @file
// Place your mixins here. Feel free to roll your own mixins.
@mixin button{
  font-weight: $global-weight-bold;
  font-size: 18px;
  padding: 10px 45px;
  background: $primary-color;
  color: #fff;
  transition: all 0.2s;
  &:hover{
    background: darken($primary-color, 5%);
  }
}