.basic_page.full{
  max-width: $global-width;
  margin: 0 auto;
  h1.page-title{
    font-weight: 800;
    font-size: 45px;
    color: $secondary-color;
    letter-spacing: 0;
    line-height: 45px;
    text-transform: uppercase;
    @include breakpoint(medium){
      font-size: 63px;
      line-height: 66px;
    }
  }

  &>header{
    position: relative;
    min-height: 202px;
    margin-bottom: 50px;
    @include breakpoint(medium){
      min-height: 340px;
    }
    @include breakpoint(mediumplus){
      margin-top: -87px;
      margin-bottom: 75px;
    }
h1{
margin-top: auto;
  margin-bottom: 0;
  min-height: 200px;
  display: flex;
  flex-direction: column-reverse;
  z-index: 2;
  position: relative;
  @include breakpoint(medium){
    min-height: 350px;
  }
  @include breakpoint(medium down){
    padding-left: 18px;
  }
}
.field-name-field-page-image{
position: absolute;
  top: 0;
  right: 0;
  @include breakpoint(mediumplus){
    right: -110px;
  }
}
  }
}
.recipe-full {
  max-width: $global-width;
  margin: 0 auto;

  & > header {
    position: relative;
    min-height: 202px;
    margin-bottom: 50px;

    @include breakpoint(medium) {
      min-height: 350px;
    }
    @include breakpoint(mediumplus) {
      margin-top: -87px;
      margin-bottom: 75px;
    }

    .field-name-field-page-image {
      position: absolute;
      top: 0;
      right: 0;
      @include breakpoint(mediumplus) {
        right: -110px;
      }
    }
  }

  .sidebar-wrapper {
    h1 {
      font-weight: 800;
      font-size: 33px;
      color: #A17D23;
      letter-spacing: 0;
      line-height: 33px;
      margin-bottom: 20px;
    }

    .addtoany_list {
      a {
        width: 24px;
        height: 24px;
        background-color: #4D4D4D;
        border-radius: 50%;
        color: white;
        line-height: 23Px;
        text-align: center;
        font-size: 14px;
        margin-right: 5px;
        transition: 0.3s ease;

        &:last-of-type {
          margin-right: 0px;
        }

        &:hover {
          background-color: $secondary-color;
        }
      }
    }

    .field-name-field-sub-title {
      margin-bottom: 50px;

      .field-item {
        font-weight: 600;
        font-size: 18px;
        color: #4D4D4D;
        letter-spacing: 0;
        line-height: 21px;
      }
    }

    .share-wrapper {
      h2 {
        font-weight: 600;
        font-size: 18px;
        color: #4D4D4D;
        letter-spacing: 0;
        line-height: 21px;
      }
    }

    a.back-button {
      background-color: $secondary-color;
      text-transform: lowercase;
      font-weight: 600;
      font-size: 15px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 16px;
      margin-top: 40px;
    }
  }

  & > main {
    padding-left: 40px;
    padding-right: 40px;
    max-width: $global-width;
    @include breakpoint(medium){
      @include grid-column-gutter();
    }
    @include breakpoint(1055px){

      @include flex-grid-row();
      flex-wrap: nowrap;
      padding-left: 0px!important;
      padding-right: 0px!important;
      & > .sidebar-wrapper{
        max-width: 279px;
        margin-right: 50px;
      }
      & > .view-mode-full{
      max-width: 620px;
      }
    }
    & > .view-mode-full {
      .field-name-field-ingredients, .field-name-field-preparation {
        .field-label {
          font-weight: 800;
          font-size: 18px;
          color: #000000;
          letter-spacing: 0;
        }

        .field-items {
          .field-item {
            font-weight: 400;
            font-size: 16px;
            color: #4D4D4D;
            letter-spacing: 0.1px;
            line-height: 20px;

            ul {
              display: flex;
              flex-direction: column;
              margin-top: 25px;
              @include breakpoint(medium) {
                flex-wrap: wrap;
                flex-direction: row;
              }
              li {
                @include breakpoint(medium) {
                  @include flex-grid-column(1 of 2);
                }
              }
            }
          }
        }
      }

      .field-name-field-ingredients {
        margin-bottom: 70px;
        ul{
          li{
            list-style-type: none;
            &::before{
              content: "";
              background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='4px' height='4px' viewBox='0 0 4 4' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3E•%3C/title%3E%3Cg id='Recepten' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' font-family='TabletGothic, Tablet Gothic' font-size='15' font-weight='normal' letter-spacing='2.4375'%3E%3Ctext id='•' fill='%234D4D4D'%3E%3Ctspan x='-2' y='7'%3E•%3C/tspan%3E%3C/text%3E%3C/g%3E%3C/svg%3E");
              width: 4px;
              height: 4px;
              background-size: cover;
              display: inline-block;
              margin-left: -30px;
              margin-right: 20px;
              margin-bottom: 4px;
            }
          }
        }
      }

      p.social-share-message {
        font-weight: 600;
        font-size: 18px;
        color: #4D4D4D;
        letter-spacing: 0;
        line-height: 24px;
        margin-top: 60px;
        margin-bottom: 45px;
        @include breakpoint(large){
          margin-bottom: 90px;
        }
        b{
          font-weight: 800;
        }
      }

    }
  }

  footer {
    @include grid-column-gutter();
    padding-top: 38px;
    border-top: solid 1px #E1E1E1;
    margin-bottom: 120px;

    max-width: $global-width;
    @include breakpoint(1055px){
      padding-left: 0px!important;
      padding-right: 0px!important;
    }
    h2 {
      font-family: TabletGothic-Bold;
      font-size: 18px;
      color: #4D4D4D;
      letter-spacing: 0;
      line-height: 21px;
      margin-bottom: 40px;
      @include breakpoint(medium down){
        padding-left: 30px;
      }
    }
    .views-element-container {
      .item-list {
        ul {
          margin: 0 !important;
          padding: 0;
          list-style-type: none;
          @include breakpoint(medium) {
            @include flex-grid-row();
            flex-wrap: wrap;
            justify-content: flex-start;
          }

          li {
            padding: 0;
            margin: 0 auto;
            max-width: 330px;
            @include breakpoint(medium) {
              margin-right: 31px;
              &:nth-of-type(3n) {
                margin-right: 0px;

              }
            }

            .recipe-teaser {
              h1 {
                font-weight: 600;
                font-size: 18px;
                color: $black !important;
                letter-spacing: 0;
                line-height: 20px;
                margin-bottom: 20px;
                margin-top: 20px;
                min-height: 40px;

                a {
                  font-weight: 600;
                  font-size: 18px;
                  color: $black !important;
                  letter-spacing: 0;
                  line-height: 20px;
                }
              }

              header {
                a {
                  img {
                    width: 330px;
                    height: 195px;
                    object-fit: cover;
                  }
                }
              }

              main {
                & > a {
                  font-weight: 600;
                  font-size: 15px;
                  color: $primary-color;
                  text-transform: lowercase;
                  letter-spacing: 0;
                  background-color: transparent;
                  line-height: 16px;
                  transition: 0.3s ease;
                  text-align: right;
                  display: block;
                  margin-right: 0;
                  padding: 0px;
                  position: relative;

                  &::before {
                    content: "";
                    width: 127px;
                    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='127px' height='15px' viewBox='0 0 127 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ELine%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='recepten-overview' transform='translate(0.000000, -275.000000)' fill='%23A17D23' fill-rule='nonzero'%3E%3Cpath id='Line' d='M119.5,275.5 C123.365993,275.5 126.5,278.634007 126.5,282.5 C126.5,286.365993 123.365993,289.5 119.5,289.5 C115.973878,289.5 113.056698,286.892812 112.571033,283.50101 L0.5,283.5 L0.5,281.5 L112.57089,281.499992 C113.056123,278.107702 115.973531,275.5 119.5,275.5 Z M119.5,277.5 C116.738576,277.5 114.5,279.738576 114.5,282.5 C114.5,285.261424 116.738576,287.5 119.5,287.5 C122.261424,287.5 124.5,285.261424 124.5,282.5 C124.5,279.738576 122.261424,277.5 119.5,277.5 Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                    background-size: cover;
                    height: 15px;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                  }

                  &:hover {
                    color: $secondary-color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }



}
.section-winkel{
  article.basic_page{
    //margin-top: 85px;
  }
}

.section-contact{
  h1{
    padding-right: 50px;
  }
}

.path-cart{
  #header-wrapper{
    @include breakpoint(medium down){
      padding-top: 75px;
    }
  }
}
