.sliding-popup-bottom{
  @include grid-col-gutter;
  background: $white;
  width: 100%;
  border-top: 1px solid $light-gray;
  font-size: rem-calc(14);
  & > button{
    display: inline-block;
    background: $primary-color;
    color: $white;
    padding: 7px 10px;
    font-size: rem-calc(14);
    font-weight: $global-weight-bold;
    left: 0;
    transform: translate(0, -100%);
  }
}

.eu-cookie-compliance-banner{
  padding-top: 15px;
  padding-bottom: 15px;
  .popup-content{
    @include flex-grid-row;
  }
}

.eu-cookie-compliance-message{
  float: none;
  max-width: none;
  width: 100%;
  margin-bottom: 15px;
  & > p:last-of-type{
    margin-bottom: 0;
  }
  .find-more-button{
    display: inline-block;
    color: $primary-color;
    text-decoration: underline;
  }
}

.eu-cookie-compliance-categories{
  margin-bottom: 15px;
  border: 1px solid $light-gray;
  padding: 10px;
}

.eu-cookie-compliance-category{
  margin-bottom: 10px;
  input{
    margin-bottom: 0;
  }
  .eu-cookie-compliance-category-description{
    font-size: rem-calc(14);
    font-style: italic;
    padding-left: 25px;
  }
}

.eu-cookie-compliance-categories-buttons{
  padding-left: 25px;
}

.eu-cookie-compliance-save-preferences-button{
  color: $primary-color;
  text-decoration: underline;
}

.eu-cookie-compliance-buttons{
  float: none;
  max-width: none;
  width: 100%;
  button{
    border: none;
    background: $primary-color;
    color: $white;
    transition: all 0.2s;
    padding: 10px 25px;
    &:hover{
      background: darken($primary-color, 10%);
    }
  }
}

.eu-cookie-withdraw-button{
  display: inline-block;
}

button.eu-cookie-withdraw-tab{
  opacity: 0!important;
}
