.field-node--field-carousel{
  max-width:1500px;
  margin:0 auto 55px;
  .swiper-wrapper{
    align-items: center;
  }
  .carousel-buttons{
    display: flex;
    justify-content: center;
    margin-top:15px;
  }
  .carousel-button-next,
  .carousel-button-prev{
    display: flex;
    align-items: center;
    justify-content: center;
    background: $primary-color;
    width:26px;
    height:26px;
    border-radius: 26px;
    cursor: pointer;
  }
  .carousel-button-prev{
    margin-right:5px;
  }
}

.home_page.full{
  @include breakpoint(mediumplus){
    margin-top: -90px;
  }
  @include breakpoint(large){
    position: relative;
  }
  .paragraph--type--slide{
    h2{
      font-weight: 800;
      font-size: 31px;
      color: #000000;
    }
    p{
      font-weight: 400;
      font-size: 16px;
      color: #000000;
      letter-spacing: 0.2px;
      text-align: left;
      line-height: 24px;
    }
    a{
      font-weight: 600;
      font-size: 16px;
      color: #000000;
      letter-spacing: 0.2px;
      text-align: left;
      line-height: 24px;
  }



  }
}
