.field-name-field-paragraphs {
  &>.field-items {
    &>.field-item {
      margin-bottom: 30px;
      @include breakpoint(medium){
        margin-bottom: 50px;
      }
      @include breakpoint(large){
        margin-bottom: 80px;
      }
      @include breakpoint(xxlarge){
        margin-bottom: 100px;
      }
    }
  }
}

.field-name-field-text-blocks {
  @include grid-row();
  &>.field-items {
    @include breakpoint(medium){
      @include flex-grid-row('nest', $grid-row-width, null, true, true, $grid-column-gutter);
      flex-wrap: nowrap;
      justify-content: center;
    }
    &>.field-item {
      @include grid-col-gutter();
      max-width: 768px;
    }
  }
}

.paragraph--type--text-image {
  .paragraph-content {
    @include breakpoint(large){
      @include flex-grid-row();
      flex-wrap: nowrap;
      position: relative;
      min-height: 460px;
    }
    &>div {
      @include breakpoint(large){
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    &>figure {
      display: flex;
      flex-direction: row;
      justify-content: center;
      @include breakpoint(large){
        position: absolute;
        right: 0;
      }
    }
    .field-name-field-text{
      .field-item{
        @include grid-col-gutter;
        padding-right: 60px;
        padding-left: 20px;

        @include breakpoint(large){
          max-width: 550px;
          margin: 0 auto;
          padding-left: 24px;

        }
        @include breakpoint(large){
          padding-right: 140px;
        }
        h2{
          font-weight: 800;
          font-size: 31px;
          color: $black;
          text-align: left;
          margin-bottom: 15px;
        }
        p{
          font-weight: 400;
          font-size: 16px;
          color: $black;
          letter-spacing: 0.2px;
          text-align: left;
          line-height: 24px;
          margin-bottom: 30px;
          &:last-of-type{
            margin-bottom: 0px;
          }
        }
      }
    }
  }

  &.option-image-left {
    @include breakpoint(large){
      .paragraph-content {
        flex-direction: row-reverse;

        & > figure {
          right: auto;
          left: 0;
        }
        .field-name-field-text {
          .field-item {
            @include breakpoint(large) {
              padding: 50px 60px 50px 170px !important
            }
          }
        }
      }
    }
  }

  &.background-gray {
    .paragraph-content {
      .field-name-field-text {
        .field-item {
          background-color: #EDEEEF;
          padding: 50px 60px;

          @include breakpoint(large) {
            padding: 50px 140px 50px 105px;
          }
        }
      }
    }
  }
}

.field-block-content--field-paragraphs .paragraph--type--text-image .paragraph-content {
  & > figure {
    position: static;
  }
  & > div {
    justify-content: flex-start;
  }
}

.paragraph--type--carousel-category-slide{
  a{
    display: block;
    &:hover{
      .image{
        .field-item{
          &:before{
            opacity:1;
          }
        }
      }
    }
    .image{
      .field-item{
        position: relative;
        &:before{
          content: '';
          display: block;
          position: absolute;
          width:100%;
          bottom:0;
          left:0;
          height:20%;
          opacity:0;
          transition: all 0.2s;
          background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 31%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 31%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 31%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
        }
      }
    }
  }
  h2{
    color: #000;
    text-align: center;
    text-transform: uppercase;
    font-size:20px;
    font-weight:500;
    letter-spacing: 4px;
    margin-top:15px;
  }
}

.paragraph--type--carousel-text-slide{
  padding:20px;
  h2{
    font-weight:700;
    font-size:1.7rem;
    line-height:1.7rem;
    position: relative;
    &:after{
      content: '';
      display: block;
      width:35px;
      height:2px;
      background: $primary-color;
      margin-top:5px;
    }
  }
  p{
    font-size: 18px;
  }
  @include breakpoint(medium){
    padding:20px 50px;
    h2{
      font-size:2.3rem;
      line-height: 2.3rem;
    }
  }
  @include breakpoint(large){
    h2{
      font-size:2.7rem;
      line-height: 2.7rem;
    }
  }
}

.paragraph--type--promotion-banner{
  @include grid-row();
  @include grid-col-gutter();
  width:100%;
  .field-name-field-link{
    margin-top:35px;
    a{
      @include button;
    }
  }
  .text-wrapper{
    margin-bottom:25px;
  }
  @media screen and (min-width: 800px){
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    .text-wrapper{
      margin-bottom:0;
    }
    .image-wrapper{
      margin-right:65px;
    }
  }
  @include breakpoint(large){
    .text-wrapper{
      padding-right:120px;
    }
  }
}

.paragraph--type--image {
  @include flex-grid-row();
  justify-content: center;

  & > a{
    display: block;
    position: relative;
    &:before{
      position: absolute;
      left: 0;
      top: 0;
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0;
      transition: all 0.2s;
    }
    &:hover{
      &:before{
        opacity:.2;
      }
    }
  }
  .field-name-field-image {
    @include grid-col-gutter();
  }
}

.paragraph--type--video {
  @include grid-row();
}

.paragraph--type--view{

  ul.pager{
    @include breakpoint(large){
      margin-top: -37px;
      z-index: 9;
      position: relative;
      margin-bottom: 66px;
    }
    li{
      list-style-type: none;
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      a{
        background-color: transparent;
        font-weight: bold;
        font-size: 17px;
        color: #000000;
        letter-spacing: 0.46px;
        text-transform: lowercase;
        text-decoration: underline;
        text-align: center;
      }
    }
  }
  .views-infinite-scroll-content-wrapper{

    .item-list{
      ul{
        margin: 0!important;
        padding: 0;
        list-style-type: none;
        position: relative;
        @include breakpoint(medium){
          @include flex-grid-row();
          flex-wrap: wrap;
          justify-content: space-between;
        }
        @include breakpoint(xlarge){
          padding: 0px!important;
        }
        li{
          padding: 0;
          margin: 0 auto!important;
          max-width: 330px;

          @include breakpoint(large){
            margin-left: 0!important;
            margin-right: 0px!important;
            margin-bottom: 115px!important;
          }
          @include breakpoint(xlarge){
           // margin-right: 31px!important;
            &:nth-of-type(4n){
             // margin-right: 0px!important;

              &::after{
                content: "";
                background-color: #E1E1E1;
                width: 100%;
                height: 1px;
                position: absolute;
                bottom: 65px;
                left: 0;
                max-width: 1055px;
              }
            }
            &:first-of-type{
              &::after{
                content: "";
                background-color: #E1E1E1;
                width: 100%;
                height: 1px;
                position: absolute;
                top: 358px;
                left: 0;
                max-width: 1055px;
              }
            }
          }
          .recipe-teaser{
            h1{
              font-weight: 600;
              font-size: 18px;
              color: $black !important;
              letter-spacing: 0;
              line-height: 20px;
              margin-bottom: 20px;
              margin-top: 20px;
              min-height: 40px;
              a {
                font-weight: 600;
                font-size: 18px;
                color: $black !important;
                letter-spacing: 0;
                line-height: 20px;
              }
            }
            header{
a{
  img{
    width: 330px;
    height: 195px;
    object-fit: cover;
  }
}
            }
            main{
              &>a{
                font-weight: 600;
                font-size: 15px;
                color: $primary-color;
                text-transform: lowercase;
                letter-spacing: 0;
                background-color:transparent ;
                line-height: 16px;
                transition: 0.3s ease;
                text-align: right;
                display: block;
                margin-right: 0;
                padding: 0px;
                position: relative;
                &::before{
                  content: "";
                  width: 127px;
                  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='127px' height='15px' viewBox='0 0 127 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ELine%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='recepten-overview' transform='translate(0.000000, -275.000000)' fill='%23A17D23' fill-rule='nonzero'%3E%3Cpath id='Line' d='M119.5,275.5 C123.365993,275.5 126.5,278.634007 126.5,282.5 C126.5,286.365993 123.365993,289.5 119.5,289.5 C115.973878,289.5 113.056698,286.892812 112.571033,283.50101 L0.5,283.5 L0.5,281.5 L112.57089,281.499992 C113.056123,278.107702 115.973531,275.5 119.5,275.5 Z M119.5,277.5 C116.738576,277.5 114.5,279.738576 114.5,282.5 C114.5,285.261424 116.738576,287.5 119.5,287.5 C122.261424,287.5 124.5,285.261424 124.5,282.5 C124.5,279.738576 122.261424,277.5 119.5,277.5 Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                  background-size: cover;
                  height: 15px;
                  display: block;
                  position: absolute;
                  top: 0;
                  left: 0;
                }

              }
            }
          }
        }
        li:hover{
          main{
            &>a{
              color: $secondary-color;
            }
          }
        }
      }
    }
  }
}

.paragraph--type--categories-banner{
  background-color: $primary-color;
  max-width: $global-width;
  margin: 0 auto;
  padding: 45px 60px;

  @include breakpoint(mediumplus){
    @include flex-grid-row();
    flex-wrap: nowrap;
    padding-top: 110px;
    padding-bottom: 90px;
    justify-content: space-between;
    padding-left: 105px;
    padding-right: 207px;
  }
  @include breakpoint(large){
    position: relative;
    &::after{
      content: "";
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='148px' height='329px' viewBox='0 0 148 329' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup 2%3C/title%3E%3Cg id='Home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group-2' transform='translate(3.000000, 3.000000)' stroke-width='5'%3E%3Ccircle id='Oval' stroke='%23FFFFFF' cx='50' cy='42' r='29'%3E%3C/circle%3E%3Ccircle id='Oval-Copy-2' stroke='%23FFFFFF' cx='8' cy='8' r='8'%3E%3C/circle%3E%3Ccircle id='Oval-Copy-5' stroke='%23FFFFFF' cx='80' cy='212' r='8'%3E%3C/circle%3E%3Ccircle id='Oval-Copy-3' stroke='%23A17D23' cx='32' cy='315' r='8'%3E%3C/circle%3E%3Ccircle id='Oval-Copy' stroke='%23FFFFFF' cx='82' cy='271' r='29'%3E%3C/circle%3E%3Ccircle id='Oval-Copy-4' stroke='%23FFFFFF' cx='126.5' cy='194.5' r='15.5'%3E%3C/circle%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-size: cover;
      width: 148px;
      height: 329px;
      position: absolute;
      background-repeat: no-repeat;
      left: 0;
      right: 100px;
      bottom: -40px;
      margin: auto;
    }
  }
  .paragraph-title-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;

h2{
  font-weight: 800;
  font-size: 31px;
  color: #FFFFFF;
  text-align: left;
  line-height: 36px;
}

  }
  .views-element-container{
    ul{
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      li{
        margin-bottom: 14px;
        &:last-of-type{
          margin-bottom: 0px;
        }
        a{
          font-weight: 600;
          font-size: 16px;
          color: #FFFFFF;
          letter-spacing: 0;
          line-height: 16px;
        }
        display: inline-flex;
        &::before{
          content: "";
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='38px' height='14px' viewBox='0 0 38 14' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ELine%3C/title%3E%3Cg id='Home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='0.0-Home' transform='translate(-842.000000, -1492.000000)'%3E%3Crect id='Rectangle' fill='%23A17D23' x='192' y='1380' width='1049' height='322'%3E%3C/rect%3E%3Cpath id='Line' d='M873,1492 C876.865993,1492 880,1495.13401 880,1499 C880,1502.86599 876.865993,1506 873,1506 C869.473878,1506 866.556698,1503.39281 866.071033,1500.00101 L842,1500 L842,1498 L866.07089,1497.99999 C866.556123,1494.6077 869.473531,1492 873,1492 Z M873,1494 C870.238576,1494 868,1496.23858 868,1499 C868,1501.76142 870.238576,1504 873,1504 C875.761424,1504 878,1501.76142 878,1499 C878,1496.23858 875.761424,1494 873,1494 Z' fill='%23FFFFFF' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          width: 38px;
          height: 14Px;
          display: inline-flex;
          margin-top: 6Px;
          margin-right: 30px;
        }
      }
    }
  }
}

.paragraph--type--products-selection,
.paragraph--type--products-random{
  @include breakpoint(large){
    @include flex-grid-row();
    flex-wrap: nowrap;
    justify-content: space-between;

  }
  h2{
    font-weight: 800;
    font-size: 25px;
    color: #4D4D4D;
    text-align: left;
    &::before{
      content: "";
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='34px' height='31px' viewBox='0 0 34 31' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup 4%3C/title%3E%3Cdefs%3E%3Cfilter id='filter-1'%3E%3CfeColorMatrix in='SourceGraphic' type='matrix' values='0 0 0 0 0.301961 0 0 0 0 0.301961 0 0 0 0 0.301961 0 0 0 1.000000 0'%3E%3C/feColorMatrix%3E%3C/filter%3E%3Cpolygon id='path-2' points='0 0 33.7733333 0 33.7733333 30.3397 0 30.3397'%3E%3C/polygon%3E%3C/defs%3E%3Cg id='Home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='0.0-Home' transform='translate(-233.000000, -1805.000000)'%3E%3Crect id='Rectangle' fill='%23EDEEEF' x='193' y='1765' width='296' height='386'%3E%3C/rect%3E%3Cg filter='url(%23filter-1)' id='Group-4'%3E%3Cg transform='translate(233.000000, 1805.000000)' id='Group-3'%3E%3Cmask id='mask-3' fill='white'%3E%3Cuse xlink:href='%23path-2'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-2'%3E%3C/g%3E%3Cpath d='M31.9597733,14.1508111 L1.81310667,14.1508111 L1.81310667,10.8211815 L32.07424,10.8211815 L32.07424,14.1508111 L31.9597733,14.1508111 Z M27.1997733,27.9285889 L27.1997733,28.0434037 C27.1997733,28.2730333 26.97424,28.502663 26.74644,28.502663 L6.79977333,28.502663 C6.57310667,28.502663 6.34644,28.2730333 6.34644,27.9285889 L4.75977333,15.8730333 L28.78644,15.8730333 L27.1997733,27.9285889 Z M32.86644,9.09895926 L0.90644,9.09895926 C0.453106667,9.09895926 -0.000226666667,9.4434037 -0.000226666667,10.0174778 L-0.000226666667,15.0693296 C-0.000226666667,15.5285889 0.339773333,15.9878481 0.90644,15.9878481 L3.05977333,15.9878481 L4.64644,28.1582185 C4.64644,29.3063667 5.55310667,30.3397 6.79977333,30.3397 L26.74644,30.3397 C27.8797733,30.3397 28.78644,29.4211815 28.8997733,28.2730333 L30.48644,15.9878481 L30.48644,15.8730333 L32.86644,15.8730333 C33.3197733,15.8730333 33.77424,15.5285889 33.77424,14.9545148 L33.77424,9.90266296 C33.6597733,9.4434037 33.3197733,9.09895926 32.86644,9.09895926 L32.86644,9.09895926 Z M10.08644,8.18044074 C10.08644,8.18044074 12.12644,6.11377407 15.9797733,2.21007037 C16.54644,1.6359963 16.9997733,1.40636667 17.90644,2.21007037 C18.6997733,3.01377407 24.02644,8.06562593 24.1409067,8.18044074 C24.2531067,8.29525556 24.4797733,8.41007037 24.7075733,8.41007037 C24.9331067,8.41007037 25.1597733,8.29525556 25.27424,8.18044074 C25.6131067,7.8359963 25.6131067,7.26192222 25.27424,6.91747778 C25.04644,6.68784815 19.8331067,1.75081111 19.0409067,0.947107407 C17.6797733,-0.315855556 16.0931067,-0.315855556 14.84644,0.947107407 C10.8797733,4.85081111 8.83977333,6.91747778 8.83977333,6.91747778 C8.49977333,7.26192222 8.49977333,7.8359963 8.83977333,8.18044074 C9.17977333,8.52488519 9.74644,8.52488519 10.08644,8.18044074 L10.08644,8.18044074 Z' id='Fill-1' fill='%23262324' mask='url(%23mask-3)'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-size: cover;
      width: 34px;
      height: 31px;
      background-repeat: no-repeat;
      display: block;
      margin-bottom: 10px;
    }
  }
  .field-name-field-link{
    a{
      font-weight: 600;
      font-size: 16px;
      color: #4D4D4D;
      letter-spacing: 0;
      line-height: 16px;
      text-transform: lowercase;
      text-decoration: underline;
    }
    position: relative;
    &::after{
      content: "";
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='173px' height='15px' viewBox='0 0 173 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ELine%3C/title%3E%3Cg id='Home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='0.0-Home' transform='translate(-315.000000, -2173.000000)' fill='%234D4D4D' fill-rule='nonzero'%3E%3Cpath id='Line' d='M322.010606,2173.87501 C325.537071,2173.88035 328.450524,2176.49247 328.930617,2179.88549 L487.001515,2180.125 L488.001514,2180.12652 L487.998484,2182.12651 L486.998485,2182.125 L328.927587,2181.88551 C328.437214,2185.27706 325.515859,2187.88034 321.989394,2187.87499 C318.123405,2187.86913 314.99415,2184.73038 315.000008,2180.86439 C315.005866,2176.99841 318.144617,2173.86915 322.010606,2173.87501 Z M322.007576,2175.87501 C319.246155,2175.87082 317.00419,2178.106 317.000006,2180.86742 C316.995822,2183.62884 319.231004,2185.87081 321.992424,2185.87499 C324.743798,2185.87916 326.97949,2183.66023 326.99986,2180.91269 L326.999,2180.857 L326.995703,2180.66568 C326.886173,2178.00471 324.696327,2175.87908 322.007576,2175.87501 Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      width: 173px;
      height: 15px;
      background-size: cover;
      background-repeat: no-repeat;
      display: block;
      position: absolute;
      right: -40px;
      top: 6px;
    }
  }
  .paragraph-content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #EDEEEF;
    min-height: 385px;
    max-width: 300px;
    margin: 0 auto;
    padding: 40px;
    @include breakpoint(large){
      margin-left: 0;
      margin-right: auto;
    }
  }

  .views-element-container{

  }
}

.paragraph--type--text-block{
  @include grid-column-gutter();
  @include breakpoint(large){
    padding: 0px;
  }
  .field-name-field-text{
    h2{
      font-weight: 800;
      font-size: 25px;
      color: #000000;
      letter-spacing: 0;
      margin-bottom: 20px;
    }
    p{
      font-weight: 400;
      color: #4D4D4D;
      letter-spacing: 0.1px;
      line-height: 20px;
    }
  }
}

.paragraph--type--folder{
  .paragraph-content{
    @include breakpoint(large){
      @include flex-grid-row();
      flex-direction: row;
      flex-wrap: nowrap;
    }
    position: relative;
    &>div{
      border: solid 6px #C5C5C5;
      padding: 40px 30px;
      max-width: 485px;
      margin: 0 auto;
      margin-bottom: -30Px;
      z-index: 5;
      position: relative;
      @include breakpoint(large){
        padding: 65px 80px;
        //position: absolute;
        //right: 0;
        margin-right: 0px;
        margin-bottom: 0px;
       margin-top: 25px;
      }
      h2{
        font-weight: 800;
        font-size: 40px;
        color: #A17D23;
        text-align: left;
        margin-bottom: 20px;

      }
      p{
        font-family: TabletGothic;
        font-size: 25px;
        color: #C5C5C5;
        text-align: left;
        line-height: 30px;
      }
      a.file-download{
        opacity: 0.5;
        font-family: TabletGothic-Bold;
        font-size: 16px;
        text-decoration: underline;
        color: #4D4D4D;
        letter-spacing: 0;
        line-height: 21px;
        background-color: transparent;
        text-transform: lowercase;
        position: relative;
        margin-top: 50px;
        padding-bottom: 0px;
        padding-top: 0px;
        margin-bottom: 0px;
        &::after{
          content: "";
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='173px' height='15px' viewBox='0 0 173 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ELine%3C/title%3E%3Cg id='Home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='0.0-Home' transform='translate(-315.000000, -2173.000000)' fill='%234D4D4D' fill-rule='nonzero'%3E%3Cpath id='Line' d='M322.010606,2173.87501 C325.537071,2173.88035 328.450524,2176.49247 328.930617,2179.88549 L487.001515,2180.125 L488.001514,2180.12652 L487.998484,2182.12651 L486.998485,2182.125 L328.927587,2181.88551 C328.437214,2185.27706 325.515859,2187.88034 321.989394,2187.87499 C318.123405,2187.86913 314.99415,2184.73038 315.000008,2180.86439 C315.005866,2176.99841 318.144617,2173.86915 322.010606,2173.87501 Z M322.007576,2175.87501 C319.246155,2175.87082 317.00419,2178.106 317.000006,2180.86742 C316.995822,2183.62884 319.231004,2185.87081 321.992424,2185.87499 C324.743798,2185.87916 326.97949,2183.66023 326.99986,2180.91269 L326.999,2180.857 L326.995703,2180.66568 C326.886173,2178.00471 324.696327,2175.87908 322.007576,2175.87501 Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          width: 101px;
          height: 15px;
          background-size: cover;
          background-repeat: no-repeat;
          display: block;
          position: absolute;
          transform: rotate(180deg);
          top: 2px;
          left: -80Px;
        }
      }
    }
    &>figure{
      display: flex;
      flex-direction: row;
      justify-content: center;
      min-width: 620px;
      img{
        width: 100%;
        margin-top: 20Px;
      }
      @include breakpoint(large){
        position: absolute;
        left: 0;
        margin-bottom: 0px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}

.paragraph--type--map-form{
  padding-left: 20px;
  padding-right: 20px;
  @include breakpoint(large){
    @include grid-column-gutter();
  }
  .field-name-field-form{
    form{
     // max-width: 450px;
      @include breakpoint(xlarge){
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .form-item-name,.form-item-email,.form-item-phone,.form-item-message{
          @include flex-grid-column(1 of 2);
        }
        .form-item-name,.form-item-phone{
          padding-left: 0px!important;
        }
        .form-item-consent{
          margin-right: auto;
        }
      }
      .webform-elements{
        @include breakpoint(large){
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin-left: -15px;
        }
        .form-item{
          @include flex-grid-column(1 of 2);
        }
        .form-item-consent{
          @include flex-grid-column(1 of 1);
        }
      }
      .form-item{
        label{
          font-weight: 600;
          font-size: 18px;
          color: #000000;
          letter-spacing: 0;
        }
        input,textarea{
          border: solid 2px $secondary-color;
        }
      }
      .g-recaptcha{
        margin-left: 15px;
      }
      #edit-actions{
        margin-left: 15px;
        @include breakpoint(large){
          margin-right: 15px;
        }
        button{
          background-color: $secondary-color;
          font-weight: 600;
          font-size: 15px;
          text-transform: lowercase;
          color: #FFFFFF;
          letter-spacing: 0;
          line-height: 16px;
        }
      }
    }
  }
}

.paragraph--type--gallery{
  .paragraph-inner {
    @include flex-grid-row;
    & > a {
      @include flex-grid-column(1 of 2);
      margin-bottom: 20px;
      overflow: hidden;

      figure {
        overflow: hidden;
      }

      img {
        transition: all 0.3s;
        transform: scale(1);
      }

      &:hover {
        img {
          transform: scale(1.01);
        }
      }

      @include breakpoint(mediumplus) {
        @include flex-grid-column(1 of 3);
        margin-bottom: 30px;
      }
    }
  }
}

.section-recepten{
  .field-name-field-paragraphs{
    &>.field-items{
      &>.field-item{
        margin-bottom: 0px!important;
        .field-name-field-text{
          .field-item{
            @include grid-column-gutter();
            @include breakpoint(xlarge){
              padding-left: 8px;
              padding-right: 8px;
            }
          }
        }
      }
    }
  }
}

.block-commerce-cart{
  margin-right: 20px;
  @include breakpoint(mediumplus){
    margin-right: 0px;
  }
}
