.slides-wrapper {
  max-width: $max-container;
  margin: 0 auto;
  position: relative;
  @include breakpoint(large){
    margin-bottom: 100px;
  }
  .swiper-slide{
    background: #fff;
  }
  figure{
    @include breakpoint(mediumplus){

    }
  }
  figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 45px 60px;
    background-color: #EDEEEF;
    @include breakpoint(mediumplus){
      padding: 45px 60px;
      width: 100%;
      max-width: 315px;
      max-height: 390px;
     // min-height: 390px;
      //padding-top: 0px;
      //padding-bottom: 0px;
    }
    @include breakpoint(large){

      position: absolute;
      bottom: -45px; right: 0;
      z-index: 3;
      color: $white;
      max-width: 395px;

    }
  }
}
.path-frontpage{
  .swiper-container{
    overflow: visible!important;
  }
}


.swiper-pagination {
  position: static;
  padding: 15px 0;
  @include breakpoint(medium){
    padding: 30px 0;
  }
  @include breakpoint(large){
    position: absolute;
    bottom: -65px;
    right: 540px;
  }

  &.swiper-pagination-bullets {
    .swiper-pagination-bullet {
      width: 11px; height: 11px;
      background-color: transparent;
      border: 2px solid $primary-color;
      opacity: 1;
      margin: auto 4px;
      &.swiper-pagination-bullet-active {
        border-color: transparent;
        background-color: $primary-color;
      }
    }
  }

}

.field-name-field-slides {
  @include breakpoint(large) {
    position: relative;
    &::before {
      content: '';
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='392px' height='111px' viewBox='0 0 392 111' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Egolf%3C/title%3E%3Cg id='Home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='golf' fill='%23FBAD18' fill-rule='nonzero'%3E%3Cpath d='M0,82.9 C0,82.9 24.9,49.7 76.6,46.2 C128.3,42.7 179,91.1 216.7,79.4 C254.4,67.7 273,37.8 304.7,22.7 C336.4,7.7 390.5,8.6 391.5,6.7 C392.5,4.8 385.4,-2 357.8,2.4 C330.2,6.8 280.1,22.4 261.7,44.6 C243.3,66.8 220.9,87.5 167.8,66.6 C114.6,45.8 63.5,17.7 0,82.9 Z' id='Path'%3E%3C/path%3E%3Cpath d='M168,83.6 C165.2,85.9 176.4,98 209.3,96.9 C242.2,95.8 265.9,67.5 279.6,56.1 C293.4,44.7 322.4,31 337.7,26.7 C353.1,22.5 367.8,18 342.8,19 C317.7,20 287.2,41.9 275.7,52 C264.2,62.1 243.3,83.7 222.8,88 C202.3,92.3 198.4,90.4 189.6,88.9 C180.8,87.4 170.2,81.8 168,83.6 Z' id='Path'%3E%3C/path%3E%3Cpath d='M109.999594,78.9 C109.9,74 128.3,78.2 147.2,87 C166.1,95.8 183.5,108.7 209.3,105.1 C235.1,101.6 252.8,85.4 255.2,85.4 C257.6,85.4 255.7,93.3 246.3,98.6 C236.9,103.9 217.7,116 186.5,108.3 C155.4,100.6 146.2,89.3 131.2,86.8 C116.2,84.2 109.999594,81.7 109.999594,78.9 L109.999594,78.9 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-size: cover;
      width: 392px;
      height: 111Px;
      z-index: 320;
      position: absolute;
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
      display: block;
    }
  }
  figure{
    position: relative;
    @include breakpoint(mediumplus){

      picture{
        @include flex-grid-column(10 of 12);
        padding: 0px!important;

      }
    }
    @include breakpoint(large){
      @include flex-grid-row();
      flex-wrap: nowrap;
      position: relative;
      max-width: $max-container;
      justify-content: flex-end;
    }
    img{
      width: 100%;
     // max-width: 1055px;
    }
  }

}

.product-slider{
  div.swiper-button-next,div.swiper-button-prev{
    display: none;
  }
}

.product-detail{
  .related-products-slider{
    .swiper-slide{
      max-height: 406px;
      margin-top: auto!important;
      margin-bottom: 0px!important;
    }
  }
}
