.block-views-block-taxonomy-terms-block-1{
  margin:0 auto;
  max-width:1600px;
  .breadcrumbs{
    a{
      
    }
  }
  .category-header-inner{
    @include grid-row();
    @include grid-col-gutter();
    height:100%;
  }
  .views-row{
    position: relative;
    height:240px;
    .category-header-content{
      position: absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
    }
    .category-header{
      background: #fff;
      padding-left:80px;
      max-width:480px;
      width:100%;
      height:100%;
      h1{
        text-transform: lowercase;
        line-height:1;
        &:after{
          content: '';
          display: block;
          height:3px;
          width:50px;
          background: $primary-color;
        }
      }
    }
  }
}