.user-actions{
  margin-bottom:15px;
  .button{
    color: $secondary-color;
    border:2px solid $secondary-color;
    background: #fff;
    font-weight:$global-weight-bold;
    margin-bottom:0;
    padding:10px 20px;
    &:hover{
      color: #fff;
      background: $secondary-color;
    }
  }
}
.view-commerce-user-orders{
  margin-bottom:75px;
  .item-list{
    & > ul{
      margin:0;
      & > li{
        list-style: none;
        margin-bottom:25px;
        & > div{
          border:1px solid $light-gray;
          padding:20px;
        }
        .order-number{
          font-weight: $global-weight-bold;
        }
        .order-more{
          margin-top:10px;
          .button{
            font-weight:$global-weight-bold;
            margin-bottom:0;
            padding:10px 20px;
          }
        }
      }
      @include breakpoint(large){
        @include grid-row-nest();
        display: flex;
        flex-wrap: wrap;
        & > li{
          @include grid-column-gutter();
          width:50%;
        }
      }
    }
  }
}
.user-order-detail{
  margin-bottom:125px;
  .go-back{
    font-weight:$global-weight-bold;
    color: $secondary-color;
    margin-bottom:20px;
  }
  h2.order-title{
    margin-bottom:0;
    font-weight:$global-weight-bold;
    font-size:1.4rem;
    @include breakpoint(medium){
      font-size:1.8rem;
    }
  }
  .order-info{
    margin-bottom:25px;
  }
  .view-commerce-order-item-table{
    margin-bottom:55px;
    max-width:850px;
    table{
      border:none;
      border-collapse: collapse;
      border-spacing:0;
      tbody{
        border:none;
      }
    }
    tr{
      background: none!important;
      td{
        border-bottom:1px solid $light-gray;
      }
    }
    .views-field-rendered-entity{
      padding-left:0;
    }
    .views-field-total-price__number{
      padding-right:0;
      text-align: right;
    }
    .product-cart-teaser{
      .image{
        display: initial;
      }
    }
    .order-total-line{
      padding-right:0;
    }
  }
  .customer-information{
    .field__label{
      font-size:1.2rem;
      font-weight:$global-weight-bold;
    }
    .field-commerce-shipment--shipping-method{
      display: flex;
      justify-content: flex-start;
      .field-label{
        &:after{
          content: ': ';
          display: inline-block;
          margin-right:5px;
        }
      }
    }
    @media screen and (min-width: 475px){
      display: flex;
      justify-content: flex-start;
      .customer-billing{
        margin-right:120px;
      }
    }
  }
}