<div class="add-to-cart-disabled">
  {{ 'This product can not be picked up at the selected time. Please select a time after @time_order_allowed to order this item'|t({ '@time_order_allowed': time_order_allowed|date("Y/m/d H:i") }) }}
</div>