<div class="export_pieces_print">
  <!-- fake action links here, just for styling -->
  <ul class="action-links">
    <li>
      <a href="#" class="button button-action button--primary button--small" data-js-print>{{ 'Print' }}</a></li>
  </ul>
  <h1>
    {% trans %}
      Export pieces between {{ from }} and {{ to }}
    {% endtrans %}
  </h1>
  <table>
    <thead>
      <tr>
      {% for column in columns %}
        <th>{{ column }}</th>
      {% endfor %}
      <tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          {% for field in item %}
          <td>{{ field }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>