{#
/**
 * @file
 * Zurb Foundations's theme implementation to display a single page.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - linked_logo: The logo image, linked to <front>.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - linked_site_name: The name of the site that also links to <front>.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 * - hide_site_name: A flag indicating if the site name has been toggled off on
 *   the theme settings page. If hidden, the "visually-hidden" class is added
 *   to make the site name visually hidden, but still accessible.
 * - hide_site_slogan: A flag indicating if the site slogan has been toggled off
 *   on the theme settings page. If hidden, the "visually-hidden" class is
 *   added to make the site slogan visually hidden, but still accessible.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.meta_header
 * - page.header
 * - page.help
 * - page.highlighted
 * - page.content
 * - page.sidebar_first
 * - page.sidebar_second
 * - page.footer_first
 * - page.footer_middle
 * - page.footer_last
 *
 * @see template_preprocess_page()
 * @see bartik_preprocess_page()
 * @see html.html.twig
 */
#}

<div class="off-canvas-wrapper">
  <div class="inner-wrap off-canvas-wrapper-inner" id="inner-wrap" data-off-canvas-wrapper>
    <aside id="left-off-canvas-menu" class="off-canvas left-off-canvas-menu position-left" role="complementary" data-off-canvas>
      {{ page.left_off_canvas }}
    </aside>

    <aside id="right-off-canvas-menu" class="off-canvas right-off-canvas-menu position-right" role="complementary" data-off-canvas>
      {{ page.right_off_canvas }}
    </aside>

    <div class="off-canvas-content" data-off-canvas-content>
      {% if page.meta_header %}
        {% if meta_header_grid %}
          <div class="row">
          <div class="large-12 columns">
        {% endif %}
        {{ page.meta_header }}
        {% if meta_header_grid %}
          </div>
          </div>
        {% endif %}
      {% endif %}

      <div id="header-wrapper">
        <header id="header" class="site-header" role="banner" aria-label="{{ 'Site header'|t }}">
          {% if page.header %}
            {{ page.header }}
          {% endif %}
        </header>
      </div>

      {% if messages and not zurb_foundation_messages_modal %}
        <div class="l-messages row">
          <div class="large-12 columns">
            {{ messages }}
          </div>
        </div>
      {% endif %}

      {% if page.help %}
        <div class="l-help row">
          <div class="large-12 columns">
            {{ page.help }}
          </div>
        </div>
      {% endif %}

      <div id="main-wrapper">
        <main id="main" role="main">
          {% if page.page_header %}
            {{ page.page_header }}
          {% endif %}
          {% if page.highlighted %}
            {% spaceless %}
              {{ page.highlighted }}
            {% endspaceless %}
          {% endif %}
          {% if page.filter_region_left %}
            <button class="open-filters">
              <svg width="23" height="21" viewBox="0 0 248 229" xmlns="http://www.w3.org/2000/svg"><path d="M246.744 4.984A7.5 7.5 0 0 0 239.96.683H7.5a7.501 7.501 0 0 0-5.787 12.271l89.361 108.384v99.94a7.5 7.5 0 0 0 10.83 6.72l50.208-24.885a7.499 7.499 0 0 0 4.169-6.71l.098-75.062 89.366-108.388a7.497 7.497 0 0 0 .999-7.969zM143.097 113.873a7.498 7.498 0 0 0-1.713 4.761l-.096 73.103-35.213 17.453v-90.546a7.496 7.496 0 0 0-1.713-4.771L23.404 15.682h200.651l-80.958 98.191z" fill="#000" fill-rule="nonzero"/></svg>
              <span class="button-text">Filters</span>
            </button>
            <div id="filter-region-left" class="filter-region-left">
              <button class="close-filters">
                <svg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><g transform="translate(2 2)" stroke="#000" stroke-width="3" fill="none" fill-rule="evenodd"><path d="M10.308 11.292l15.384 13.416M25.692 11.292L10.308 24.708" stroke-linecap="square"/><circle cx="18" cy="18" r="18"/></g></svg>
              </button>
              {{ page.filter_region_left }}
            </div>
          {% endif %}
          <a id="main-content"></a>
          {% if breadcrumb %} {{ breadcrumb }} {% endif %}
          <section>
            {{ page.content }}
          </section>
        </main>
      </div>
      <div id="footer-wrapper">
        {% if page.footer_first or page.footer_middle %}
          <footer id="footer">
            {% if page.footer_first %}
              {{ page.footer_first }}
            {% endif %}
            {% if page.footer_middle %}
              {{ page.footer_middle }}
            {% endif %}
          </footer>
        {% endif %}
        {% if page.meta_footer %}
          <div class="meta-footer">
            {{  page.meta_footer }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
