{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if content %}
  <div{{ attributes.addClass('region', 'region-'~region|replace({'_':'-'})) }}>
    {{ content }}
    <button class="hamburger hamburger--collapse" type="button" data-toggle="right-off-canvas-menu">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
      <span class="menu-title">Menu</span>
    </button>
  </div>
{% endif %}
