[data-deliver-order] input,
[data-deliver-order] input:disabled,
[data-deliver-order] input[readonly],
[data-deliver-order] textarea:disabled,
[data-deliver-order] textarea[readonly] {
  margin: 0;
  cursor: pointer;
  padding: 6px 14px;
}

[data-deliver-order] .data-deliver-order-order-deliver-order-date > label {
  text-transform: none;
  margin-bottom: 0.5rem;
}

[data-deliver-order] .data-deliver-order-order-deliver-order-between-end label,
[data-deliver-order] .data-deliver-order-order-deliver-order-between-start label {
  display: none;
}

[data-deliver-order] .picker__button--clear {
  display: none;
}

[data-deliver-order] > legend {
  display: block;
}

.mvi-pickup-form .form-submit {
  margin-top: 20px;
}


@media screen and (min-width: 930px) {
  [data-deliver-order] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  [data-deliver-order] .data-deliver-order-order-deliver-order-date {
    width: auto;
    margin-right: 35px;
  }
}
