{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
<article{{ attributes.addClass('product-menu-full') }}>
  <main>
    <h1>{{ product.title.0 }}</h1>
    {{- product|without('variation_attributes', 'variation_price') -}}
    {{ drupal_form('Drupal\\mvi_menu\\Form\\AddMenuToCartForm', product_entity) }}
  </main>
</article>
