{#
/**
 * @file
 * Template for orders in the 'user' view mode.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - order: The rendered order fields.
 *   Use 'order' to print them all, or print a subset such as
 *   'order.order_number'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ order|without('order_number') }}
 *   @endcode
 * - order_entity: The order entity.
 *
 * @ingroup themeable
 */
#}

{% set order_items_count = 0 %}
{% for key, item in order.order_items if key|first != '#' %}
    {% set order_items_count = order_items_count + 1 %}
{% endfor %}
<div class="user-order-detail">
    <a class="go-back" href="/user/{{ order_entity.getCustomerId() }}">< Go back</a>
    <h2 class="order-title">Bestelling geplaatst op: {{ order.placed.0 }}</h2>
    <div class="order-info">
        <span class="order-number">Bestelnummer: {{ order.order_number.0 }} | </span>
        {% if order_items_count == 1 %}
            <span class="order-count">{{ order_items_count }} artikel, </span>
        {% else %}
            <span class="order-count">{{ order_items_count }} artikels, </span>
        {% endif %}
        <span class="order-total">totaal: {{ order.total_price.0 }}</span>
    </div>

    {{ order.order_items }}

    {{ order.shipments }}

    <div class="customer-information">
        {% if order.billing_information %}
            <div class="customer-billing">
                <div class="field__label">{{ 'Billing information'|t }}</div>
                {{ order.billing_information }}
            </div>
        {% endif %}
        {% if order.shipping_information %}
            <div class="customer-information__shipping">
                <div class="field__label">{{ 'Shipping information'|t }}</div>
                {{ order.shipping_information }}
            </div>
        {% endif %}
    </div>
</div>
