{#
/**
 * @file
 * Default theme implementation to standard AddToAny buttons.
 *
 * Available variables:
 * - addtoany_html: HTML for AddToAny buttons.
 * - button_image: URL for universal button.
 * - button_setting: Setting of button.
 * - button_size: Size of buttons.
 * - universal_button_placement: Value of 'before' or 'after' to place button.
 * - link_url: Value of URL to share.
 * - link_title: Value of page title to share.
 *
 * @ingroup themeable
 */
#}
{# Remove whitespace between tags for even spacing between buttons. #}
{% spaceless %}

  {% if button_setting != 'none' %}
    {% set universal_button %}
      <a class="a2a_dd addtoany_share" href="https://www.addtoany.com/share#url={{ link_url|url_encode }}&amp;title={{ link_title|url_encode }}">
        {% if button_image %}
          <img src="{{ button_image }}" alt="{{ 'Share'|t }}">
        {% endif %}
      </a>
    {% endset  %}
  {% endif %}

  <span class="a2a_kit a2a_kit_size_{{ buttons_size }} addtoany_list" data-a2a-url="{{ link_url }}" data-a2a-title="{{ link_title }}">
<a class="a2a_button_pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
<a class="a2a_button_facebook"><i class="fa fa-facebook-f" aria-hidden="true"></i></a>
<a class="a2a_button_email"><i class="fa fa-envelope" aria-hidden="true"></i></a>
<a class="a2a_button_whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
<a class="a2a_button_copy_link"><i class="fa fa-link" aria-hidden="true"></i></a>

  </span>

{% endspaceless %}
