.export_pieces_print h1 {
  margin-bottom: 30px;
}

@media print {
  nav,
  header,
  footer,
  .export_pieces_print .action-links {
    display: none;
  }
  
  .export_pieces_print {
    font-size: 8pt;
  }
  
  .export_pieces_print th,
  .export_pieces_print td {
    padding: 3pt;
  }
  
  .export_pieces_print h1 {
    font-size: 12pt;
    margin-bottom: 12pt;
    text-align: center;
  }
}
