[data-pickup-order] input,
[data-pickup-order] input:disabled,
[data-pickup-order] input[readonly],
[data-pickup-order] textarea:disabled,
[data-pickup-order] textarea[readonly] {
  margin: 0;
  cursor: pointer;
  padding: 6px 14px;
}

[data-pickup-order] .form-item-pickup-order-pickup-order-date > label {
  text-transform: none;
  margin-bottom: 0.5rem;
}

[data-pickup-order] .form-item-pickup-order-pickup-order-between-end label,
[data-pickup-order] .form-item-pickup-order-pickup-order-between-start label {
  display: none;
}

[data-pickup-between] {
  margin-top: 20px;
}

[data-pickup-between] > legend {
  display: block;
}

[data-pickup-order] .picker__button--clear {
  display: none;
}

[data-pickup-order] > legend {
  display: block;
}

.mvi-pickup-form .form-submit {
  margin-top: 20px;
}

@media screen and (min-width: 435px) {
  [data-pickup-between] > .fieldset-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
  }

  [data-pickup-between] > .fieldset-wrapper .form-item {
    margin: 0 14px;
  }

  [data-pickup-between] > .fieldset-wrapper .form-item:last-of-type {
    margin-right: 0;
  }
}

@media screen and (min-width: 930px) {
  [data-pickup-between] {
    margin-top: 0;
  }

  [data-pickup-order] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  [data-pickup-order] .form-item-pickup-order-pickup-order-date {
    width: auto;
    margin-right: 35px;
  }
}
