<div{{ attributes}}>
    <div class="cart-block-summary">
        <a class="cart-block-link" href="{{ url }}">
          <svg width="24px" height="22px" viewBox="0 0 24 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>Group 4</title>
            <defs>
              <filter id="filter-1">
                <feColorMatrix in="SourceGraphic" type="matrix" values="0 0 0 0 0.000000 0 0 0 0 0.000000 0 0 0 0 0.000000 0 0 0 1.000000 0"></feColorMatrix>
              </filter>
              <polygon id="path-2" points="0 0 22.8466667 0 22.8466667 20.5527 0 20.5527"></polygon>
            </defs>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="menu" transform="translate(-734.000000, -32.000000)">
                <g id="Group-4" transform="translate(67.000000, 26.000000)" filter="url(#filter-1)">
                  <g transform="translate(667.000000, 6.441176)">
                    <g id="Group-3" transform="translate(0.666667, 0.000000)">
                      <mask id="mask-3" fill="white">
                        <use xlink:href="#path-2"></use>
                      </mask>
                      <g id="Clip-2"></g>
                      <path d="M21.6198467,9.58603333 L1.22651333,9.58603333 L1.22651333,7.33047778 L21.69728,7.33047778 L21.69728,9.58603333 L21.6198467,9.58603333 Z M18.3998467,18.9193667 L18.3998467,18.9971444 C18.3998467,19.1527 18.24728,19.3082556 18.09318,19.3082556 L4.59984667,19.3082556 C4.44651333,19.3082556 4.29318,19.1527 4.29318,18.9193667 L3.21984667,10.7527 L19.47318,10.7527 L18.3998467,18.9193667 Z M22.23318,6.16381111 L0.61318,6.16381111 C0.306513333,6.16381111 -0.000153333333,6.39714444 -0.000153333333,6.78603333 L-0.000153333333,10.2082556 C-0.000153333333,10.5193667 0.229846667,10.8304778 0.61318,10.8304778 L2.06984667,10.8304778 L3.14318,19.0749222 C3.14318,19.8527 3.75651333,20.5527 4.59984667,20.5527 L18.09318,20.5527 C18.8598467,20.5527 19.47318,19.9304778 19.5498467,19.1527 L20.62318,10.8304778 L20.62318,10.7527 L22.23318,10.7527 C22.5398467,10.7527 22.84728,10.5193667 22.84728,10.1304778 L22.84728,6.70825556 C22.7698467,6.39714444 22.5398467,6.16381111 22.23318,6.16381111 L22.23318,6.16381111 Z M6.82318,5.54158889 C6.82318,5.54158889 8.20318,4.14158889 10.8098467,1.49714444 C11.19318,1.10825556 11.4998467,0.9527 12.11318,1.49714444 C12.6498467,2.04158889 16.25318,5.46381111 16.3306133,5.54158889 C16.4065133,5.61936667 16.5598467,5.69714444 16.7139467,5.69714444 C16.8665133,5.69714444 17.0198467,5.61936667 17.09728,5.54158889 C17.3265133,5.30825556 17.3265133,4.91936667 17.09728,4.68603333 C16.94318,4.53047778 13.4165133,1.18603333 12.8806133,0.641588889 C11.9598467,-0.213966667 10.8865133,-0.213966667 10.04318,0.641588889 C7.35984667,3.28603333 5.97984667,4.68603333 5.97984667,4.68603333 C5.74984667,4.91936667 5.74984667,5.30825556 5.97984667,5.54158889 C6.20984667,5.77492222 6.59318,5.77492222 6.82318,5.54158889 L6.82318,5.54158889 Z" id="Fill-1" fill="#262324" mask="url(#mask-3)"></path>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
          {% if count > 0 %}
            <span class="cart-block-summary-count">{{ count }}</span>
            {% endif %}
        </a>
    </div>
</div>
