div[id^="edit-mvi-shipping-information-shipping-profile"]{
    display: none;
}
.show-shipping-profile div[id^="edit-mvi-shipping-information-shipping-profile"]{
    display: block;
}
.show-shipping-profile div[id^="edit-mvi-shipping-information-shipping-profile-field-vat-wrapper"]{
    display: none;
}
.show-shipping-profile div[id^="edit-mvi-shipping-information-shipping-profile-field-company-wrapper"]{
    display: none;
}
