a.button{
    display: inline-block;
    background: #957E45;
    color: #fff;
    padding:7px 10px;
    text-decoration: none;
}
a.arrow{
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
}
a.arrow::after{
    content: ' ->';
    display: inline-block;
}