{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
<article{{ attributes.addClass('product-detail') }}>
  <main>
    <div class="product-back-wrapper">
      <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': product_entity.field_category.0.target_id}) }}" class="back-link">{{ 'Back to overview'|t }}</a>
    </div>
    <div class="product-information">
      <div class="product-information-details">
        <h1>{{ product.title.0 }}</h1>
        <div class="price">
          {% if product.variation_field_kiloprice[0] %}
            €{{ product.variation_field_kiloprice[0] }} / kg
          {% else %}
            {{ product.variation_price[0] }} / {{ product_unit_label }}
          {% endif %}
        </div>
        {% if product_warranty_info %}
          <div class="warranty-info">
            {{ 'Warranty'|t }}: {{ product_warranty_info['price'] }}/{{ product_warranty_info['item_label'] }}
          </div>
        {% endif %}
        {% if product_pickup_info %}
          <div class="pickup-info">
            {{ product_pickup_info }}
          </div>
        {% endif %}
        {{- product|without('variation_attributes', 'field_relative_minimum_pickup_ti', 'body', 'field_related_products', 'field_images', 'variation_field_kiloprice') -}}
      </div>
      {{ product.body }}
    </div>
    <figure>
      {{ product.field_images }}
    </figure>
  </main>
  {% if product.field_related_products %}
    <footer>
      <div class="related-products-info">
        <h2>{{ 'You may also like this'|t }}...</h2>
        <div class="controls">
          <div class="product-button-prev"><svg width="84" height="17" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M29 9.178v-2l49.651-.001-6.144-5.712L73.87 0l8.797 8.18-8.797 8.177-1.363-1.464 6.148-5.716H29z" fill="#4D4D4D" fill-rule="nonzero"/><path fill="#131413" d="M1.856 0L.493 1.465 7.716 8.18.493 14.893l1.363 1.464 8.797-8.177z"/></g></svg></div>
          <div class="product-button-next"><svg width="84" height="17" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M29 9.178v-2l49.651-.001-6.144-5.712L73.87 0l8.797 8.18-8.797 8.177-1.363-1.464 6.148-5.716H29z" fill="#4D4D4D" fill-rule="nonzero"/><path fill="#131413" d="M1.856 0L.493 1.465 7.716 8.18.493 14.893l1.363 1.464 8.797-8.177z"/></g></svg></div>
        </div>
      </div>
      <div class="swiper-container related-products-slider">
        <div class="swiper-wrapper">
          {% for key,value in product_entity.field_related_products.value %}
            <div class="swiper-slide">
              {{ product.field_related_products[key] }}
            </div>
          {% endfor %}
        </div>
      </div>
    </footer>
  {% endif %}
</article>
