{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }}>
  <h1><a href="{{ product_url }}">{{ product.title.0 }}</a></h1>
  <div class="product-info">
    <div class="price">
      {% if product.variation_field_kiloprice[0] %}
        €{{ product.variation_field_kiloprice[0] }} / kg
      {% else %}
        {{ product.variation_price[0] }} / {{ product_unit_label }}
      {% endif %}
    </div>
    {% if product_warranty_info %}
      <div class="warranty-info">
        {{ 'Warranty'|t }}: {{ product_warranty_info['price'] }}/{{ product_warranty_info['item_label'] }}
      </div>
    {% endif %}
  </div>
</article>
