{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
{% set classes = ['product-item', 'product-teaser']%}
    <article {{ attributes.addClass(classes) }}>
        {% if product.field_tag.0 %}
            <span class="product-tag">{{ product.field_tag.0 }}</span>
        {% endif %}
        <figure>
            {{ product.field_images.0 }}
        </figure>
        <section class="info">
            <div class="info-text">
                <h1>{{ product.title.0 }}</h1>
            </div>
            <div class="info-actions">
                <div class="price">
                    {# {{ product.variation_price[0] }} #}
                </div>
                <a href="{{ product_url }}" class="button">Bekijk product</a>
            </div>
        </section>
    </article>