{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
<div class="add-to-cart-message-wrapper">
    <article{{ attributes }}>
        <figure>
            {{ product.field_images[0] }}
        </figure>
        <main>
            <h4><a href="{{ product_url }}">{{ product.title.0 }}</a></h4>
            <div class="price-wrapper">
                {{ product.variation_price.0 }}
            </div>
        </main>
    </article>
    <div class="add-to-cart-message-actions">
        <a href="/cart" class="button button--primary">{{ "Checkout"|t }}</a>
        <button type="button" class="button close-dialog-button" title="Close">{{ "Continue shopping"|t }}</button>
    </div>
</div>