{#
/**
 * @file
 * Template for the order receipt.
 *
 * Available variables:
 * - order_entity: The order entity.
 * - billing_information: The billing information.
 * - shipping_information: The shipping information.
 * - payment_method: The payment method.
 * - totals: An array of order totals values with the following keys:
 *   - subtotal: The order subtotal price.
 *   - adjustments: An array of adjustment totals:
 *     - type: The adjustment type.
 *     - label: The adjustment label.
 *     - total: The adjustment total price.
 *     - weight: The adjustment weight, taken from the adjustment type.
 *   - total: The order total price.
 *
 * @ingroup themeable
 */
#}
<style>
  p.address {
    margin-bottom: 0;
  }
</style>
<table style="margin: 15px auto 0 auto; max-width: 768px; font-family: arial,sans-serif">
  <tbody>
  <tr>
    <td>
      <table style="margin-left: auto; margin-right: auto; max-width: 768px; text-align: center;">
        <tbody>
        <tr>
          <td>
            <a href="{{ url('<front>') }}" style="color: #0e69be; text-decoration: none; font-weight: bold; margin-top: 15px;"><img src="{{ url('<front>') }}/themes/base/images/mail-logo.png" alt="Wouter's kwaliteitsvis" width="150px" height="auto"></a>
          </td>
        </tr>
        </tbody>
      </table>
      <table style="text-align: center; min-width: 450px; margin: 5px auto 0 auto;">
        <tbody>
        <tr>
          <td style="font-size: 30px; padding-bottom: 30px">{{ 'Order Confirmation'|t }}</td>
        </tr>
        <tr>
          <td style="font-weight: bold; padding-top:15px; padding-bottom: 15px; text-align: left; border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc">
            {{ 'Order #@number details:'|t({'@number': order_entity.getOrderNumber}) }}
          </td>
        </tr>
        <tr>
          <td>
            {% block order_items %}
              <table style="padding-top: 15px; padding-bottom:15px; width: 100%">
                <tbody style="text-align: left;">
                {% for order_item in order_entity.getItems %}
                  {% if order_item.bundle != 'menu_child' %}
                    <tr>
                    <td style="vertical-align: top; padding-bottom: 5px;">
                      {% if order_item.bundle == 'weight' %}
                        {% set quantity = order_item.getQuantity * 1000 %}
                        {{ quantity }} gr
                      {% else %}
                        {{ order_item.getQuantity|number_format }} {{ order_item.getPurchasedEntity.field_custom_unit.entity.field_volume_unit.entity.name.value }}
                      {% endif %}
                    </td>
                    <td style="padding-bottom: 5px;">
                      <div style="float: left;">
                        <div>{{ order_item.label }}</div>
                        {% if get_order_item_details(order_item) %}
                          <div style="color: #838383; padding-left: 10px">
                            {% for order_item_detail, key in get_order_item_details(order_item) %}
                              <div><strong>{{ order_item_detail }}:</strong> {{ key }}</div>
                            {% endfor %}
                          </div>
                        {% endif %}
                      </div>
                      {% if get_order_item_unit_price(order_item) %}
                        <span style="float: right;">{{ get_order_item_unit_price(order_item) }}</span>
                      {% else %}
                        <span style="float: right;">{{ order_item.getTotalPrice|commerce_price_format }}</span>
                      {% endif %}
                    </td>
                  </tr>
                  {% endif %}
                {% endfor %}
                </tbody>
              </table>
            {% endblock %}
          </td>
        </tr>
        <tr>
          <td>
            {% if (billing_information or shipping_information) %}
              <table style="width: 100%; padding-top:15px; padding-bottom: 15px; text-align: left; border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc">
                <tbody>
                <tr>
                  {% if shipping_method['type'] == 'delivery' and shipping_information %}
                    <td style="padding-top: 5px; font-weight: bold;">{{ 'Shipping Information'|t }}</td>
                  {% endif %}
                  {% if billing_information %}
                    <td style="padding-top: 5px; font-weight: bold;">{{ 'Billing Information'|t }}</td>
                  {% endif %}
                </tr>
                <tr>
                  {% if shipping_information and shipping_method['type'] == 'delivery' %}
                    <td>
                      {% block shipping_information %}
                        {{ shipping_information }}
                      {% endblock %}
                    </td>
                  {% endif %}
                  {% if billing_information %}
                    <td>
                      {% block billing_information %}
                        {{ billing_information }}
                      {% endblock %}
                    </td>
                  {% endif %}
                </tr>
                {#{% if payment_method %}
                  <tr>
                    <td style="font-weight: bold; margin-top: 10px;">{{ 'Payment Method'|t }}</td>
                  </tr>
                  <tr>
                    <td>
                      {% block payment_method %}
                        {{ payment_method }}
                      {% endblock %}
                    </td>
                  </tr>
                {% endif %}#}
                </tbody>
              </table>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td style="font-weight: bold; padding-top:15px; padding-bottom: 15px; text-align: left; border-bottom: 1px solid #cccccc">
            {% if shipping_method['type'] == 'pickup' and pickup_information %}
              <span>{{ pickup_information }}</span><br>
              <span>{{ 'Please bring a printed copy of this order confirmation with you when you pick up your order.'|t }}</span>
            {% elseif shipping_method['type'] == 'delivery' and delivery_information %}
              <span>{{ delivery_information }}</span>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td style="padding-top: 15px;">
            <p style="margin-bottom: 0;">
              {{ 'Subtotal: @subtotal'|t({'@subtotal': totals.subtotal|commerce_price_format}) }}
            </p>
          </td>
        </tr>
        {% for adjustment in totals.adjustments %}
          {% if adjustment.type != 'tax' and adjustment.total.getNumber > 0 %}
          <tr>
            <td>
              <p style="margin-bottom: 0;">
                {{ adjustment.label }}: {{ adjustment.total|commerce_price_format }}
              </p>
            </td>
          </tr>
          {% endif %}
        {% endfor %}
        <tr>
          <td>
            <p style="font-size: 24px; padding-top: 15px; padding-bottom: 5px;">
              {{ 'Order Total: @total'|t({'@total': order_entity.getTotalPrice|commerce_price_format}) }}
            </p>
          </td>
        </tr>
        <tr>
          <td>
            {% block additional_information %}
              {{ 'Thank you for your order!'|t }}
            {% endblock %}
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
