.field-group-html-element.flex {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.field-group-html-element.flex .field--name-field-volume-amount {
  flex: 0 0 155px;
  padding-right: 5px;
}

.field-group-html-element.flex .field--name-field-volume-unit label {
  opacity: 0;
}

.field-group-html-element.flex .field--name-field-volume-unit select {
  height: 28px;
}
