
@media print {
  nav,
  header,
  footer,
  .view .view-header,
  .view .view-filters,
  th.views-field-state,
  td.views-field-state {
    display: none;
  }
  
  .view {
    font-size: 8pt;
  }
  
  .view th,
  .view td {
    padding: 3pt;
  }
  
  /* .view h1 {
    font-size: 12pt;
    margin-bottom: 12pt;
    text-align: center;
  } */
}
