.export_labels_print h1 {
  margin-bottom: 30px;
}

@media print {
  nav,
  header,
  footer,
  .export_labels_print .action-links {
    display: none;
  }
  
  .export_labels_print {
    font-size: 8pt;
  }
  
  .export_labels_print thead {
    display: none;
  }

  .export_labels_print tbody {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .export_labels_print tbody tr {
    border: 1px solid;
    padding: 4pt 9pt;
    margin: 10pt;
  }

  .export_labels_print td {
    padding: 0;
    font-size: 12pt;
  }

  .export_labels_print td:first-child::after {
    content: ' -- ';
  }

  .export_labels_print td:nth-child(2) {
    padding-left: 6px;
  }

  .export_labels_print td:nth-child(2)::after {
    content: ' -- ';
  }

  .export_labels_print td:nth-child(3) {
    padding-left: 6px;
  }

  .export_labels_print td:last-child::before {
    padding-left: 6px;
  }

  
  .export_labels_print h1 {
    font-size: 12pt;
    margin-bottom: 12pt;
    text-align: center;
  }
}
